<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!--说明网站开启webapp 程序的支持-->
		<meta name="apple-touch-fullscreen" content="yes" />
		<!--添加到主屏幕后，全屏显示-->
		<meta name="apple-mobile-web-app-status-bar-style" content="#f96a36" />
		<!--在web app应用下状态条（屏幕顶部条）的颜色-->
		<meta name="format-detection" content="telephone=no" />
		<title>关于我们</title>
		<link rel="stylesheet" href="../../statics/app/css/style.css?v=3">
		<link rel="stylesheet" href="../../statics/app/css/plugs/amazeui.min.css" />
		<script type="text/javascript" src="../../statics/app/js/plugs/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="../../statics/app/js/plugs/amazeui.min.js"></script>
		<script type="text/javascript" src="../../statics/app/js/fontSize.js"></script>
		<link rel="stylesheet" type="text/css" href="../../statics/app/css/plugs/mui.css" />
		<script type="text/javascript" src="../../statics/app/js/plugs/Validform_v5.3.2.js"></script>
		<link rel="stylesheet" href="../../statics/app/css/common/font.css" />
	</head>

	<body class="cht-bg">
		<div class="cht-aboutUs">
			<div class="am-container">
				<h2>公司简介</h2>
				<div class="cht-jj">
					<p class="tb">诚汇通P2P网络借贷平台（www.chenghuitong.net），是由深圳市诚汇通金融信息有限公司运营的互联网金融服务平台，成立于2013年6月，注册资本1亿元人民币。核心团队由银行、金融、互联网、法律等领域资深专业人士组成，总部位于深圳市福田CBD，并在赣州、深圳等地开设分公司和线下网点。</p>
					<p class="tb">诚汇通公司秉承“诚信兴业、安全可靠、以人为本、感恩客户”的经营理念，在符合国家对民间借贷行为的相关法律法规的前提下，通过严格谨慎的风险控制机制，运用先进便捷的互联网信息技术，为有资金需求的融资方和有理财需求的个人搭建一座诚信、安全、透明、专业的投融资平台，为广大投资人提供回报合理、科学高效、安全完善的第三方资金理财服务。不仅为社会闲散资金提供一个安全稳定的全新理财方式，同时也为小微企业找到一条高效的融资渠道，缓解融资难问题。通过诚汇通平台，您可以将富余资金出借给信用良好的小微企业，并获取投资回报，而小微企业通过诚汇通平台发布融资需求，以获得社会闲散资金的帮助，解决流动资金问题。</p>
					<p><strong>公司使命</strong>：推进中国普惠金融的发展，让所有人都能分享到普惠金融红利！</p>
					<p><strong>主营业务</strong>：车辆质押，房产抵押，库存质押，赎楼贷款、信用贷款等网络借贷中介服务。</p>
					<p><strong>经营理念</strong>：诚信兴业，安全可靠、以人为本，感恩客户。</p>
					<p><strong>发展愿景</strong>：做国内口碑很好的网络借贷中介平台。</p>
				</div>
				<h2>总公司展示</h2>
				<div>
					<ul data-am-widget="gallery" class="am-gallery am-avg-sm-1 am-avg-md-3 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }">
						<li>
							<div class="am-gallery-item">
								<img src="../../statics/app/img/about/c_01.JPG" alt="公司前台" />
								<h3 class="am-gallery-title">公司前台</h3>
							</div>
						</li>
						<li>
							<div class="am-gallery-item">
								<img src="../../statics/app/img/about/c_02.JPG" alt="财富管理中心" />
								<h3 class="am-gallery-title">财富管理中心</h3>
							</div>
						</li>
						<li>
							<div class="am-gallery-item">
								<img src="../../statics/app/img/about/c_03.JPG" alt="信贷中心" />
								<h3 class="am-gallery-title">信贷中心</h3>
							</div>
						</li>
						<li>
							<div class="am-gallery-item">
								<img src="../../statics/app/img/about/c_04.JPG" alt="董事会室" />
								<h3 class="am-gallery-title">董事会室</h3>
							</div>
						</li>
						<li>
							<div class="am-gallery-item">
								<img src="../../statics/app/img/about/c_05.JPG" alt="主办公大厅一" />
								<h3 class="am-gallery-title">主办公大厅一</h3>
							</div>
						</li>
						<li>
							<div class="am-gallery-item">
								<img src="../../statics/app/img/about/c_06.JPG" alt="主办公大厅二" />
								<h3 class="am-gallery-title">主办公大厅二</h3>
							</div>
						</li>
					</ul>
				</div>
				<h2>联系我们</h2>
				<div class="cht-jj">
					<p>客服电话：400-018-0107(周一至周五 9:00-17:30) 13613002927(非工作时间)</p>
					<p>公司地址：深圳市CBD福田区福华三路168号国际商会中心2408-2412</p>
					<p>新浪微博：<a href="http://weibo.com/cht608710" target="_blank">http://weibo.com/cht608710</a></p>
					<p>微信订阅号：</p>
					<p class="wxdyh"><img src="../../statics/app/img/about/dyh.jpg" /></p>
				</div>
			</div>
		</div>
	</body>

</html>