<!DOCTYPE html>
<html>

	<head>
		<title>安全保障</title>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui">
		<meta name="location" content="province=广东;city=深圳市;coord=114.063497,22.538715">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no,email=no" name="format-detection">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="ifengjin@ifengjin.cn">
		<link rel="stylesheet" href="../../statics/app/css/style.css">
	</head>

	<body class="security-body">
		<div class="guide-banner divider"><img src="../../statics/app/image/security_banner20150913.jpg" alt="新手指引"></div>
		<h1 class="guide-title divider">
			<span>投资安全</span><br>
			<strong>多重保障 更放心</strong>
		</h1>
		<div class="container security-item">
			<div class="fl pic"><img src="../../statics/app/image/security_001.png" alt=""></div>
			<div class="fr txt">
				<h3>风险控制</h3>
				<p>诚汇通拥有专业资深的风控团队，风险评估综合了小贷机构和银行的优点，形成了一套严谨的贷前、贷中、贷后风险管理体系，将贷款客户的违约风险降至最低，为投资人的投标项目提供有效的风险保障。</p>
			</div>
		</div>
		<div class="container security-item">
			<div class="fr pic"><img src="../../statics/app/image/security_002.png" alt=""></div>
			<div class="fl txt">
				<h3>实缴1亿注册资金</h3>
				<p>诚汇通实际缴纳注册资金达1亿元人民币，保障平台抗风险能力，彰显公司对发展运营“诚汇通品牌”的信心和决心，同时诚汇通在风险控制、安全和技术保障、专业人才引进等多个领域加强管理，确保投资人资金安全及收益最大化。</p>
			</div>
		</div>
		<div class="container security-item">
			<h3>第三方资金托管体系</h3>
			<p>诚汇通与第三方签订资金托管协议，委托第三方提供借款人、平台、投资人三方的资金往来业务与结算的服务，第三方托管系统的纳入，使得诚汇通的资金透明度进一步提升，投资人的资金安全得到了更有力的保障。</p>
			<div class="img"><img src="../../statics/app/image/security_003.png" alt=""></div>
		</div>
		<div class="container security-item">
			<div class="fl pic"><img src="../../statics/app/image/security_004.png" alt=""></div>
			<div class="fr txt">
				<h3>风险准备金</h3>
				<p>诚汇通有一套完善的风险准备金制度，切实保障投资人的利益。诚汇通与华润银行签订风险准备金监管协议。当借款人逾期还款时，平台将按照“风险准备金”资金使用规则从该账户中抽取资金用于垫付投资人（债权人）应收取的本息，也可用于债权回购和其他风险处理等等。</p>
			</div>
		</div>
		<h1 class="guide-title divider">
			<span>模式安全</span><br>
			<strong>政策法规保障</strong>
		 </h1>
		<div class="container security-item" style="padding-bottom:0;border-bottom:none">
			<div class="fl pic"><img src="../../statics/app/image/security_005.png" alt=""></div>
			<div class="fr txt">
				<h3>合法合规</h3>
				<p>根据合同法及相关规定，诚汇通无资金池，不是虚拟借款主体，不允许借款企业借新还旧，不为借款企业保证。诚汇通为投资人和融资企业提供专业的居间服务，严谨签署相关合同，严格审查借款企业，严肃执行监管程序。</p>
			</div>
		</div>
		<footer class="site-footer">
			<address>深圳市诚汇通金融信息有限公司 Copyright &copy;</address>
		</footer>
	</body>

</html>