<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!--说明网站开启webapp 程序的支持-->
		<meta name="apple-touch-fullscreen" content="yes" />
		<!--添加到主屏幕后，全屏显示-->
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="#f96a36" />
		<!--在web app应用下状态条（屏幕顶部条）的颜色-->
		<meta name="format-detection" content="telephone=no" />
		<title>诚汇通协议书</title>
		<link rel="stylesheet" href="../../statics/app/css/style.css">
		<link rel="stylesheet" href="../../statics/app/css/plugs/amazeui.min.css" />
		<script type="text/javascript" src="../../statics/app/js/plugs/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="../../statics/app/js/plugs/amazeui.min.js"></script>
		<script type="text/javascript" src="../../statics/app/js/fontSize.js"></script>
		<link rel="stylesheet" type="text/css" href="../../statics/app/css/plugs/mui.css" />
	</head>

	<body>
		<!--协议-->
		<div class="cht-protocol">
			<div class="am-container">
				<h1>诚汇通App服务协议</h1>
				<h2 class="h2">第一章 总则</h2>
				<p>感谢您选择诚汇通App并成为本App用户。您成为本App用户前务必仔细阅读并同意本服务协议。本协议作为本App相关权利、义务条款的附件，在您注册成为本App用户后即对您及本App产生约束力。</p>
				<p>第一条：诚汇通App（以下简称“本App”）是由深圳市诚汇通金融信息有限责任公司负责运营的投融资（借贷）信息服务平台。本服务协议是约定本平台与本平台会员（以下简称“会员”或“用户”）之间权利义务关系的法律协议。</p>
				<p>第二条：本平台实行注册会员制管理，请用户务必在注册之前认真阅读本平台服务协议、公告及规则制度，如有任何疑问，可向本平台咨询。 用户成功注册为会员后，即被视为同意接受本平台的服务协议、公告及规则制度。</p>
				<p>第三条：本平台是为用户提供投融资信息交流、服务的媒介平台。本平台本身并不是交易任何一方。用户及访问者同意按照平台所提供的服务使用本平台，本平台对信息发布方的身份认定、履约能力、信息准确性及其他未告知信息的真实性有义务进行核实。</p>
				<p>第四条：会员在使用本平台提供的各项服务时，必须严格遵守本服务协议的所有条款，并遵守本平台的全部管理规则。</p>
				<p>第五条：本平台有权根据客观情况的变化随时进行业务性调整，并变更本平台的服务协议，变更后的服务协议将以App公告形式通知用户。经修改的服务协议在公告之时立即自动生效。用户可以选择继续使用调整后的服务。如果用户对变更后的用户协议持有不同意见，可以选择退出本平台，本平台对此不承担任何法律责任和费用补偿，但本平台仍对己发生的用户使用行为负完全的不可撤销的服务责任。如果用户继续选择使用本平台，则视为用户已经完全接受本平台的协议及其修改。</p>

				<h2>第二章 会员的权利和义务</h2>
				<p>第六条：会员应当为具备相应民事行为能力的自然人、有合法经营资格的法人或者其他社会组织，不具备民事行为能力或者缺乏特定许可资质的用户与本平台签署的协议无效。</p>
				<p>第七条：会员有权拥有本平台的会员帐号及密码，可以使用会员帐号及密码访问本平台。用户应当妥善地保管自己的用户名称和密码，不得以任何形式擅自转让或授权他人使用自己在本平台的用户帐号。本平台会员对其在本平台注册的用户名和密码的安全性负全部责任，并对以其用户名进行的所有活动和事件负全部责任，会员若发现任何非法使用其账号或存在安全漏洞的情况，应立即通知本平台。</p>
				<p>第八条：会员有权根据本平台服务协议的规定利用本平台查询投融资信息、发布信息、参与信贷服务，有权享受本平台提供的其它服务。本平台提供给会员的服务是不可转让的和非独占性的。在不对本平台权利限制的前提下，除非经本平台明确书面同意，用户不得转载、发布、销售，电子邮件或以其他任何形式将本平台的内容或服务转移到第三方。</p>
				<p>第九条：会员因通过本平台开展投融资信息活动与本平台其他会员产生诉讼的，有权通过司法部门要求本平台提供相关资料。</p>
				<p>第十条：会员应当保证在本平台操作过程中遵守诚实信用的原则。会员在本平台发布的资料或信息失实，或发布、使用时侵害了第三方的权利，会员须独立承担所有的法律责任，本平台不对此承担任何责任。由第三方提供担保的会员，担保方需承担连带责任。</p>
				<p>第十一条：会员在使用本平台时，必须遵守国家法律法规和本平台的全部规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，会员须独立承担所有的法律责任。</p>
				<p>第十二条：会员可以下载本平台显示的资料,但不得把本平台的任何数据、资料用于任何商业用途，无论是否在数据、资料上明示，所有此等数据、资料都是受到版权法的法律保护。其中借款协议可作为本协议之附件作为投融资（借贷）双方的权责证明。</p>
				<p>第十三条：本平台内的服务费用。将以公告或规则制度的形式在平台上发出，一旦本平台发出公告，会员必须根据本平台的相关规定按时足额交纳服务费用，否则将不能继续使用本平台，但己形成的法律行为仍须执行完毕。</p>

				<h2>第三章 平台的权利与义务</h2>
				<p>第十四条：本平台遵循公开、公平、公正和诚实信用原则。</p>
				<p>第十五条：本平台有义务在现有技术上维护整个网络的正常运行，并努力提升和改进技术。 对于系统发生故障影响到本服务的正常运行，本平台承诺及时处理进行修复。但用户因此而产生的经济和精神损失，本平台不承担责任和费用补偿。此外，本平台保留在保证会员利益的情况下不经事先通知为维修保养、升级或其他目的暂停本服务任何部分的权利。</p>
				<p>第十六条：本平台有义务对用户在注册使用本平台中所遇到的相关问题及反映的相关情况，及时回复。</p>
				<p>第十七条：会员在使用本平台时，不得对本平台利益构成任何现实或潜在的损害或冲突本平台或其它 本平台认为应当终止服务的情况， 本平台有权做删除其信息、终止服务提供等处理，且无须征得会员的同意，而无需承担其他法律责任和费用补偿。</p>
				<p>第十八条：会员通过本平台开展各类活动时与本平台的其它会员产生诉讼的，会员通过司法部门或行政部门依照法定程序要求本平台提供相关数据的，本平台应积极配合并提供有关资料。也可协商沟通解决，由本平台负责相关法律事务的处理。</p>
				<p>第十九条：经国家生效法律文书或行政处罚决定确认会员存在违法行为，或者本平台有足够事实依据可以认定会员存在违法或违反服务协议行为的，本平台有权在App上公布会员的违法行为，并保留进一步向行政机关举报的权利。</p>
				<p>第二十条：对于会员在本平台发布的各类不良信息，本平台有权在不通知会员的前提下进行删除或采取其它限制性措施。</p>

				<h2>第四章 服务的中断与中止</h2>
				<p>第二十一条：会员向本平台提出注销会员身份时，经本平台审核，由本平台注销该会员的帐号信息，会员即解除与本平台的服务协议关系，同时本平台无需退还未履行部分的服务费用，且无需承担任何违约责任。本平台仍保留该会员的注册数据及以前的交易行为记录。</p>
				<p>第二十二条：按照主管部门的要求或在会员违反国家法律法规或本服务协议及其修改本文本的相关规定时，本平台有权终止向该会员提供服务，同时本平台无需退还未履行部分的服务费用，且无需承担任何违约责任。</p>
				<p>第二十三条：本平台若发现会员注册资料中有虚假信息，有权终止为该会员提供服务，同时本平台无需退还未履行部分的服务费用，且无需承担任何违约责任。</p>
				<p>第二十四条：本平台有权终止向不按时足额交纳服务费用的会员提供服务。会员注册后长期闲置不用的帐号或本平台发现会员恶意注册帐号的或本平台收到第三方投诉且该第三方出具相应证据的或其他本平台认为是符合整体服务需求的特殊情形，本平台有权终止向该会员提供服务，同时本平台无需退还未履行部分的服务费用，且无需承担任何违约责任。</p>
				<p>第二十五条：不论有无原因，在会员已通过本平台产生的法律行为执行完毕后。平台有权在通知或不通知的前提下终止本服务协议，有权拒绝向任何用户提供或者继续提供任何服务； 用户亦有权随时终止本服务协议，但需通知本平台，而且在本服务协议及包含的协议下所有权力及义务完毕以前仍将遵守相关规定，否则本平台将限制其操作行为。</p>

				<h2>第五章 关于链接</h2>
				<p>第二十七条：会员承认和同意，对于任何因使用或信赖链接App或资源上获取的此类内容、宣传、产品、服务或其他材料而造成（或声称造成）的任何直接或间接损失，本平台均不承担责任。</p>
				<h2>第六章 知识产权</h2>
				<p>第二十八条：本平台所使用的任何相关软件、程序、内容、商标、专有名称、标识，包括但不限于作品、图片、档案、资料、App构架、网址域名、App版面的安排、网页设计、经由本平台或广告商向用户呈现的广告或资讯，均由权利人依法享有相应的知识产权，包括但不限于著作权、商标权、专利权或其它专属权利等，受到相关法律的保护。未经权利人书面授权授权，会员保证不修改、出租、出借、出售、转发、演示、播出、散布本平台及本平台站所使用的上述任何资料和资源，或在任何非属本平台服务上进行容易在客户中引起混淆或引起歧义的使用，或根据上述资料和资源制作成任何种类物品，或以任何曲解或诋毁本平台之形式使用，或用于其他任何公众商业用途。</p>
				<p>第二十九条：会员不得经由非本平台授权的法律主体所提供的界面使用本App。</p>

				<h2>第七章 违约责任</h2>
				<p>第三十条：会员明确理解和同意，本平台提供的居间服务，不对使用或未能使用服务而导致的任何损失承担责任。产生法律纠纷的，会员独立承担法律责任和义务，但本平台可接受会员委托进行相关事项的处理和操作。</p>
				<p>第三十一条：会员明确理解和同意，因为互联网上的身份认证极其困难，虽然本平台将尽力确认用户身份并提供各方面参考信息，但用户须自行确认其他交易方的身份并对此负责，本平台对用户的身份，信用度等不负任何责任。用户利用虚假身份在本平台活动产生的一切损失由该用户或其担保方负全部责任。</p>
				<p>第三十二条：会员明确理解和同意，本平台有义务第三方未经批准的接入或第三方更改会员的传输数据而导致的任何损失承担挽救责任。</p>
				<p>第三十三条：会员明确理解并同意，投融资信息最终解释权归发起人，发起人保留更改信息发布的内容、时间等权利。本平台仅为会员提供电子商务居间服务，对于会员的行为不具有最终解释权。被委托事项的解释权除外。</p>
				<p>第三十四条：会员明确理解并同意，如因其违反有关法律或者本服务协议或者修改本文本的规定，使本平台遭受任何损失，会员应对本平台予以充分的、完全的、及时的赔偿或补偿。</p>
				<p>第三十五条：会员明确理解并同意，在本平台表述的任何意见均属于作者个人意见，并不代表本平台或其关联公司的意见。</p>

				<h2>第八章 不可抗力或者意外事件</h2>
				<p>第三十六条：因不可抗力或者其他意外事件，该等事件包括但不限于互联网连接故障、电脑或通讯以及其他系统的故障、电力故障、黑客攻击、网络病毒、电信部门技术管制、自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为等， 致使本平台暂停或延迟或未能履约或终止服务的，不视为违约，本平台不对会员承担任何责任。</p>
				<h2>第九章 附则</h2>
				<p>第三十七条：本平台重视对会员隐私的保护。会员提供的注册资料及有关的其他资料将受到中国有关隐私的法律，但特别声明中隐私权声明部分约定的特殊情形除外。</p>
				<p>第三十八条：本服务协议条款的解释与适用，以及与本服务协议有关的争议，均应依照中华人民共和国法律予以处理，并受本平台所在地深圳市福田区管辖权的法院管辖。</p>
				<p>第三十九条：如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。 </p>

			</div>
		</div>
	</body>

</html>