{template header}
  <!-- help -->
  <link href="../../statics/resource/css/help/help.css" rel="stylesheet">
  
  <!-- 路径导航 -->
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="<?=url('article','default','index')?>">首页</a></li>
      <li><a href="<?=url('article','default,'index',array('cateid'=>6))">帮助中心</a></li>
      <li class="active">正文</li>
    </ol>
    <div class="banner container hidden"></div>
  </div>
  <!-- /路径导航 -->
  
  <div class="container">
    <ul class="nav nav-tabs font16px bold" role="tablist">
      <li class="active"><a href="#help1" role="tab" data-toggle="tab">名词解释</a></li>
      <li><a href="#help2" role="tab" data-toggle="tab">操作流程</a></li>
      <li><a href="#help3" role="tab" data-toggle="tab">账户管理</a></li>
      <li><a href="#help4" role="tab" data-toggle="tab">其他常见问题</a></li>
    </ul>
  </div>
  <div class="help-box container">
    <div class="tab-content help-left pull-left">
      <!-- 名词解释 -->
      <div class="tab-pane active" id="help1">
        <p>
          <div class="bold">1、按月付息到期还本：</div>
          <div>又称先息后本，是目前我平台借款标的还款方式之一，指在借款期内，借款人每月向投资人偿还借款利息，到期后归还本金及未结清利息的还款方式。</div>
        </p>
        <p>
          <div class="bold">2、按月分期等额本息：</div>
          <div>是指在借款期内，借款人每月向投资人偿还相同金额的贷款（包含本金和利息），每期还款额中，本金比重逐月递增、利息比重逐月递减。</div>
          
          <div class="bold">计算公式：</div>
          <div>每月还款额=[贷款本金×月利率×（1+月利率）^还款总期数]÷[（1+月利率）^还款总期数-1]</div>
        </p>
        <p>
          <div class="bold">3、招标：</div>
          <div>是指借款人发出贷款请求，即创建一个借款需求列表的行为。</div>
        </p>
        <p>
          <div class="bold">4、投标：</div>
          <div>是指投资人将其账户内的部分或全部资金出借给其指定的借款标的行为。</div>
        </p>
        <p>
          <div class="bold">5、满标：</div>
          <div>一个借款标在有效期限内满额筹集到所需资金即为满标。</div>
        </p>
        <p>
          <div class="bold">6、流标：</div>
          <div>是指一个借款标在投标期限内未筹齐贷款称之为流标，也就是贷款失败。</div>
        </p>
        <p>
          <div class="bold">7、过夜标：</div>
          <div>是诚汇通考虑到部分用户白天工作较忙，没有时间打理账户，而把次日的借款标提前至前天晚上22：00发布，晚上22：00发布的标就叫过夜标。过夜标满标后次日开始计息。</div>
        </p>
        <p>
          <div class="bold">8、充值：</div>
          <div>用户通过专门的第三方转账平台向平台账户充值。</div>
        </p>       
        <p>
          <div class="bold">9、约标：</div>
          <div>约标是指当投资人资金量较大，或与借款人事先协商好的情况下，平台为该投资人单独发布一个带有投标密码的、仅限约标用户投资的借款标。约标不受满标时间限制，即投即满，满标复审之后，系统自动发放投标奖励。</div>
        </p>
        <p>
          <div class="bold">10、抵押：</div>
          <div>就是债务人或第三人不转移法律规定的可做抵押的财产的占有，将该财产作为债权的担保，当债务人不履行债务时，债权人有权依法就抵押物卖得价金优先受偿。</div>
        </p>
        <p>
          <div class="bold">11、质押：</div>
          <div>就是债务人或第三人将其动产移交债权人占有，将该动产作为债权的担保，当债务人不履行债务时，债权人有权依法就该动产卖得价金优先受偿。</div>
        </p>
      </div>
      <!-- /名词解释 -->
      
      <!-- 操作流程 -->
      <div class="tab-pane" id="help2">
        <ul class="help2-nav nav nav-tabs font16px bold" role="tablist">
          <li class="active"><a href="#help2-1" role="tab" data-toggle="tab">注册认证</a></li>
          <li><a href="#help2-2" role="tab" data-toggle="tab">充值</a></li>
          <li><a href="#help2-3" role="tab" data-toggle="tab">投资</a></li>
          <li><a href="#help2-4" role="tab" data-toggle="tab">还款</a></li>
          <li><a href="#help2-5" role="tab" data-toggle="tab">提现</a></li>
          <li><a href="#help2-6" role="tab" data-toggle="tab">提醒功能</a></li>
        </ul>
        <div class="tab-content help2-box">
          <!-- 注册认证 -->
          <div class="tab-pane active" id="help2-1">
            <p>
              <div class="bold">1、怎么注册?</div>
              <div>登录诚汇通网站，填写邮箱或手机号码，注册帐号。</div>
            </p>
            <p>
              <div class="bold">2、怎么进行手机认证、邮箱认证和实名认证?</div>
              <div>登录诚汇通网站，进入我的账户，点击会员认证中的图标进行认证。</div>
            </p>
            <p>
              <div class="bold">3、通过邮箱注册时，认证失败怎么办?</div>
              <div>1）首先请检查您的邮箱地址是否输入有误；</div>
              <div>2）如果确定邮箱地址输入无误，请查找您邮箱的垃圾文件夹，有时邮箱会把正常的邮件误判为垃圾邮件。您可以点击“重新发送”，或将发件人设为白名单；</div>
              <div>3）如果仍收不到认证邮件，请使用另一个邮箱重新注册。</div>
            </p>
            <p>
              <div class="bold">4、注册时，手机收不到验证码怎么办?</div>
              <div>1）请检查您的手机号码是否输入正确；</div>
              <div>2）请确认手机是否安装短信拦截或过滤软件；</div>
              <div>3）请确认手机是否能够正常接收短信（信号问题、欠费、停机等）；</div>
              <div>4）如号码无误，请重新获取验证码。</div>
              <div>5）短信收发过程中可能会存在延迟，请耐心等待；如果长时间未收到，请重新获取或联系客服。</div>
            </p>
            <p>
              <div class="bold">5、注册成功之后昵称可以修改吗?</div>
              <div>不可以。昵称一旦注册成功不能修改。</div>
            </p>
            <p>
              <div class="bold">6、为什么要进行实名认证？?</div>
              <div>为确保用户资金的安全性，在提现、申请借款前，必须进行实名认证。</div>
            </p>
            <p>
              <div class="bold">7、实名认证无法通过怎么办?</div>
              <div>1）请确认上传的证件图片是否能够清晰辨识姓名和身份证号码；</div>
              <div>2）上传图片大小应不超过1.5M；</div>
            </p>
          </div>
          <!-- /注册认证 -->
          
          <!-- 充值 -->
          <div class="tab-pane" id="help2-2">
            <p>
              <div class="bold">1、充值收费吗?</div>
              <div>在诚汇通投资，充值不收取投资人任何费用。</div>
            </p>
            <p>
              <div class="bold">2、怎么充值?</div>
              <div>诚汇通目前有线上充值和线下充值两种方式。</div>
              <div>点击网站首页“我的账户”→“充值”进入充值界面→根据提示进行充值操作</div>
              <div>线上充值：相对于线下充值而言的，是指用户通过专门的第三方转账平台向平台账户充值。</div>
              <div>线下充值：相对于线上充值而言的，用户直接转账至公司指定的打款账户的充值方式称之为线下充值。转账成功后点击“我的账户”→“充值”→“线下充值”，填写并提交充值信息，最后向客服报备入账。</div>
            </p>
            <p>
              <div class="bold">3、充不了值怎么办?</div>
              <div>1）您的银行卡未开通网银，请开通网银支付功能；</div>
              <div>2）您的银行卡余额不足；</div>
              <div>3）您的银行卡或已过期、作废、挂失；</div>
              <div>4）您输入的银行卡号或密码错误；</div>
              <div>5）银行数据传输异常请稍后再试；</div>
              <div>6）超过银行充值限额，请联系银行提供支付额度。</div>
              <div>其他充值问题请您通过官方QQ群、热线电话、或客服中心联系我们。</div>
            </p>
            <p>
              <div class="bold">4、怎么开通网上银行?</div>
              <div>开通网上银行需要您携带有效身份证件，到当地您所持银行卡的发卡行任意营业网点，即可申请开通网上银行业务。</div>
            </p>
            <p>
              <div class="bold">5、为什么网银充值的时候，打不开充值页面，不能进入到银行的交易页面?</div>
              <div>一般情况下，不能进入到银行的交易页面有可能是您的上网助手或者防火墙拦截了，在充值的时候您可以暂时关闭后再尝试操作，也有可能是您的浏览器原因导致的，建议您使用稳定性较高的Microsoft IE浏览器，如果您是使用IE浏览器操作的，您可以尝试清理您的浏览器缓存，设置兼容性视图。</div>
            </p>
            <p>
              <div class="bold">6、充值是否限额?</div>
              <div>诚汇通没有充值金额限制，充值限额是由银行支付限额、第三方支付平台支付限额和用户自己设定的支付限额三者共同决定，取三者最小值。</div>
            </p>
          </div>
          <!-- 充值 -->
          
          <!-- 投资 -->
          <div class="tab-pane" id="help2-3">
            <p>
              <div class="bold">1、怎样投资?</div>
              <div>登录诚汇通网站注册账户→实名认证→账户充值→我要投资</div>
            </p>
            <p>
              <div class="bold">2、什么是标?</div>
              <div>标，是借款标的简称，是借款人以列表的形式在平台网站上发布的筹资信息。</div>
            </p>
            <p>
              <div class="bold">3、什么是保里产品?</div>
              <div>保理（Factoring）又称托收保付，卖方将其现在或将来的基于其与买方订立的货物销售/服务合同所产生的应收账款转让给保理商（提供保理服务的金融机构），由保理商向其提供资金融通、买方资信评估、销售账户管理、信用风险担保、账款催收等一系列服务的综合金融服务方式。它是商业贸易中以托收、 赊账方式结算货款时，卖方为了强化应收账款管理、增强流动性而采用的一种委托第三者（保理商）管理应收账款的做法。</div>
              <div>保理项目是诚汇通将平台上的投资人、保理公司、原应收账款的两端对接起来。投资人支付对价给保理公司，保理公司转让应收账款给投 资人且到期回购，投资人获得相应的年化收益。基础交易中原始债务方为实力雄厚的大中型企业，投资人本息由保理公司到期回购及原债务方的极优质信誉共同提供有力保障。</div>
            </p>
            <p>
              <div class="bold">4、发标时间?</div>
              <div>周一至周五：上午9：30  满标后视情况续发</div>
              <div>周六、周日：上午10：00 满标后视情况续发</div>
              <div>过夜标：每天晚上22：00发布</div>
            </p>
            <p>
              <div class="bold">5、发标预告?</div>
              <div>每日17：30之前在公司网站发布次日的发标情况</div>
            </p>
            <p>
              <div class="bold">6、什么是过夜标?</div>
              <div>过夜标是公司考虑到因部分用户白天工作较忙，没有时间打理账户，而把次日的标提前至前天晚上22：00发布，次日开始计息。</div>
            </p>
            <p>
              <div class="bold">7、投标金额限制?</div>
              <div>投标金额限制</div>
            </p>
            <p>
              <div class="bold">8、约标?</div>
              <div>约标是指当投资人资金量较大，或与借款人事先协商好的情况下，平台为该投资人单独发布一个带有投标密码的、仅限约标用户投资的借款标。约标不受满标时间限制，即投即满，满标复审之后，系统自动发放投标奖励。</div>
              <div>约标规则：</div>
              <div>①约标金额不低于10万元；</div>
              <div>②约标用户向客服预约，由客服主管根据标量安排投标时间；</div>
              <div>③平台根据投资人预约时间先后顺序安排约标，预约较早的投资人优先投标；</div>
              <div>④每月最后一天晚上22：00-24：00不安排约标。</div>
            </p>
            <p>
              <div class="bold">9、投标之后资金为什么会冻结?</div>
              <div>投资人选定标的并完成投标后，在此标的没有结束之前，这部分投标金额将被锁定。如果该标的成功，这部分金额将转借款人；如果该标的没有成功，这部分金额将立刻返还给投资人。</div>
            </p>
            <p>
              <div class="bold">10、怎么设置自动投标?</div>
              <div>可通过网站或手机微信端投标，微信端投标请关注诚汇通微信服务号：chenghuitong_1，可进行投标、提现、查看账户、查看发标预告等。</div>
            </p>
            <p>
              <div class="bold">11、怎么设置自动投标?</div>
              <div>登录公司网站“我的账户”→“自动投标”→“添加自动投标”</div>
              <div>自动投标设置成功之后，用户会收到短信提醒。</div>
            </p>
            <p>
              <div class="bold">12、借款协议怎么查看?</div>
              <div>投资人所投之标满标复审之后，系统自动发送该款借款协议至用户认证邮箱。</div>
              <div>投资人所投之标满标复审之后，系统自动发送该款借款协议至用户认证邮箱。</div>
            </p>
            <p>
              <div class="bold">13、投标后是否可以取消?</div>
              <div>用户在投标后不允许取消，若此标满标，通过网站审核后，用户账户上的冻结金额将转入此标借款者金账户。若此标流标，则用户账户上的冻结金额自动转为可用金额。</div>
            </p>
          </div>
          <!-- /投资 -->
          
          <!-- 还款 -->
          <div class="tab-pane" id="help2-4">
            <p>
              <div class="bold">1、还款时间是什么时候?</div>
              <div>周一至周五：9：30，周六、周日：10：00</div>
            </p>
            <p>
              <div class="bold">2、回款有短信通知吗?</div>
              <div>借款人到期还款后，平台同步发送短信通知用户回款信息。</div>
            </p>
            <p>
              <div class="bold">3、诚汇通有哪些还款方式?</div>
              <div>目前诚汇通有“按月分期 等额本息”和“按月付息 到期还本”两种还款方式。</div>
              <div><span class="bold">按月付息 到期还本：</span>又称先息后本，是目前我平台借款标的还款方式之一，指在借款期内，借款人每月向投资人偿还借款利息，到期后归还本金及未结清利息的还款方式。</div>
              <div><span class="bold">按月分期 等额本息：</span>是指在借款期内，借款人每月向投资人偿还相同金额的贷款（包含本金和利息），每期还款额中，本金比重逐月递增、利息比重逐月递减。</div>
            </p>
          </div>
          <!-- /还款 -->
          
          <!-- 提现 -->
          <div class="tab-pane" id="help2-5">
            <p>
              <div class="bold">1、提现处理时间</div>
              <div>周一至周五：16：00前申请的提现，当天处理；16：00后申请的提现，次日上午处理。</div>
              <div>周六：14：00前申请的提现，当天处理；14：00后申请的提现，下周一上午处理。</div>
              <div>周日：周日申请的提现，下周一上午处理。</div>
            </p>
            <p>
              <div class="bold">2、到账时间</div>
              <div>以处理时间为准，处理当天均可到账。</div>
            </p>
            <p>
              <div class="bold">3、提现步骤</div>
              <div>设置交易密码→绑定提现银行卡→申请提现→到账</div>
              <div>①设置交易密码：登录网站“我的账户”→“基本设置”→“安全中心”→“设置交易密码”</div>
              <div>②绑定提现银行卡：登录网站“我的账户”→“账户中心”→“账户提现”→“提现银行帐号”</div>
              <div>③申请提现：登录网站“我的账户”→“账户中心”→“账户提现”→“申请提现”</div>
              <div>④财务审核：财务审核通过后，“提现记录”中显示“审核通过”，审核通过后，财务人员按照提交先后顺序打款</div>
              <div>⑤到账：处理当天到账</div>
            </p>
            <p>
              <div class="bold">4、怎样修改提现银行卡</div>
              <div>每位用户仅有2次修改提现银行卡的机会，请谨慎使用。</div>
              <div>登录网站“我的账户”→“账户中心”→“账户提现”→“提现银行帐号”修改，提交后请提醒客服报备处理。</div>
            </p>
            <p>
              <div class="bold">5、提现是否有金额和笔数限制？</div>
              <div>最低提现金额不小于100元，无最高提现金额和笔数限制。提现金额低于100元的，须在投资人申请注销账户情况下方可予以处理。</div>
            </p>
            <p>
              <div class="bold">6、提现收取手续费吗？</div>
              <div>平台通常不收取提现手续费，但用户自充值之日起15日内提现的，将收取提现金额的0.5%为手续费（避免恶意套现），超过15日（含15日）的，提现免费；</div>
            </p>
            <p>
              <div class="bold">7、可以取消已提交的提现申请吗？</div>
              <div>提现申请未被审核通过之前，可以在“我的账户”的提现界面点击“取消提现”；如通过审核，则不能取消提现。</div>
            </p>
          </div>
          <!-- /提现 -->
          
          <!-- 提醒功能 -->
          <div class="tab-pane" id="help2-6">
            <p class="indent">
              <span>平台目前有回款短信提醒、自动投标设置短信提醒、借款协议发送等提醒功能，
如需退订以上提醒服务，可登录网站“我的账户”→“基本设置”→“设置提醒”关闭不需要的功能。</span>
            </p>
          </div>
          <!-- /提醒功能 -->
        </div>
      </div>
      <!--  /操作流程 -->
      
      <!-- 账户管理 -->
      <div class="tab-pane" id="help3">
        <ul class="help2-nav nav nav-tabs font16px bold" role="tablist">
          <li class="active"><a href="#help3-1" role="tab" data-toggle="tab">银行卡</a></li>
          <li><a href="#help3-2" role="tab" data-toggle="tab">安全管理</a></li>
        </ul>
        <div class="tab-content help2-box">
          <!-- 银行卡 -->
          <div class="tab-pane active" id="help3-1">
            <p>
              <div class="bold">1、如何绑定银行卡?</div>
              <div>登陆诚汇通账户，点击“我的账户”→“账户中心”→“账户提现”→“提现银行帐号”进行绑定，需填写银行卡账户名、卡号、选择银行、开户支行。</div>
            </p>
            <p>
              <div class="bold">2、绑定的银行卡有哪些要求?</div>
              <div>绑定的银行卡账户名必须与实名认证的证件姓名一致，且仅限借记卡，绑定后不可随意更改。每个账户仅可绑定一张银行卡，有两次修改机会。</div>
            </p>
            <p>
              <div class="bold">3、为什么要填写开户支行?</div>
              <div>银行规定跨行汇款必须要填开户行名称，名称填写错误或未填写，可能会被退汇，为了保证资金能够及时到达您的账户，请准确填写开户支行等信息。</div>
            </p>
          </div>
          <!-- /银行卡 -->
          
          <!-- 安全管理 -->
          <div class="tab-pane active" id="help3-2">
            <p>
              <div class="bold">1、我的诚汇通账户都需要设置哪些密码?</div>
              <div>1）登陆密码：登陆诚汇通账户时，需要输入的密码。</div>
              <div>2）交易密码：投资及提现时，需要输入的密码，如未设置，系统将默认与登录密码一致。小诚提醒：请使用较长、复杂的字母数字组合提高密码强度，不要用生日、相同数字或字母等容易被别人猜中的密码；请定期修改并妥善保管您的密码。</div>
            </p>
            <p>
              <div class="bold">2、忘记登录密码怎么办?</div>
              <div>打开网站登录界面，点击“忘记密码”，通过绑定手机号或者绑定邮箱找回登陆密码。</div>
            </p>
            <p>
              <div class="bold">3、怎么修改登录密码（或交易密码）?</div>
              <div>打开诚汇通网站登录界面，点击“我的账户”→“基本设置”→“安全中心”修改密码。</div>
            </p>
            <p>
              <div class="bold">4、如何修改个人资料?</div>
              <div>用户可以修改头像、性别、详细地址等，登陆诚汇通账户，进入“我的账户--我的账户--账户安全管理--个人信息完善”里面进行修改。</div>
            </p>
            <p>
              <div class="bold">5、我的个人信息安全吗?</div>
              <div>网站严格遵守国家相关法律法规，对用户的隐私信息进行严格的保护。</div>
              <div>网站采用业界最先进的加密技术，24小时技术监控，用户的注册信息、账户收支信息都已进行高强度的加密处理，不会被不法分子窃取到。</div>
              <div>网站设有严格的安全系统和完善的管理制度，未经允许的员工不可获取您的相关信息。</div>
              <div>采用集中的影像存储服务来保证账户信息、合同文件等网站信息的存储，有效避免被篡改以及删除，并可以实现永久保存。</div>
            </p>
          </div>
          <!-- /安全管理 -->
        </div>
      </div>
      <!-- /账户管理 -->
      
      <!-- 其他常见问题 -->
      <div class="tab-pane" id="help4">
        <p>
          <div class="bold">1、诚汇通网站无法登录？</div>
          <div>如缓存文件过多、安全级别过高、网络繁忙、浏览器版本较低等原因可能会导致诚汇通用户账号无法登录，建议您尝试以下方法解决：</div>
          <div>1）打开IE浏览器点击“工具”－“Internet选项”。</div>
          <div>2）选择“常规”－点击“删除cookies”后再点击“确定”。</div>
          <div>3）点击“删除文件(F)”-在“删除所有脱机内容”前打勾，点击“确定”。</div>
          <div>4）点击“安全”－将“安全级”调为中级。</div>
          <div>5）点击“隐私”设置为“默认”级别，最后点击“确定”保存操作。完成以上操作后请再重新启动电脑。</div>
          <div>注意：如果使用以上方法仍无法登录账号，请致电400-018-0107联系网站客服人员。</div>
        </p>
        <p>
          <div class="bold">2、抵押和质押的区别</div>
          <div>抵押与质押的区别在于：1）抵押的标的物通常为不动产、特别动产（车、船等）；质押则以动产为主。2）抵押要登记才生效，质押则只需占有就可以。3）抵押只有单纯的担保效力，而质押中质权人既支配质物，又能体现留置效力。4）抵押权的实现主要通过向法院申请拍卖，而质押则多直接变卖。</div>
        </p>
        <p>
          <div class="bold">3、关于信用卡的使用</div>
          <div>平台不建议使用信用卡投资。投资有风险，请谨慎投资。平台禁止利用信用卡恶意套现。</div>
        </p>
        <p>
          <div class="bold">4、如果借款人逾期还款，平台怎么处理？</div>
          <div>如果借款人出现逾期，平台会采取以下措施：平台会在三个工作日内给投资人进行本息垫付；平台会启动催收机制，对借款人进行催收，逾期后的利息是日息0.3%，直至款项追回为止；</div>
        </p>
        <p>
          <div class="bold">5、我这个月10号投了一个3月标，什么时候发投标奖励和利息？</div>
          <div>投标奖励满标复审之后系统自动发放至您的平台账户；投标利息根据您所投标种和还款方式的不同按月返还对应的金额，您是10号投的标，返还日期为借款期限内的每月10号。</div>
        </p>
        <p>
          <div class="bold">6、在你们平台充值收手续费吗？提现收手续费吗？投资收手续费吗？</div>
          <div>目前平台是不收取投资人任何费用的，如果后期调整收费制度，平台将会提前告知广大投资人。</div>
          <div class="f999 f12">注：利用平台的第三方支付充值通道进行信用卡恶意套现行为，凡是在线上充值后不投标而直接提现的客户，平台将采取资金冻结措施，不给予提现处理。</div>
        </p>
        <p>
          <div class="bold">7、如果我的账户里有5000元充值+5000元回款，我投标5000元，那投标的5000元是算回款续投的还是充值续投的？有没有续投奖励？</div>
          <div>这种情况算回款续投，会给您发放5000元*0.23%的续投奖励，满标复审之后自动发放至您的平台账户。</div>
        </p>
        <p>
          <div class="bold">8、电子合同中的甲方是投资人吗？为什么出借人全是平台的用户名而不是真实姓名，这具备法律效应吗？ </div>
          <div>诚汇通的电子合同是具备法律效益的。</div>
          <div>根据我国合同法第十条“当事人订立合同，有书面形式、口头形式和其他形式。”第十一条“书面形式是指合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等可以有形地表现所载内容的形式。”的规定，电子合同属于书面形式的合同，是受法律保护的。</div>
          <div>投资人和借款人在诚汇通平台都是实名认证的，用户名（昵称）与实名认证的身份信息一一对应，为保护双方的隐私，均采用昵称，但同样具备法律效力。</div>
        </p>
      </div>
      <!-- /其他常见问题 -->
    </div>
    <div class="help-right pull-right">
      <div class="font16px margin-left20px help-right-title bold">自助服务</div>
      <div class="help-youself-box">
        <div class="item"><a class="help-youself-item1" href="register.html"></a></div>
        <div class="item"><a class="help-youself-item2" href="forgetpwd.html.html"></a></div>
        <div class="item"><a class="help-youself-item3" href="investor_center/safety.html"></a></div>
        <div class="item"><a class="help-youself-item4" href="investor_center/withdraw.html"></a></div>
        <div class="item"><a class="help-youself-item5" href="investor_center/recharge.html"></a></div>
        <div class="item"><a class="help-youself-item6" href="investor_center/auto.html"></a></div>
        <div class="item"><a class="help-youself-item7" href="investor_center/withdraw.html"></a></div>
        <div class="item"><a class="help-youself-item8" href="investor_center/account.html"></a></div>
      </div>
    </div>
  </div>
{template footer}