<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset=utf-8>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="诚汇通官网，诚汇通，www.chenghuitong.net，p2p网贷平台，p2p理财公司，网络借贷平台，p2p理财产品——深圳市诚汇通金融信息有限公司">
    <meta name="description" content="诚汇通官网（www.chenghuitong.net）, 国内首批专注于P2P网络投融资服务的平台。投资免手续费，22%年化收益，100%保本保息，第三方托管，广东互联网金融协会会员；每天公布运营数据，为你的资金保驾护航。">
    <meta name="author" content="ifengjin@ifengjin.cn">
    <title>8月特惠</title>
    <link rel="stylesheet" href="../../statics/bayuetehui/css/base.css">
 </head>
  
  <body>
    <div class="header">
      <div class="topbar">
        <div class="container">
          <div class="pull-left">
            <a href="https://www.chenghuitong.net/">
              <span class="home"></span>
              <span>首页</span>
            </a>
            <a>
              <span class="tel"></span>
              <span>客服电话：400-018-0107</span>
            </a>
            <a>
              <span>13613002927（非工作时间）</span>
            </a>
          </div>
          <div class="pull-right">
            <a href="https://www.chenghuitong.net/content/login-index.html">
              <span class="log"></span>
              <span>登录</span>
            </a>
             <a href="https://www.chenghuitong.net/content/regedit-index.html">
               <span class="reg"></span>
               <span>注册</span>
             </a>
             <a href="http://www.chenghuitong.net/article/services-help.html">
               <span class="help"></span>
               <span>帮助中心</span>
             </a>
             <a href="https://www.chenghuitong.net/member/msg-index.html">
               <span class="email"></span>
               <span>(0)</span>
             </a>
             <a href="http://www.chenghuitong.net/article/default-calculator.html">
               <span class="calc"></span>
               <span>投资计算器</span>
             </a>    
          </div>
        </div>
      </div>
      <div class="nav">
        <div class="container">
          <div class="pull-left"><a href="https://www.chenghuitong.net/"><img src="../../statics/bayuetehui/image/need/logo.png" alt="logo"></a></div>
          <div class="pull-right">
            <a href="https://www.chenghuitong.net/borrow/default-index.html">我要理财</a>
            <a href="https://www.chenghuitong.net/borrow/release-index.html">我要融资</a>
            <a href="https://www.chenghuitong.net/activity/carefund-index.html">关爱基金<sup>new</sup></a>
            <a href="http://www.chenghuitong.net/article/safety-index.html">安全保障</a>
            <a href="http://www.chenghuitong.net/article/services-guide.html">新手指引</a>
            <a class="header-btn" href="https://www.chenghuitong.net/member/main-index.html">我的账户</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="banner"></div>
    
    <div id="one" class="module-one">
      <div class="container">
        <div class="icon flag">
          <h3><span>在诚汇通</span>投资100000元</h3>
          <h2>1年后的收益可达</h2>
          <h1 class="three">26875元</h1>
        </div>
        <div class="boy"></div>
        <div class="curve"></div>
        <div class="txt">若是小诚有100000本金，那么1年后，小诚最高可获益26875元哦！不相信？往下瞅瞅！<br>小诚在今天注册并实名成为了诚汇通的会员，投了100000元的6月标回款再续<br>投6月标，一年后本息收回，并且在单个标的中的投标金额还最高，那么小诚<br>1年后的收益约为：</div>
      </div>
    </div>
    
    <div id="two" class="module-two">
      <div class="container">
        <div class="icon newbie"></div>
        <div class="icon hongbao"></div>
        <div class="txt">奖励注册实名后即送，投标满500元即可提现</div>
        <a class="btn" href="https://www.chenghuitong.net/content/regedit-index-zcsource-977fa39fd5331cb85d64b3472a814fa6.html" target="_blank">立即注册 >></a>
        <div class="icon steps"></div>
      </div>
    </div>
    
    <div id="three" class="module-three">
      <div class="container">
        <div class="icon_ pic"></div>
        <div class="txt">
          <h1>投标奖励<span>（8月10日起执行）</span></h1>
          <h3>按月付息 到期还本</h3>
          <p> 投资一月标年利率17.4%；<br>投资三月标年利率20.4%；<br>投资六月标年利率21.4%；奖励投资金额的2.5%；</p>
          <h3>按月分期  等额本息</h3>
          <p>投资三月标年利率20.2%；<br>投资六月标年利率21.4%；奖励投资金额的1.5%；<br>以上投标奖励，满标复审之后自动发放至投资人平台账户。</p>
          <a class="btn" href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">立即投标</a>
        </div>
      </div>
    </div>
    
    <div id="four" class="module-four">
      <div class="container">
        <div class="icon_ pic"></div>
        <div class="txt">
          <h1>抢标/约标奖励 0.1%</h1>
          <span>非约标</span><br>
          <div><strong>一鸣惊人：单个标的最高投资金额用户，奖励投标金额的0.1%；</strong></div>
          <div><strong>一锤定音：单个标的最后一笔满标用户，奖励投标金额的0.1%；</strong></div>
          <div style="font-size:12px">注：1、奖励在满标复审后的第二个工作日12：00前发放至投资人对应的平台账户；<br>2、根据用户的单个标的最高单次投资额发奖，单个标的奖项不重复领取，根据最高金<br>额比例发放奖励！</div>
          <span>约标奖</span><br>
          <div><strong>约标奖励约标金额的0.1%。</strong></div>
          <div style="font-size:14px">方式：1、提前2-3个工作日向客服预约登记（含约标日期、标种、还<br>款方式、金额）预约期当日资金到位后，由客服制标、发标，客服会<br>提供一个定向密码，约标客户收到后直接投标；2、每个约标只能由一<br>位约标客户投标，其它客户不可以投标，也不可以拼凑帐户约标。</div>
          <div style="font-size:12px">注：约标奖励约标金额的0.1%，满标复审后实时发放至投资人对应的平台账户。</div>
          <a class="btn" href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">立即投标</a>
        </div>
      </div>
    </div>
    
    <div id="five" class="module-five">
      <div class="container">
        <div class="icon_ pic"></div>
        <div class="txt">
          <h1>回款续投奖励 0.23%</h1>
          <p>续投：回款后未提现部分继续投标。<br>奖励规则：50元起续投，奖励续投金额的0.23%，非托<br>管标满标复审后自动发放至平台非托管账户，托管标满<br>标复审后当天发放至托管账户。</p>
          <a class="btn" href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">立即投标</a>
        </div>
      </div>
    </div>
    
    <div id="seven" class="module-seven">
      <div class="container">
        <div class="icon_ pic"></div>
        <div class="txt">
          <h1>英雄感恩奖</h1>
          <table border="0" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <th>奖励对象</th>
                <th>奖励金额</th>
                <th>奖励发放时间</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1-3名</td>
                <td>当月投标总额*0.4%</td>
                <td rowspan="3"><span>9月8日</span>发放至<br>平台非托管账户</td>
              </tr>
              <tr>
                <td>4-10名</td>
                <td>当月投标总额*0.2%</td>
              </tr>
              <tr>
                <td>11-20名</td>
                <td>当月投标总额*0.1%</td>
              </tr>
            </tbody>
          </table>
          <p>①英雄感恩奖励规则：7月31日22：00至8月31日22：00<br>期间，加权投标总额排名前20的用户，即可获得对应级别的英<br>雄感恩奖励，奖励可投标可提现。</p>
          <p>P.S:加权投标总额=1月标当月投标金额*1+三月标当月投<br>标金额*3+六月标当月投标金额*6</p>
          <p>② 英雄榜奖励的10%将作为诚汇通慈善基金捐助给下一位<br>受助者，具体详情请关注平台相关信息。</p>
          <a class="btn" href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">立即投标</a>
        </div>
      </div>
    </div>
    
    <div class="footer">
      <div class="container">
        <div class="pull-left">
          <div class="links">
            <a href="http://www.chenghuitong.net/article/company-index.html">关于我们</a>
            <a href="http://www.chenghuitong.net/article/safety-index.html">安全保障</a>
            <a href="http://www.chenghuitong.net/article/services-help-cateid-3.html">帮助中心</a>
            <a href="http://www.chenghuitong.net/article/services-index.html">服务中心</a>
            <a href="http://www.chenghuitong.net/article/default-index.html">新闻中心</a>
            <a href="http://www.chenghuitong.net/article/company-contact.html">联系我们</a>     
          </div>
          <div class="copyright">深圳市诚汇通金融信息有限公司<br>深圳市福田区福华三路168号国际商会中心2408-2412室<br>Copyright© 2015 www.chenghuitong.net 粤ICP备13044593号</div>
          <div class="beian">
            <a href="https://cert.ebs.gov.cn/A71F6F48-ABB7-4F8A-92C4-D73F8FA0DE56" target="_blank">
              <img src="../../statics/bayuetehui/image/need/beian_gswj.jpg" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示">
            </a>
            <a href="http://www.miibeian.gov.cn/" target="_blank">
              <img src="../../statics/bayuetehui/image/need/beian_icp.jpg" title="ICP备案查询" alt="ICP备案查询">
            </a>
            <a href="https://search.szfw.org/cert/l/CX20140305003565003628" target="_blank">
              <img src="../../statics/bayuetehui/image/need/beian_cxwz.jpg" title="诚信网站" alt="诚信网站">
            </a>
            <a href="https://ss.knet.cn/verifyseal.dll?sn=e13101844030042941tvh5000000&amp;ct=df&amp;a=1&amp;pa=0.2732217316515744" target="_blank">
              <img src="../../statics/bayuetehui/image/need/beian_cnnic.png" title="可信网站" alt="可信网站">
            </a>
            <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&amp;dn=www.chenghuitong.net&amp;lang=en" target="_blank">
            <img src="../../statics/bayuetehui/image/need/beian_norton.jpg" title="NORTON" alt="NORTON">
          </a>
          </div>
        </div>
        <div class="pull-right">
          <div class="tel">400-018-0107</div>
          <div class="time">（周一至周五 9:00-17:30）</div>
          <div class="attention">
            <a class="weibo" href="http://weibo.com/cht608710" target="_blank"></a>
            <a class="tweibo" href="http://e.t.qq.com/cht608710" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="gotop">
      <div class="top">
        <div class="icon go"></div>
      </div>
      <div class="icon erweima"></div>
    </div>
    
    <script src="../../statics/bayuetehui/js/jquery/1.11.2/jquery.min.js"></script>
    <script>
      $(function() {
		  // banner动画效果
		  $(".banner .title").delay(200).animate({top:'193px'},500).animate({top:'93px'},800);
		  $(".banner .thanks").delay(900).fadeIn("slow");
		  $(".banner .trees").delay(200).animate({bottom:'0'},200);
		  $(".banner .coin").delay(300).animate({bottom:'0'},400);
		  $(".banner .cloud").delay(400).animate({bottom:'0'},600);
		  
		  // 返回顶部
		  $(window).scroll(function() {
		  var bodyHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
		  var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
		  if(scrollTop >= bodyHeight/2) {
		      $(".go").fadeIn();
		    } else {
		      $(".go").fadeOut();
		    }
		  })
		  $(".go").click(function(e) {
	        $("html,body").animate({scrollTop:0},500);
		  });
		  
	  });
    </script>
  </body>
</html>
