{template header}

<div style="background:url(image/charity/banner.jpg) no-repeat center 0; height:349px; min-width:1000px;"></div>
    <div class="main">
      <div class="container content">
            <div class="con-top">
                <div class="mask"></div>
                <div class="top-txt">
                    <h2>小诚慈善关爱基金第二期项目 募集中</h2>
                    <p>发起单位：深圳市诚汇通金融信息有限公司</p>
                </div>
            </div>
            <div class="title">
                <span class="t-con">
                    <b class="t1"><资助对象></b>
                    <i class="t2">Financing Object</i>
                </span>
            </div>
            <div class="object">
                <p>★在深圳合法居住或工作一年以上（含一年）的自然人</p>
                <p>1. 遭遇紧急事件，如突发性重大疾病，遭受意外伤害，导致家庭经济困难的。</p>
                <p>2. 经有关机关鉴定、证明，在深圳见义勇为、抢险救灾、救死扶伤中遭受意外伤害的。</p>
                <p>3. 对遭受自然灾害和突发性重大事故，导致基本生活受到严重影响个人，经初审单位核实证明确实存在实际困难的。</p>
                <p>资助对象具备上述任一条件即可申请</p>
                <span class="arrow-next"></span>
            </div>
            <div class="title mgb10">
                <span class="t-con">
                    <b class="t1"><申请流程></b>
                    <i class="t2">Application Process</i>
                </span>
            </div>
      </div>
      <div class="application pdb70">
          <img src="image/charity/application-img.png">
          <span class="line"></span>
      </div>
    </div>
    <div class="container content main2">
        <div class="title title2">
            <span class="t-con">
                <b class="t1"><诚汇通关爱基金简介></b>
                <i class="t2">Care Fund Profile</i>
            </span>
        </div>
        <p class="mgb10">2015年1月15日，由诚汇通牵头，并协同深圳广电集团和深圳市慈善会组建“深圳市慈善会·诚汇通关爱基金”公益慈善项目正式成立，旨在关爱社会、奉献爱心，以帮助市内突发性重大疾病导致家庭经济困难、见义勇为、抢险救灾、救死扶伤中遭受意外伤害，或遭受自然灾害、突发性重大事故导致基本生活受到影响的个人，解决基本医疗问题和生活困难等。</p>
        <div class="title">
            <span class="t-con">
                <b class="t1"><第一期项目概况></b>
                <i class="t2">Project Profile</i>
            </span>
        </div>
        <p>诚汇通关爱基金”的第一位资助对象是一位15岁花季少年张燕午。2014年7月31日晚，暑期来深度假的张燕午姐妹在十字路口等红绿灯，一辆丰田车冲进斑马线，将张燕午姐妹撞飞出去，两姐妹经过抢救，张燕午本人小腿截肢，姐姐双腿粉碎性骨折。姐妹两人共花费医疗费用451,456元，其中张燕午经过4次手术，小腿截肢，花费医疗费用311,456元。</p>
        <p>“诚汇通关爱基金”工作人员在得知事情经过后，立即发起对张燕午同学的救助，在官网发起善款募集，得到社会各界及诚汇通投资人的广泛关注和大力支援。截止2015年7月，关爱基金第一期善款15万元已经全部募集完成，其中部分款项用于安装义肢。</p>
        <p class="pdb70">据广电集团跟踪报道，受捐助对象张燕午在2015年2月份已经顺利安装义肢，经过几个月的康复顺利，目前已经能够站立并正常行走，而且在8月份的时候，张燕午已经回到学校继续她的学业。</p>
    </div>
    <div class="main">
      <div class="container content">
            <div class="title title2">
                <span class="t-con">
                    <b class="t1"><个案跟进></b>
                    <i class="t2">Case Follow-up</i>
                </span>
            </div>
			<div class="cl case">
            	<div class="fl case-img"><img src="image/charity/case-img.png"></div>
            	<ul class="fr case-txt">
                    <li>2014年9月26日接案，与张燕午父母了解了事故情况及目前的病情，身体状况目前已经脱离危险期，最大困难是经济困难</li>
                    <li>2014年9月27日，探望张燕午，案主手术已经完成，小腿截肢，意识清晰，腿部恢复情况良好</li>
                    <li>2014年10月12日，协同张燕午母亲与深圳市人民医院医务科申请交通事故意外险</li>
                    <li>2014年11月08日，协助张燕午妈妈准备《深圳市龙岗区自燃事故及突发意外事故慈善救助》申请材料</li>
                    <li>2014年12月13日，探望张燕午，案主已经出院转到深圳市德林假肢公司进行假肢安装及康复训练</li>
                    <li>2015年1月13日，协同张燕午妈妈参加“诚汇通关爱基金”新闻发布会，获得“诚汇通关爱基金”捐款5万元</li>
                    <li>2015年2月16日，张燕午已经装上假肢，目前继续进行康复训练</li>
                    <li>2015年3月06日，张燕午妈妈电话告知已于2月份收到“诚汇通关爱基金”的5万元爱心基金</li>
                    <li>2015年4月03日，张燕午腿部长出新的骨刺，入院进行了磨骨小手术</li>
                    <li>2015年4月25日，张燕午出院回家休养，腿部恢复情况良好</li>
                    <li>2015年5月10日，张燕午妈妈告知收到深圳市慈善会的4万基金救助</li>
                    <li>2015年8月11日，张燕午回院接受广电集团采访，目前腿部已经适应了假肢，能够站立起来行走</li>
                    <li>2015年8月20日，张燕午将回到学校继续学业</li>
                </ul>
            </div>
            <div class="title">
                <span class="t-con">
                    <b class="t1"><爱心助力></b>
                    <i class="t2">Love Power</i>
                </span>
            </div>
            <div class="cl pdb50">
                    <div class="donor-box fl">
                         <p><b>感谢以下用户的支持！！</b></p>
                         <div id="donor" style="height:auto;border-bottom:none">
                            <ul class="ui-donor-list" style="margin-bottom:0">
								<li>
                                    <span>序号</span>
                                    <span>用户名</span>
                                    <span>捐款人</span>
                                    <span class="nobdr">捐款总金额（元）</span>
                                </li>
								<!--捐助记录-->
                            </ul>
                         </div>
						 <div id="carepage_1" class="pagination pagination-sm" style="margin-top:-5px;">
							 <!--分页-->
						 </div>
                    </div>
                    <div class="love-img fr"><img src="image/charity/love-img.jpg"></div>
            </div>
      </div>
    </div>
    <div class="container content cl pdb70">
    	<div class="media fl">
            <div class="title">
                <span class="t-con">
                    <b class="t1"><媒体报道></b>
                    <i class="t2">Media reports</i>
                </span>
            </div>
            <ul class="ui-media-list">
              <li>
              	<p><span class="red">★</span>奉献爱心 诚汇通立志成为慈善网贷第一平台：</p>
                <p><a href="http://www.chenghuitong.net/article/default-disp-id-1289.html" target="_blank">http://www.chenghuitong.net/article/default-disp-id-1289.html</a></p>
              </li>
              <li>
              	<p><span class="red">★</span>诚汇通董事长刘建就“关爱基金”接受深圳电视台专访</p>
                <p><a href="http://www.chenghuitong.net/article/default-disp-id-1256.html" target="_blank">http://www.chenghuitong.net/article/default-disp-id-1256.html</a></p>
              </li>
              <li>
              	<p><span class="red">★</span>深圳市慈善会•诚汇通关爱基金即将成立</p>
                <p><a href="http://www.chenghuitong.net/article/default-disp-id-1274.html" target="_blank">http://www.chenghuitong.net/article/default-disp-id-1274.html</a></p>
              </li>
            </ul>
        </div>
   	  <div class="video fr">
            <div class="title">
                <span class="t-con">
                    <b class="t1"><视频报道></b>
                    <i class="t2">Video report</i>
                </span>
            </div>
            <div><a href="http://static.youku.com/v1.0.0498/v/swf/loader.swf?VideoIDS=XODcxNDUwNzA4&embedid=MTgzLjE2LjczLjEwOAIyMTc4NjI2NzcCYmV0YS5jaGVuZ2h1aXRvbmcubmV0Ai9hY3Rpdml0eS9jYXJlZnVuZC1pbmRleC5odG1s&wd=&vext=pid%3D%26emb%3DMTgzLjE2LjczLjEwOAIyMTc4NjI2NzcCYmV0YS5jaGVuZ2h1" target="_blank"><img src="image/charity/video-img.jpg"></a></div>
      </div>
    </div>
    <div class="main">
      <div class="container content">
            <div class="title title2">
                <span class="t-con">
                    <b class="t1"><其他公益资助活动></b>
                    <i class="t2">Public welfare fund</i>
                </span>
            </div>
			<div class="fund-box cl">
            	<div class="fund-img fl"><img src="image/charity/fund-img1.jpg"></div>
            	<div class="fund-txt fr">
                	<p class="text-in2">（1）2015年10月9日，诚汇通江西分公司独家赞助南康区“九九重阳节之关爱老人”健身文体表演活动。获得了赣州市老年体协领导的高度赞美，并给诚汇通公司颁发“关爱老年人的楷模”的荣誉称号。诚汇通赣州分公司从今年5月份，与赣州市老年体协建立了长期合作的关系，愿意长期的对赣州地区的老年人，献出关爱之心</p>
                    <div><a href="http://www.chenghuitong.net/article/default-disp-id-1569.html" target="_blank">http://www.chenghuitong.net/article/default-disp-id-1569.html</a></div>
                </div>
            </div>
			<div class="fund-box cl">
            	<div class="fund-img fr"><img src="image/charity/fund-img2.jpg"></div>
            	<div class="fund-txt fl" style="padding-top:45px;">
                	<p class="text-in2">（2）2014年8月3日，诚汇通通过深圳市慈善会，向云南鲁甸灾区捐献了22900元，这一善举，获得了深圳市慈善会的赞许和广大投资人的好评。</p>
                    <div><a href="http://www.chenghuitong.net/article/default-disp-id-970.html" target="_blank">http://www.chenghuitong.net/article/default-disp-id-970.html</a></div>
                </div>
            </div>
      </div>
    </div>

    <script src="js/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
	function carejs(page, careid) {
		if ($.trim(careid) == '' || careid == 0) {
			alert("参数错误!");
			return false;
		}
		$.ajax({
			url: "/?m=activity&c=carefund&a=caretender",
			type: "POST",
			dataType: "JSON",
			data: {
				page: page,
				careid: careid
			},
			success: function(t) {
				if (t) {
					if (t.list) {
						$("#donor ul").html('');
						var obj = '<li><span>序号</span><span>用户名</span><span>捐款人</span><span class="nobdr">捐款总金额（元）</span></li>';
						$.each(t.list, function(i, item) {
							var idno = (page - 1) * 10 + i + 1;
							obj += '<li>';
							obj += '<span>' + idno + '</span>';
							obj += '<span>' + item.username + '</span>';
							obj += '<span>' + item.name + '</span>';
							obj += '<span class="nobdr">' + item.account_act + '</span>';
							obj += '</li>';
						});
						$("#donor ul").append(obj);
						$("#carepage_" + careid).html(t.page).find('.statistics').remove();
					}
				} else {
					alert('系统繁忙，请重试！');
					XHR = null;
				}
			},
			complete: function(XHR, TS) {
				XHR = null;
				t = null;
				obj = null;
			}
		});
	}
	carejs(1, 1);
    </script>
{template footer}