
    <!-- 左边导航 -->
    <div class="about-right-box pull-right font16px bold">
      <div class="about-right">
        <a class="{if ROUTE_A=='index'}about-antive{else}about-nav{/if}" href="{if ROUTE_A=='index'}javascript:void(0);{else}<?=url('article','company','index')?>{/if}">公司简介</a>
        <a class="{if ROUTE_A=='team'}about-antive{else}about-nav{/if}" href="{if ROUTE_A=='team'}javascript:void(0);{else}<?=url('article','company','team')?>{/if}">管理团队</a>
        <a class="{if ROUTE_A=='history'}about-antive{else}about-nav{/if}" href="{if ROUTE_A=='history'}javascript:void(0);{else}<?=url('article','company','history')?>{/if}">发展历程</a>
        <a class="{if ROUTE_A=='honor'}about-antive{else}about-nav{/if}" href="{if ROUTE_A=='honor'}javascript:void(0);{else}<?=url('article','company','honor')?>{/if}">资质荣誉</a>
        <!--<a class="{if ROUTE_A=='counsel'}about-antive{else}about-nav{/if}" href="{if ROUTE_A=='counsel'}javascript:void(0);{else}<?=url('article','company','counsel')?>{/if}">法律顾问</a>-->
        <a class="{if ROUTE_A=='partner'}about-antive{else}about-nav{/if}" href="{if ROUTE_A=='partner'}javascript:void(0);{else}<?=url('article','company','partner')?>{/if}">合作伙伴</a>
        <a class="{if ROUTE_A=='contact'}about-antive{else}about-nav{/if}" href="{if ROUTE_A=='contact'}javascript:void(0);{else}<?=url('article','company','contact')?>{/if}">联系我们</a>
      </div>
    </div>
    <!-- /左边导航 -->