{template header}
  <!-- News -->
  <link href="../../statics/resource/css/about_center/about.css" rel="stylesheet">
  
  <!-- 路径导航 -->
  {template company-nav-hdr}
  <!-- /路径导航 -->
  
  <div class="container">
    <!-- 左边导航 -->
	{template company-nav-left}
    <!-- /左边导航 -->
    
    <!-- 右边内容 -->
    <div class="about-left pull-right border-radius">
      <div class="about-nav-title">法律顾问</div>
      <div class="about-content about-law">
        <div class="about-title bold font18px text-center">广东圳泰律师事务所简介</div>
        <p>广东圳泰律师事务所位于福田区深南大道2008号中国凤凰大厦2栋22D，所属深圳CBD商圈，拥有良好的地理环境，集律师业务、知识产权代理业务于一身的综合性律师事务所，现有执业律师多名，大部分拥有政、商等经验。</p>
        <p>广东圳泰律师事务所，以"敬律师之业，行仁义之德"的做为经营理念， 律师团队成员均来自国内外著名大学的高端法律专才，众多律师均具有十年以上的执业经历，实践经验丰富，与政府机关、司法机关、证券监管机关、社会各界和各知名的律师事务所建立了广泛的联系，拥有良好的职业形象和信誉！</p>
        <p>秉承受人之托，忠人之事！</p>
        <p>广东圳泰法律事务所团队，沿途有我，信诚相伴，精诚为您保驾护航！</p>
        <div class="about-title about-title2 bold font18px text-center">律师团队成员简介</div>
        <table class="table-bordered law-table">
          <tr>
            <td class="text-center"><img class="img-circle" src="../../statics/resource/images/about_center/Member1.jpg" alt=""></td>
            <td>陈鸿律师，圳泰律师事务所主任。执业领域为：企业法律顾问、公司法律业务、各类民事、经济、合同纠纷、房地产法律业务、刑事辩护业务。</td>
            <td class="text-center"><img class="img-circle" src="../../statics/resource/images/about_center/Member3.jpg" alt=""></td>
            <td>林栋律师，曾担任中国银行陆丰支行等多家金融机构常年法律顾问，具有丰富的社会阅历和诉讼经验，擅长业务领域：法律顾问、经济案件代理。</td>
          </tr>
          <tr>
            <td class="text-center"><img class="img-circle" src="../../statics/resource/images/about_center/Member5.jpg" alt=""></td>
            <td>张光兆律师，从事法律行业二十余年，具有丰富的执业经验。擅长业务领域：合同、债务、刑事辩护。</td>
            <td class="text-center"><img class="img-circle" src="../../statics/resource/images/about_center/Member4.jpg" alt=""></td>
            <td>彭正民律师，深圳市第六次和第八次律师代表大会代表，擅长业务：法律顾问、刑事辩护、民事代理。</td>
          </tr>
          <tr>
            <td class="text-center"><img class="img-circle" src="../../statics/resource/images/about_center/Member2.jpg" alt=""></td>
            <td>李耀辉，男，中山大学法律硕士，广东圳泰律师事务所律师，深圳仲裁委员会仲裁员。擅长业务：知识产权，合同、债务。</td>
            <td class="text-center"></td>
            <td></td>
          </tr>
        </table>
      </div>
      
        <div class="about-title about-title2 bold font18px text-center">诚汇通与广东圳泰律师事务所的战略合作协议</div>
        <img class="law-pic" src="../../statics/resource/images/about_center/20140508025333409.jpg" alt="诚汇通与广东圳泰律师事务所的战略合作协议www.chenghuitong.net" width="762">
        <img class="law-pic" src="../../statics/resource/images/about_center/20140508025353867.jpg" alt="诚汇通与广东圳泰律师事务所的战略合作协议www.chenghuitong.net" width="762">
    </div>
    <!-- /右边内容 -->
  </div>
  
  <!-- About -->
  <script src="../../statics/resource/js/about_center/about.js"></script>
{template footer}