{template header}
  <!-- News -->
  <link href="../../statics/resource/css/about_center/about.css" rel="stylesheet">
  
  <!-- 路径导航 -->
  {template company-nav-hdr}
  <!-- /路径导航 -->
  
  <div class="container">
    <!-- 左边导航 -->
	{template company-nav-left}
    <!-- /左边导航 -->
    
    <!-- 右边内容 -->
    <div class="about-left pull-right border-radius">
      <div class="about-nav-title">资质荣誉</div>
      <ul class="honor-box unlist">
        <li>
          <p class="honor-name">企业法人营业执照</p>
          <img src="../../statics/resource/images/about_center/honor/img01.jpg" alt="诚汇通 企业法人营业执照" width="762">
        </li>
        <li>
          <p class="honor-name">组织机构代码证</p>
          <img src="../../statics/resource/images/about_center/honor/img02.jpg" alt="诚汇通 组织机构代码证" width="762">
        </li>
        <li>
          <p class="honor-name">税务登记证</p>
          <img src="../../statics/resource/images/about_center/honor/img03.jpg" alt="诚汇通 税务登记证" width="762">
        </li>
        <li>
          <p class="honor-name">开户许可证</p>
          <img src="../../statics/resource/images/about_center/honor/img04.jpg" alt="诚汇通 开户许可证" width="762">
        </li>
        <li>
          <p class="honor-name">ICP/IP 地址/域名信息备案</p>
          <img src="../../statics/resource/images/about_center/honor/img05.jpg" alt="诚汇通 ICP/IP 地址/域名信息备案" width="762">
        </li>
        <li>
          <p class="honor-name">域名证书</p>
          <img src="../../statics/resource/images/about_center/honor/img06.jpg" alt="诚汇通 域名证书" width="762">
        </li>
        <li>
          <p class="honor-name">norton证书</p>
          <img src="../../statics/resource/images/about_center/honor/img07.jpg" alt="诚汇通 norton证书" width="762">
        </li>
        <li>
          <p class="honor-name">诚信网站认证</p>
          <img src="../../statics/resource/images/about_center/honor/img08.jpg" alt="诚汇通 诚信网站认证" width="762">
        </li>
        <li>
          <p class="honor-name">深圳市网络经营者信息公示</p>
          <img src="../../statics/resource/images/about_center/honor/img09.jpg" alt="诚汇通 深圳市网络经营者信息公示" width="762">
        </li>
        <li>
          <p class="honor-name">可信网站认证</p>
          <img src="../../statics/resource/images/about_center/honor/img10.jpg" alt="诚汇通 可信网站认证" width="762">
        </li>
		<li>
          <p class="honor-name">深圳市互联网金融协会证书</p>
          <img src="../../statics/resource/images/about_center/honor/img17.jpg" alt="诚汇通 深圳市互联网金融协会证书" width="762">
        </li>
		<li>
          <p class="honor-name">可信网站验证单位</p>
          <img src="../../statics/resource/images/about_center/honor/img18.jpg" alt="诚汇通 可信网站验证单位" width="762">
        </li>
        <li>
          <p class="honor-name">华尊奖-中国网贷平台十大影响力品牌</p>
          <img src="../../statics/resource/images/about_center/honor/img11.jpg" alt="诚汇通 华尊奖-中国网贷平台十大影响力品牌" width="762">
        </li>
        <li>
          <p class="honor-name">广东互联网金融协会会员单位</p>
          <img src="../../statics/resource/images/about_center/honor/img12.jpg" alt="诚汇通 广东互联网金融协会会员单位" width="762">
        </li>
        <li>
          <p class="honor-name">前海股权交易中心挂牌企业</p>
          <img src="../../statics/resource/images/about_center/honor/img13.jpg" alt="诚汇通 广东互联网金融协会会员单位" width="762">
        </li>
        <li>
          <p class="honor-name">2014年度首届互联网金融百杰创始人/CEO</p>
          <img src="../../statics/resource/images/about_center/honor/img14.jpg" alt="诚汇通 广东互联网金融协会会员单位" width="762">
        </li>
        <li>
          <p class="honor-name">深圳市慈善会诚汇通关爱基金</p>
          <img src="../../statics/resource/images/about_center/honor/img15.jpg" alt="诚汇通 广东互联网金融协会会员单位" width="762">
        </li>
        <li>
          <p class="honor-name">深圳市慈善会诚汇通关爱基金证书</p>
          <img src="../../statics/resource/images/about_center/honor/img16.jpg" alt="诚汇通 广东互联网金融协会会员单位" width="762">
        </li>
      </ul>
      
    </div>
    <!-- /右边内容 -->
  </div>
  
  <!-- About -->
  <script src="../../statics/resource/js/about_center/about.js"></script>
{template footer}