{template header}
  <!-- News -->
  <link href="../../statics/resource/css/about_center/about.css" rel="stylesheet">
  
  <!-- 路径导航 -->
  {template company-nav-hdr}
  <!-- /路径导航 -->
  
  <div class="container">
    <!-- 左边导航 -->
	{template company-nav-left}
    <!-- /左边导航 -->
    
    <!-- 右边内容 -->
    <div class="about-left pull-left border-radius">
      <div class="about-nav-title">公司简介</div>
      <div class="about-content">
        <p>深圳市诚汇通金融信息有限公司，P2P平台网址:www.chenghuitong.com（以下简称“诚汇通”）是一家于2013年8月在中国广东省深圳市注册成立的股份制有限公司，是中国第一批民营的专业P2P互联网金融服务机构。公司经过近三年的运营发展，现已成为集民间小贷、投资理财及技术配套服务于一体的P2P互联网金融投资理财平台，凭借持续的技术创新、优质的客户服务、稳健的经营风格以及良好的经营业绩，在业界和社会上享有很高的口碑。
诚汇通公司秉承“诚信兴业、安全可靠、以人为本、感恩客户”的经营理念，在符合国家对民间借贷行为的相关法律法规的前提下，通过严格谨慎的风险控制机制，运用先进便捷的互联网信息技术，为有资金需求的融资方和有理财需求的个人搭建一个诚信、安全、透明、专业的投融资平台。通过诚汇通平台，社会大众可以将富余资金出借给信用良好的小微企业，获取投资回报，而小微企业通过诚汇通平台发布融资需求，找到一条高效的融资渠道，缓解融资难问题。
</p>
        <p>作为业内为数不多的注册资本实缴达一亿元的P2P互联网金融投资理财平台，诚汇通发展迅速，已先后在江西、贵州等地区开设分公司。截止到2015年12月，诚汇通累计交易额15.9亿，月交易额平均稳定在9000万左右，注册投资用户达到10万多人，累计为投资人创造收益7093万元。</p>
		<p>未来三年，诚汇通将全面拓展和深化中小企业债权业务及第三方居间服务业务，重点开发房贷、车贷、银行票据和商业保理等优质资产端产品，将公司着力打造成跨区域、集团化运作的上市公司，成为适应互联网经济时代要求和具有核心竞争能力的学习型企业和专家型组织。</p>
        <div><span class="margin-right15px bold">公司使命：</span>推进中国普惠金融的发展，让所有人都能分享到普惠金融红利！</div>
        <div><span class="margin-right15px bold">主营业务：</span>车辆质押，房产抵押，库存质押，赎楼贷款，信用贷款等网络借贷中介服务。</div>
        <div><span class="margin-right15px bold">经营理念：</span>诚信兴业，安全可靠，以人为本，感恩客户。</div>
        <div><span class="margin-right15px bold">发展愿景：</span>做国内口碑很好的网络借贷中介平台。</div>
      </div>
      
      <div class="about-nav-title">
        <span>总公司展示</span>
        <span style="margin-left: 30px;"><a href="/zhuanti/nankang/index.html" target="_blank">赣州分公司</a></span>
        <span style="margin-left: 30px;"><a href="https://www.chenghuitong.net/zhuanti/guizhou/index.html" target="_blank">贵州分公司</a></span>
		<span style="margin-left: 30px;"><a href="/zhuanti/diandang/companyOpening.html" target="_blank">江西分公司</a></span>
		<span style="margin-left: 30px;"><a href="/zhuanti/diandang/diandang.html" target="_blank">诚汇通典当行</a></span>
      </div>
      <div class="about-company-box">
          <div class="about-company border-radius line-height40px">
            <div class="about-company-img">
              <img src="../../statics/resource/images/about_center/c_01.JPG" alt="诚汇通公司简介www.chenghuitong.net">
              <div class="about-company-img-text">公司前台</div>
            </div>
            <div class="about-company-img">
              <img src="../../statics/resource/images/about_center/c_02.JPG" alt="诚汇通公司简介www.chenghuitong.net">
              <div class="about-company-img-text">财富管理中心</div>
            </div>
            <div class="about-company-img">
              <img src="../../statics/resource/images/about_center/c_03.JPG" alt="诚汇通公司简介www.chenghuitong.net">
              <div class="about-company-img-text">信贷中心</div>
            </div>
            <div class="about-company-img">
              <img src="../../statics/resource/images/about_center/c_04.JPG" alt="诚汇通公司简介www.chenghuitong.net">
              <div class="about-company-img-text">董事会室</div>
            </div>
            <div class="about-company-img">
              <img src="../../statics/resource/images/about_center/c_05.JPG" alt="诚汇通公司简介www.chenghuitong.net">
              <div class="about-company-img-text">主办公大厅一</div>
            </div>
            <div class="about-company-img">
              <img src="../../statics/resource/images/about_center/c_06.JPG" alt="诚汇通公司简介www.chenghuitong.net">
              <div class="about-company-img-text">主办公大厅二</div>
            </div>
            <!--<div class="about-company-img">
              <img src="../../statics/resource/images/about_center/c_07.JPG" alt="诚汇通公司简介www.chenghuitong.net">
              <div class="about-company-img-text">员工合照</div>
            </div>-->
          </div>
      </div>
    </div>
    <!-- /右边内容 -->
  </div>
  
  <script type="text/javascript">
    $(function() {
		
		// 公司展示
		$('.about-company').owlCarousel({
			center: false,
			items: 1,
			loop: false,
			merge:true,
			nav:true,
			navText: ['<span></span>','<span></span>'],
			lazyLoad: true,
			margin: 10
		});
		
	});
  </script>
  <!-- About -->
  <script src="../../statics/resource/js/about_center/about.js"></script>
{template footer}