{template header}
  <!-- News -->
  <link href="../../statics/resource/css/about_center/about.css" rel="stylesheet">
  
  <!-- 路径导航 -->
  {template company-nav-hdr}
  <!-- /路径导航 -->
  
  <div class="container">
    <!-- 左边导航 -->
	{template company-nav-left}
    <!-- /左边导航 -->
    
    <!-- 右边内容 -->
    <div class="about-left pull-right border-radius">
      <div class="about-nav-title">管理团队</div>
      <div class="about-content">
        
        <div class="about-team">
          <div class="about-team-pic pull-left">
		  <img src="../../statics/resource/images/about_center/team-list-member0.jpg" class="team-img1" alt="诚汇通董事长_刘建">
		   <img src="../../statics/resource/images/about_center/team-list-member0a.jpg" class="team-img2" alt="诚汇通董事长_刘建">
		  </div>
          <div class="about-team-intro pull-right">
            <div class="about-team-title"><span class="margin-right15px">刘建</span>董事长/创始人</div>
            <div class="about-team-p">1973年出生，江西赣州人，早期军人出身，经济管理学学士，经济师职称。1991年入伍，1996年——2002年在中国工商银行江西省分行工作，2003年来到深圳，一直从事民间小额借贷、投资担保行业，具有丰富的民间借贷行业经验和风险分析能力，独家总结的银行专业风控审核工具与民间个性的风险分析手段相结合的民间借贷管控体系，很好的控制了民间借贷的风险，在业内赢得了口碑。</div>
            <div class="about-team-p">2013年7月在深圳创办诚汇通P2P网络借贷平台，帮助缓解小微企业融资难问题，促进民间资本阳光化。在公司管理上，追求简明高效，注重诚信、共赢、创新，善于人文管理。对内建立优质团队，对外树立企业品牌，致力于将诚汇通打造成国内口碑最好的网络借贷平台。</div>
          </div>
        </div>
        
        <div class="about-line"></div>
        
        <div class="about-team">
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">宋厚勇</span>董事总经理</div>
            <div class="about-team-p">1975年出生，吉林白山人，毕业于吉林财经大学，毕业后一直在东北创业。2000年来到深圳，先后从事房地产投融资、资产管理、民间小额借贷、投资担保等行业，有丰富的民间借贷、风险控制和管理的经验，熟悉房产抵押、车贷抵押业务操作流程。</div>
            <div class="about-team-p">2013年加入诚汇通，与董事长刘建先生一同打造诚汇通P2P投资理财平台，主要负责业务建设、团队管理、企业文化建设等工作。管理的目的是效率，管理的核心是人，在工作中，力求通过打造高素质的管理团队，实现高效率的管理目的。</div>
          </div>
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member1.jpg" class="team-img1" alt="董事总经理_宋厚勇">
		  <img src="../../statics/resource/images/about_center/team-list-member1a.jpg" class="team-img2" alt="董事总经理_宋厚勇">
		  </div>
        </div>
        <div class="about-line"></div>
		
        <div class="about-team">
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member2.jpg" class="team-img1" alt="诚汇通副总经理_兰翔">
		  <img src="../../statics/resource/images/about_center/team-list-member2a.jpg" class="team-img2" alt="诚汇通副总经理_兰翔">
		  </div>
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">兰翔</span>副总经理</div>
            <div class="about-team-p">1973年出生，黑龙江哈尔滨人，经济信息管理学学士。曾任深圳市架构股权投资有限公司投资总监、贷贷平安P2P平台运营总监、合时贷P2P平台副总经理、后河财富P2P平台总经理、第一互助股权众筹平台总经理。</div>
            <div class="about-team-p">十多年互联网企业高级经营管理经历，涉及P2P网贷、民间借贷、小额贷款、天使投资、股权投资和互联网金融等行业，丰富的互联网平台经营和运营经历，善于运作互联网和传统金融的高效对接，对互联网金融有深入的见解和认知，正为做口碑最好的P2P投资理财平台而努力奋斗！</div>
          </div>
        </div>
        <div class="about-line"></div>
		
        <div class="about-team">
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member11.jpg" class="team-img1" alt="诚汇通副总经理_邢美洋">
		  <img src="../../statics/resource/images/about_center/team-list-member11a.jpg" class="team-img2" alt="诚汇通副总经理_邢美洋">
		  </div>
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">邢美洋</span>副总经理</div>
            <div class="about-team-p">1984年出生，吉林省吉林市人，毕业于长春师范大学中文系。2006年来到深圳，2007年加入国内首家小额贷款公司（信安易贷），曾任职深圳市安易信投资担保有限公司副总经理，深圳市后河盛世投资管理有限公司副总经理。擅长择时择势为公司和客户赢得最大的盈利空间，对市场和行业信息有敏锐的捕捉能力，并在金融行业有着丰富的人脉关系和操作经验，对团队建设、风控、渠道沟通、商务谈判有着丰富的经验；深层了解金融行业的各组成部分职能，做人正直守信，做事以大局为重，不计个人得失，以共赢为目标！</div>
          </div>
        </div>
        <div class="about-line"></div>
		
        <div class="about-team">
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member8.jpg" class="team-img1" alt="诚汇通事业发展部副总经理_黎春子">
		  <img src="../../statics/resource/images/about_center/team-list-member8a.jpg" class="team-img2" alt="诚汇通事业发展部副总经理_黎春子">
		  </div>
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">黎春子</span>事业发展部副总经理</div>
            <div class="about-team-p">1982年出生，管理学专业，证券投资顾问，2006 年在聚成企业管理顾问股份有限公司担任企业管理顾问，2007年转入互联网金融行业，先后在华股财经、香港商报从事互联网产品营销策划和网站运营管理工作，在广告文案策划、网络营销策划、投资分析、网站运营方面有着比较丰富的工作经验。</div>
            <div class="about-team-p">2013年加入诚汇通，现担任诚汇通事业发展部副总经理，主要负责赣州分公司日常事务。</div>
          </div>
        </div>
        <div class="about-line"></div>

        <div class="about-team">
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member3.jpg" class="team-img1" alt="诚汇通运营总监_胡琴丹">
		  <img src="../../statics/resource/images/about_center/team-list-member3a.jpg" class="team-img2" alt="诚汇通运营总监_胡琴丹">
		  </div>
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">胡琴丹</span>运营总监</div>
            <div class="about-team-p">1985年出生，广告学专业毕业，拥有8年的运营/推广经验；曾任职游众传媒产品策划经理；深圳电视台都市频道栏目组旗下大型活动策划运营总监；华强北商城品牌营销部经理；</div>
            <div class="about-team-p">2015年初加入诚汇通负责公司运营/推广的工作；在网站运营/媒体策略推广有比较丰富的经验，有自己独特的策略见解，正在为公司创造更高的价值而努力着！</div>
          </div>
        </div>
        <div class="about-line"></div>

        <div class="about-team">
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member4.jpg" class="team-img1" alt="诚汇通人事行政总监_丁颖">
		  <img src="../../statics/resource/images/about_center/team-list-member4a.jpg" class="team-img2" alt="诚汇通人事行政总监_丁颖">
		  </div>
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">丁颖</span>人事行政总监</div>
            <div class="about-team-p">1986年出生，毕业于华南师范大学人力资源管理专业，曾就职于深圳市中兴通信股份有限公司，任人事主管一职，后加入后河投资管理有限公司，任培训部经理，对人力资源六大模块及行政管理有丰富的经验。</div>
            <div class="about-team-p">2015年3月加入诚汇通，任人事行政部总监，负责建立公司企业文化，制定公司人力资源战略规划，建立畅达的沟通渠道和有效的激励机制和约束机制，力争用公平公正的薪酬激励吸引优质人才，对公司行政事务进行统筹规划。</div>
          </div>
        </div>
        <div class="about-line"></div>

        <!--<div class="about-team">
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member5.jpg" class="team-img1" alt="诚汇通业务总监_谢志伟">
		  <img src="../../statics/resource/images/about_center/team-list-member5a.jpg" class="team-img2" alt="诚汇通业务总监_谢志伟">
		  </div>
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">谢志伟</span>业务总监</div>
            <div class="about-team-p">拥有八年的行业经验，对小额贷款、民间借贷、现金类业务、银行担保业务具有丰富的全岗位实超经验。2015年6月加入诚汇通，负责诚汇通公司的管理及公司业务发展方向。对借款的每一笔业务坚守：道德风险、操作风险、经营风险、政策风险的风险控制流程。</div>
          </div>
        </div>
        <div class="about-line"></div>-->

        <div class="about-team">
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member6.jpg" class="team-img1" alt="诚汇通风控总监_陈惟静">
		  <img src="../../statics/resource/images/about_center/team-list-member6a.jpg" class="team-img2" alt="诚汇通风控总监_陈惟静">
		  </div>
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">陈惟静</span>风控总监</div>
            <div class="about-team-p">1980年生，毕业于江西财经学院会计学、金融学双专业；先后在银行、担保公司 、小额贷款公司、基金管理公司从事财务核算及风控审批工作； 熟练掌握股权投资、中小企业贷款、抵押借款、小额贷款等综合贷款风险控制； 自2014年加入诚汇通公司，从事贷款风控审批工作。</div>
          </div>
        </div>
        <div class="about-line"></div>

        <div class="about-team">
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member9.jpg" class="team-img1" alt="诚汇通运营主管_彭海清">
		  <img src="../../statics/resource/images/about_center/team-list-member9a.jpg" class="team-img2" alt="诚汇通运营主管_彭海清">
		  </div>
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">彭海清</span>运营主管</div>
            <div class="about-team-p">1987年7月出生，法学硕士；曾从事营销、培训等工作，在培训体系和市场营销方向积累了宝贵的经验。于2013年加入诚汇通，先后就职客服主管、运营策划等职务，经过客服岗和运营岗不同角色的历练，对平台综合体系、跨岗位协调有着深入的理解、在互联网金融平台的运营以及用户运营领域积累了丰富的实战经验。</div>
          </div>
        </div>
        <div class="about-line"></div>

        <div class="about-team">
          <div class="about-team-pic2 pull-right">
		  <img src="../../statics/resource/images/about_center/team-list-member10.jpg" class="team-img1" alt="诚汇通客服主管_李艳">
		  <img src="../../statics/resource/images/about_center/team-list-member10a.jpg" class="team-img2" alt="诚汇通客服主管_李艳">
		  </div>
          <div class="about-team-intro pull-left">
            <div class="about-team-title"><span class="margin-right15px">李艳</span>客服主管</div>
            <div class="about-team-p">拥有多年的客户维护经验，对互联网及客户服务有充分的了解，2013年11月加入诚汇通，目前担任客服主管职位。主要负责客服管理，客服培训，客户关系维护，关联部门工作协调。致力于优化客服工作表现，提高客户体验。</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /右边内容 -->
  </div>
  
  <!-- About -->
  <script src="../../statics/resource/js/about_center/about.js"></script>
{template footer}