{template header}
  <!-- News -->
  <link href="../../statics/resource/css/about_center/about.css" rel="stylesheet">
  
  <!-- 路径导航 -->
  {template company-nav-hdr}
  <!-- /路径导航 -->
  
  <div class="container">
    <!-- 左边导航 -->
	{template company-nav-left}
    <!-- /左边导航 -->
    
    <!-- 右边内容 -->
    <div class="about-left pull-right border-radius">
      <div class="about-nav-title partner-box-title">合作伙伴</div>
        
        <div class="partner-item">
          <div class="partner-logo pull-left">
            <a href="http://bank.pingan.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/pingan.jpg" alt="平安银行"></a>
          </div>
          <div class="partner-content pull-right">
            <div class="partner-name"><a href="http://bank.pingan.com/" target="_blank">平安银行</a></div>
            <div class="partner-describe">平安银行， 全称平安银行股份有限公司，是中国平安保险（集团）股份有限公司控股的一家跨区域经营的股份制商业银行，为中国大陆12家全国性股份制商业银行之一。[<a href="http://www.chenghuitong.net/article/default-disp-id-1743.html" target="_blank">合作详情</a>]</div>
          </div>
        </div>
        
        <div class="partner-item">
          <div class="partner-logo pull-left">
            <a href="http://www.sumapay.com/sumapayweb/" target="_blank"><img src="../../statics/resource/images/about_center/partner/fengfu.jpg" alt="丰付支付"></a>
          </div>
          <div class="partner-content pull-right">
            <div class="partner-name"><a href="http://www.sumapay.com/sumapayweb/" target="_blank">丰付支付</a></div>
            <div class="partner-describe">丰付（Sumapay）是北京数码视讯支付技术有限公司旗下第三方支付品牌。北京数码视讯支付技术有限公司（以下简称丰付，英文Sumapay）成立于2008年，注册资本1亿元，核心团队由中国金融行业资深管理人士组成，立足于为小微企业、金融机构、行业客户和投资者提供金融支付、账户托管、投资理财等综合金融服务。总部设于北京，是数码视讯集团（300079）旗下的全资子公司。
[<a href="http://www.chenghuitong.net/article/default-disp-id-1690.html" target="_blank">合作详情</a>]</div>
          </div>
        </div>
        
        <div class="partner-item">
          <div class="partner-logo pull-left">
            <a href="http://www.pycredit.cn/" target="_blank"><img src="../../statics/resource/images/about_center/partner/pengyuan.jpg" alt="鹏元征信"></a>
          </div>
          <div class="partner-content pull-right">
            <div class="partner-name"><a href="http://www.pycredit.cn/" target="_blank">鹏元征信</a></div>
            <div class="partner-describe">鹏元征信有限公司成立于2005年，是专门开展个人征信、企业征信、企业评级、企业及个人信用管理的专业征信机构。公司通过了高新技术企业认定、双软企业认定、国家信息安全认证及国际软件成熟度（CMMI）认证，在个人及企业征信领域一直处于领先地位。[<a href="http://www.chenghuitong.net/article/default-disp-id-660.html" target="_blank">合作详情</a>]</div>
          </div>
        </div>
        
        <div class="partner-item">
          <div class="partner-logo pull-left">
            <a href="http://www.lianlianpay.com/home.html" target="_blank"><img src="../../statics/resource/images/about_center/partner/lianlianpay.jpg" alt="连连支付"></a>
          </div>
          <div class="partner-content pull-right">
            <div class="partner-name"><a href="http://www.lianlianpay.com/home.html" target="_blank">连连支付</a></div>
            <div class="partner-describe">连连银通电子支付有限公司是浙江省级高新企业，成立于2003年，注册资金1.05亿元。公司致力于通过互联网和移动手机等渠道为广大用户和商户提供 第三方支付和结算服务。 </div>
          </div>
        </div>
        
        <!--<div class="partner-item">
          <div class="partner-logo pull-left">
            <a href="http://www.ips.com.cn/" target="_blank"><img src="../../statics/resource/images/about_center/partner/huanxun.jpg" alt="环迅支付"></a>
          </div>
          <div class="partner-content pull-right">
            <div class="partner-name"><a href="http://www.ips.com.cn/" target="_blank">环迅支付</a></div>
            <div class="partner-describe">迅付信息科技有限公司，是中国最早成立的第三方支付企业。公司在2011年获颁中国人民银行首批《支付业务许可证》。公司目前可以支持国际主流信用卡及所有国内主流银行的在线支付，为全球超过60万家商户及2000万用户提供金融级的支付体验。</div>
          </div>
        </div>-->

        <div class="partner-item">
          <div class="partner-logo pull-left">
            <a href="https://www.baofoo.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/baofu.jpg" alt="宝付"></a>
          </div>
          <div class="partner-content pull-right">
            <div class="partner-name"><a href="https://www.baofoo.com/" target="_blank">宝付</a></div>
            <div class="partner-describe">宝付网络科技（上海）有限公司，2011年底荣获了由中国人民银行颁发的《支付业务许可证》，拥有来自互联网行业资深人士、金融界杰出精英和优秀的行业技术专家组成的国际化团队，以领先的研发实力和创新能力，一直专注于个人与企业用户的互联网支付需求。</div>
          </div>
        </div>
        
        <div class="partner-item">
          <div class="partner-logo pull-left">
            <a href="http://www.jrj.com.cn/" target="_blank"><img src="../../statics/resource/images/about_center/partner/jrj.jpg" alt="金融界"></a>
          </div>
          <div class="partner-content pull-right">
            <div class="partner-name"><a href="http://www.jrj.com.cn/" target="_blank">金融界</a></div>
            <div class="partner-describe">成立于1999年，是中国金融在线旗下成员之一，是目前中国领先的以证券交易为核心的互联网综合理财平台。金融界网站在“让投资更简单”的使命驱动下，凭借庞大的用户群，及业界领先的服务团队，为中国日益庞大的投资者打造、并不断拓展和优化互联网综合理财平台。</div>
          </div>
        </div>
        
        <div class="partner-item">
          <div class="partner-logo pull-left">
            <a href="http://p2p.hexun.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/hx.jpg" alt="和讯网"></a>
          </div>
          <div class="partner-content pull-right">
            <div class="partner-name"><a href="http://p2p.hexun.com/" target="_blank">和讯网</a></div>
            <div class="partner-describe">创立于1996年，从中国早期金融证券资讯服务脱颖而出，建立了第一个财经资讯垂直网站。经过十五年的专注耕耘，和讯网逐步确立了自己在业内的优势地位和品牌影响力，成为财经互联网专业、高端及品质的代表。中国互联网信息中心数据显示，和讯网用户中高收入人群高达72%，是互联网平均水平的4倍。</div>
          </div>
        </div>
        
        <div class="partner-logo-box">
          <table class="table-bordered partner-table text-center">
            <tr>
              <td><a href="http://www.wdzj.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/wangdaizhijia.jpg" alt="网贷之家"></a></td>
              <td><a href="http://www.p2peye.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/wangdaitianyan.jpg" alt="网贷天眼"></a></td>
              <td><a href="http://www.p2pchina.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/wangdaizhongguo.jpg" alt="网贷中国"></a></td>
            </tr>
            <tr>
              <td><a href="http://www.erongtu.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/rongtu.jpg" alt="融途网"></a></td>
              <td><a href="http://www.folklend.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/wangdaizhixing.jpg" alt="网贷之星"></a></td>
              <td><a href="http://www.wdzx.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/wangdaizhongxin.jpg" alt="网贷中心"></a></td>
            </tr>
            <tr>
              <td><a href="http://www.p2pjy.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/wangdaijingying.jpg" alt="网贷精英"></a></td>
              <td><a href="http://www1.szlssws.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/zhentai.jpg" alt="广东圳泰律师事务所"></a></td>
              <td><a href="http://www.gifa.com.cn/" target="_blank"><img src="../../statics/resource/images/about_center/partner/jinrongxiehui.jpg" alt="广东互联网金融协会"></a></td>
            </tr>
            <tr>
              <td><a href="http://www.zongls.cn/" target="_blank"><img src="../../statics/resource/images/about_center/partner/zongls.jpg" alt="棕榈泉"></a></td>
              <td><a href="http://www.76676.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/76676.png" alt="76676"></a></td>
              <td><a href="http://www.daiyicha.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/daiyicha.png" alt="76676"></a></td>
            </tr>
            <tr>
              <td><a href="http://www.wangdainengliang.com/" target="_blank"><img src="../../statics/resource/images/about_center/partner/wdnl.png" alt="网贷能量"></a></td>
              <td><a href="http://esf.zz.fang.com/zt/201511/zzmijue.html?utm_source=zzhezuo&utm_medium=click&utm_term=&utm_content=&utm_campaign=csb1209" target="_blank" rel="nofollow"><img src="../../statics/resource/images/about_center/partner/gfxmj.jpg" alt="购房小秘诀"></a></td>
              <td></td>
            </tr>
          </table>
        </div>
        
      </div>
    </div>
    <!-- /右边内容 -->
  </div>
  
  <!-- About -->
  <script src="../../statics/resource/js/about_center/about.js"></script>
{template footer}