<!-- 模态框（Modal） -->
<div class="modal fade" id="picModal" tabindex="-1" role="dialog" aria-labelledby="picModalLabel" aria-hidden="true">
	<div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title picModal" id="picModalLabel">Pictrue display</h4>
         </div>
         <div class="modal-body picModal">
			<img style="width:100%;" src=""/>
         </div>
         <div class="modal-footer">
         </div>
      </div>
	</div>
</div><!-- /.modal -->