<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset=utf-8>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="诚汇通官网，诚汇通，www.chenghuitong.net，p2p网贷平台，p2p理财公司，网络借贷平台，p2p理财产品——深圳市诚汇通金融信息有限公司">
    <meta name="description" content="诚汇通官网（www.chenghuitong.net）, 国内首批专注于P2P网络投融资服务的平台。投资免手续费，22%年化收益，100%保本保息，第三方托管，广东互联网金融协会会员；每天公布运营数据，为你的资金保驾护航。">
    <meta name="author" content="ifengjin@ifengjin.cn">
 
    <title>七夕巨有爱，逢七有奖</title>
    
    <link rel="stylesheet" href="../../zhuanti/qixi/css/base.css">
    
  </head>
  
  <body>
    <div class="header">
      <div class="topbar">
        <div class="container">
          <div class="pull-left">
            <a href="https://www.chenghuitong.net/">
              <span class="home"></span>
              <span>首页</span>
            </a>
            <a>
              <span class="tel"></span>
              <span>客服电话：400-018-0107</span>
            </a>
            <a>
              <span>13613002927（非工作时间）</span>
            </a>
          </div>
          <div class="pull-right">
            <a href="https://www.chenghuitong.net/content/login-index.html">
              <span class="log"></span>
              <span>登录</span>
            </a>
             <a href="https://www.chenghuitong.net/content/regedit-index.html">
               <span class="reg"></span>
               <span>注册</span>
             </a>
             <a href="http://www.chenghuitong.net/article/services-help.html">
               <span class="help"></span>
               <span>帮助中心</span>
             </a>
             <a href="https://www.chenghuitong.net/member/msg-index.html">
               <span class="email"></span>
               <span>(0)</span>
             </a>
             <a href="http://www.chenghuitong.net/article/default-calculator.html">
               <span class="calc"></span>
               <span>投资计算器</span>
             </a>    
          </div>
        </div>
      </div>
      <div class="nav">
        <div class="container">
          <div class="pull-left"><a href="https://www.chenghuitong.net/"><img src="../../zhuanti/qixi/image/need/logo.png" alt="logo"></a></div>
          <div class="pull-right">
            <a href="https://www.chenghuitong.net/borrow/default-index.html">我要理财</a>
            <a href="https://www.chenghuitong.net/borrow/release-index.html">我要融资</a>
            <a href="https://www.chenghuitong.net/activity/carefund-index.html">关爱基金<sup>new</sup></a>
            <a href="http://www.chenghuitong.net/article/safety-index.html">安全保障</a>
            <a href="http://www.chenghuitong.net/article/services-guide.html">新手指引</a>
            <a class="header-btn" href="https://www.chenghuitong.net/member/main-index.html">我的账户</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="main">
      <div class="container">
        <h1>活动形式：</h1>
        <p>活动期间，额外增加发放七夕活动投标奖励0.7%，活动规则如下：<br>每天10:07 14:07 15:07 17:07 19:07发布活动标，按投标时间先后排名送奖励；单个活动标的单个奖项不重复获奖。<br>每个活动标的的第7/17/27/37/47/57/67/77/87名投标人有奖，奖励排名投资金额的0.7%。</p>
        <a class="btn" href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank"></a>
        <h1>参与方式：</h1>
        <p>活动期间，诚汇通的新老用户皆可参与七夕节活动。</p>
        <h1>奖励发放：</h1>
        <p>所有的奖励将在活动结束后的7个工作日内发放到投资人平台账户，同时发布公告，奖励可投标可提现。</p>
      </div>
    </div>
    
    <div class="flt"></div>
    
    <div class="footer">
      <div class="container">
        <div class="pull-left">
          <div class="links">
            <a href="http://www.chenghuitong.net/article/company-index.html">关于我们</a>
            <a href="http://www.chenghuitong.net/article/safety-index.html">安全保障</a>
            <a href="http://www.chenghuitong.net/article/services-help-cateid-3.html">帮助中心</a>
            <a href="http://www.chenghuitong.net/article/services-index.html">服务中心</a>
            <a href="http://www.chenghuitong.net/article/default-index.html">新闻中心</a>
            <a href="http://www.chenghuitong.net/article/company-contact.html">联系我们</a>     
          </div>
          <div class="copyright">深圳市诚汇通金融信息有限公司<br>深圳市福田区福华三路168号国际商会中心2408-2412室<br>Copyright© 2015 www.chenghuitong.net 粤ICP备13044593号</div>
          <div class="beian">
            <a href="https://cert.ebs.gov.cn/A71F6F48-ABB7-4F8A-92C4-D73F8FA0DE56" target="_blank">
              <img src="../../zhuanti/qixi/image/need/beian_gswj.jpg" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示">
            </a>
            <a href="http://www.miibeian.gov.cn/" target="_blank">
              <img src="../../zhuanti/qixi/image/need/beian_icp.jpg" title="ICP备案查询" alt="ICP备案查询">
            </a>
            <a href="https://search.szfw.org/cert/l/CX20140305003565003628" target="_blank">
              <img src="../../zhuanti/qixi/image/need/beian_cxwz.jpg" title="诚信网站" alt="诚信网站">
            </a>
            <a href="https://ss.knet.cn/verifyseal.dll?sn=e13101844030042941tvh5000000&amp;ct=df&amp;a=1&amp;pa=0.2732217316515744" target="_blank">
              <img src="../../zhuanti/qixi/image/need/beian_cnnic.png" title="可信网站" alt="可信网站">
            </a>
            <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&amp;dn=www.chenghuitong.net&amp;lang=en" target="_blank">
            <img src="../../zhuanti/qixi/image/need/beian_norton.jpg" title="NORTON" alt="NORTON">
          </a>
          </div>
        </div>
        <div class="pull-right">
          <div class="tel">400-018-0107</div>
          <div class="time">（周一至周五 9:00-17:30）</div>
          <div class="attention">
            <a class="weibo" href="http://weibo.com/cht608710" target="_blank"></a>
            <a class="tweibo" href="http://e.t.qq.com/cht608710" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
