<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset=utf-8>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="诚汇通官网，诚汇通，www.chenghuitong.net，p2p网贷平台，p2p理财公司，网络借贷平台，p2p理财产品——深圳市诚汇通金融信息有限公司">
    <meta name="description" content="诚汇通官网（www.chenghuitong.net）, 国内首批专注于P2P网络投融资服务的平台。投资免手续费，22%年化收益，100%保本保息，第三方托管，广东互联网金融协会会员；每天公布运营数据，为你的资金保驾护航。">
    <meta name="author" content="ifengjin@ifengjin.cn">
 
    <title>冲刺吧！大奖</title>
    
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    
    <link rel="stylesheet" href="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/ranking/css/base.css">
    
      <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?58b625f2fae8bd6127a23680606506af";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
      </script>
    
  </head>
  
  <body>
          <script type="text/javascript">
    var _py = _py || [];
    _py.push(['a', 'Tm..DUK-NY5HfP8gsyvUJdDDO_']);
    _py.push(['domain','stats.ipinyou.com']);
    _py.push(['e','']);
    -function(d) {
            var s = d.createElement('script'),
            e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
            f = 'https:' == location.protocol;
            s.src = (f ? 'https' : 'http') + '://'+(f?'fm.ipinyou.com':'fm.p0y.cn')+'/j/adv.js';
    }(document);
    </script>
<noscript><img src="//stats.ipinyou.com/adv.gif?a=Tm..DUK-NY5HfP8gsyvUJdDDO_&e=" style="display:none;"/></noscript>
    <div class="header">
      <div class="topbar">
        <div class="container">
          <div class="pull-left">
            <a href="https://www.chenghuitong.net/">
              <span class="home"></span>
              <span>首页</span>
            </a>
            <a>
              <span class="tel"></span>
              <span>客服电话：400-018-0107</span>
            </a>
            <a>
              <span>13613002927（非工作时间）</span>
            </a>
          </div>
          <div class="pull-right">
              
              <?php if(isset($this->user['id'])){?>
          <!-- 登录后 -->
          <span><a href="<?=url('member','main','index')?>"><?=$this->user['username']?>，欢迎来到诚汇通！</a></span>
          <span ><a href="<?=url('content','login','loginout')?>">[退出]</a></span>
             <a href="<?=url('member','msg','index')?>">
               <span class="email"></span>
               <span>(0)</span>
             </a>
          <!-- /登录后 -->
          <?php }else{?>
          <!-- 登录前 -->
          <a href="<?=url('content','login','index')?>">
              <span class="log"></span>
              <span>登录</span>
            </a>
             <a href="<?=url('content','regedit','index')?>">
               <span class="reg"></span>
               <span>注册</span>
             </a>          
          <!-- /登录前 -->
          <?php }?>             
              
            
             <a href="<?=url('article','services','help')?>">
               <span class="help"></span>
               <span>帮助中心</span>
             </a>

             <a href="<?=url('article','default','calculator')?>">
               <span class="calc"></span>
               <span>投资计算器</span>
             </a>    
          </div>
        </div>
      </div>
      <div class="nav">
        <div class="container">
          <div class="pull-left"><a href="https://www.chenghuitong.net/"><img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/ranking/image/need/logo.png" alt="logo"></a></div>
          <div class="pull-right">
            <a href="<?=url('borrow','default','index')?>">我要理财</a>
            <a href="<?=url('borrow','release','index')?>">我要融资</a>
            <a href="<?=url('activity','carefund','index')?>">关爱基金<sup>new</sup></a>
            <a href="<?=url('article','safety','index')?>">安全保障</a>
            <a href="<?=url('article','services','guide')?>">新手指引</a>
            <a class="header-btn" href="<?=url('member','main','index')?>">我的账户</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="banner"></div>
    
    <div class="main container">
      <div class="pull-left">
        <div class="title-one"></div>
        <h1>奖励规则：</h1>
        <div class="p">根据用户的累计<strong>加权投资金额</strong><span class="tips"><div class="tipbox"><div class="cont">加权投标总额=一月标当月投标金额*1+三月标当月投标金额*3+六月标当月投标金额*6</div><div class="arrow arrow-down"></div></div></span>排名,加权投标总额排名前20的用户，即可获得对应级别的英雄感恩奖励。</div>
        <div class="p">1 - 3名：奖励投标金额的0.4%</div>
        <div class="p">4 - 10名：奖励投标金额的0.2%</div>
        <div class="p">11 - 20名：奖励投标金额的0.1%</div>
        <table border="0" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>名次</th>
              <th>用户名</th>
              <th>加权投资金额</th>
              <th>投资额</th>
              <th>奖励金额</th>
            </tr>
          </thead>
          <tbody>
              <?php foreach($hero_list as $v):?>
            <tr>
              <td><?php echo $v['NO'];?></td>
              <td><?php echo $v['username'];?></td>
              <td><?php echo $v['account_act_2'];?></td>
              <td><?php echo $v['account_act_total'];?></td>
              <td><?php echo $v['prize'];?></td>
            </tr>
            <?php endforeach;?>
            
            
          </tbody>
        </table>
        <div class="ps">P.S: 此表格数据根据投资人每天投资情况实时更新</div>
        <div>注：</div>
        <div>①英雄榜和增仓感恩奖励的10%将捐助给慈善关爱基金；</div>
        <div>②奖励的发放时间在8月7日发放到用户非托管账户；</div>
        <div>③以上活动的最终解释权归深圳市诚汇通金融信息有限公司所有。</div>
      </div>
      <div class="pull-right">
        <div class="title-two"></div>
        <h1>奖励规则：</h1>
        <div class="p">6月30日22：00至7月31日22：00期间，<strong>老客户</strong><span class="tips tips_"><div class="tipbox"><div class="cont">非当月注册的用户，即7月1日前注册</div><div class="arrow arrow-down"></div></div></span>待收金额增幅达到10万以上（含10万），即可获得对应级别的增仓感恩奖。</div>
        <div class="p">10万≤增仓金额＜30万，奖励增仓金额*0.1%</div>
        <div class="p">30万≤增仓金额＜50万，奖励增仓金额*0.15%</div>
        <div class="p">50万≤增仓金额，奖励增仓金额*0.2%</div>
        <table border="0" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>名次</th>
              <th>用户名</th>
              <th>增仓额</th>
              <th>奖励金额</th>
            </tr>
          </thead>
          <tbody>
              <?php foreach($zc_list as $v):?>
            <tr>
              <td><?php echo $v['NO'];?></td>
              <td><?php echo $v['username'];?></td>
              <td><?php echo $v['total_zc'];?></td>
              <td><?php echo $v['prize'];?></td>
            </tr>
            <?php endforeach;?>
          </tbody>
        </table>
        <div class="ps">P.S: 此表格数据根据投资人每天投资情况实时更新</div>
      </div>
    </div>
    
    <div class="footer">
      <div class="container">
        <div class="pull-left">
          <div class="links">
            <a href="http://www.chenghuitong.net/article/company-index.html">关于我们</a>
            <a href="http://www.chenghuitong.net/article/safety-index.html">安全保障</a>
            <a href="http://www.chenghuitong.net/article/services-help-cateid-3.html">帮助中心</a>
            <a href="http://www.chenghuitong.net/article/services-index.html">服务中心</a>
            <a href="http://www.chenghuitong.net/article/default-index.html">新闻中心</a>
            <a href="http://www.chenghuitong.net/article/company-contact.html">联系我们</a>     
          </div>
          <div class="copyright">深圳市诚汇通金融信息有限公司<br>深圳市福田区福华三路168号国际商会中心2408-2412室<br>Copyright© 2015 www.chenghuitong.net 粤ICP备13044593号</div>
          <div class="beian">
            <a href="https://cert.ebs.gov.cn/A71F6F48-ABB7-4F8A-92C4-D73F8FA0DE56" target="_blank">
              <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/ranking/image/need/beian_gswj.jpg" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示">
            </a>
            <a href="http://www.miibeian.gov.cn/" target="_blank">
              <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/ranking/image/need/beian_icp.jpg" title="ICP备案查询" alt="ICP备案查询">
            </a>
            <a href="https://search.szfw.org/cert/l/CX20140305003565003628" target="_blank">
              <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/ranking/image/need/beian_cxwz.jpg" title="诚信网站" alt="诚信网站">
            </a>
            <a href="https://ss.knet.cn/verifyseal.dll?sn=e13101844030042941tvh5000000&amp;ct=df&amp;a=1&amp;pa=0.2732217316515744" target="_blank">
              <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/ranking/image/need/beian_cnnic.png" title="可信网站" alt="可信网站">
            </a>
            <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&amp;dn=www.chenghuitong.net&amp;lang=en" target="_blank">
            <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/ranking/image/need/beian_norton.jpg" title="NORTON" alt="NORTON">
          </a>
          </div>
        </div>
        <div class="pull-right">
          <div class="tel">400-018-0107</div>
          <div class="time">（周一至周五 9:00-17:30）</div>
          <div class="attention">
            <a class="weibo" href="http://weibo.com/cht608710" target="_blank"></a>
            <a class="tweibo" href="http://e.t.qq.com/cht608710" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
