{template header}

  <!-- Service -->
  <link href="../../statics/resource/css/service/service.css" rel="stylesheet">
  <div class="container margin-top30px">
    <ul class="nav nav-tabs font18px text-center" role="tablist">
      <li class="active"><a href="#serviceTitle2" role="tab" data-toggle="tab">服务流程</a></li>
      <li><a href="#serviceTitle1" role="tab" data-toggle="tab">服务理念</a></li>
      <li><a href="#serviceTitle3" role="tab" data-toggle="tab">服务监督</a></li>
      <li><a href="#serviceTitle4" role="tab" data-toggle="tab">行为准则</a></li>
      <li><a href="#serviceTitle5" role="tab" data-toggle="tab">收费制度</a></li>
    </ul>

    <div class="tab-content">
      <!-- 服务流程 -->
      <div class="tab-pane active" id="serviceTitle2">
        <div class="service-title">1、客服的作息安排</div>
        <p>周一至周五：09:00-22:00</p>
        <p>周六至周日：10:00-17:00</p>
        <div class="service-title">2、回款时间安排</div>
        <p>周一至周五：9：30</p>
        <p>周末、节假日：10：00</p>
        <div class="service-title">3、提现</div>
        <p><strong>提现规则</strong></p>
        <p>（1）充值后未投标的金额，15日后方可提现；</p>
        <p>（2）禁止信用卡用户充值后不投标提现；平台禁止信用卡套现行为,一经发现将予以处罚，包括但不限于：限制提现、冻结账户、永久停止服务，并有可能影响相关信用记录；</p>
        <p>（3）100元起提，低于100元需在投资人申请销户情况下方可予以处理。</p>
        <p><strong>提现处理时间</strong></p>
        <p>原账户提现时间：</p>
        <p>周一至周五：当天处理16:00前的提现申请，24小时内到账。</p>
        <p>周五16：00后至周日提现： 统一周一处理（如遇节假日顺延，具体以平台公告为准）</p>
        <p>托管账户提现规则：</p>
		<p>（1）托管账户所有资金都由丰付支付进行全程托管；</p>
		<p>（2）提现时请务必使用与托管账户开户时身份认证信息一致的银行卡，且确保填写信息准确无误；</p>
		<p>（3）提现采用批次处理方式，时间分别为：工作日上午9:00、11:00、14:00、16:30、18:00；非工作日20:00。</p>
		<p>（4）到账时间：T+0到账，实际到账时间由银行处理时间决定，处理后最迟24小时内到账。</p>
		<p>（5）提现金额单笔上限为50万元，最低提现金额为2.01元；</p>
		<p>（6）提现手续费为提现金额的0.05%，单笔不足2元按2元收取，最高50元封顶；</p>
		<p>（7）提现仅限银行借记卡，不支持存折、信用卡提现；</p>
		
        <div class="service-title">4、热线服务安排</div>
        <p>服务热线：400-018-0107</p>
        <p>周一至周五：9：00-17：30；工作日17：30-22：00 及节假日值班时间请拨打客服值班电话13613002927</p>
        <div class="service-title">5、国家节假日营业时间</div>
        <p>国家节假日的营业时间安排，诚汇通将会提前5个工作日在网站公告公布</p>
        <div class="service-title">6、服务流程</div>
        <p>1、充值流程：</p>
        <p>客户直接操作，系统自动审核，如有第三方支付通道临时系统掉单，没有自动审核的，客户可在线联系客服提供用户名查询后手动审核。</p>
        <p>2、提现流程：</p>
        <div class="tixian-steps-box">
          <a>客户提交提现申请</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a>财务审核</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a>财务汇款</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a>资金到账</a>
        </div>
      </div>
      <!-- /服务流程 -->

      <!-- 服务理念 -->
      <div class="tab-pane" id="serviceTitle1">
        <div class="service-title">理念要求</div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">热情真诚：</div>
          <div class="service-content-right pull-right">要求客服人员对客户由始至终的保持热情真诚的态度，不能将个人情绪带到工作中，不能被客户情绪影响，将客户当成自己的 朋友亲人，耐心倾听客户的需求与诉求，与客户保持愉快、畅通的交流。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">严谨务实：</div>
          <div class="service-content-right pull-right">要求客服人员熟悉公司所有产品的特质、业务流程，以严谨、务实的态度，细心，专业的帮助客户解决问题，并根据客户的实 际情况与需求，维护客户的最高利益。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">公开透明：</div>
          <div class="service-content-right pull-right">客服人员应当为平台和客户之间搭建一个公开透明的信息沟通渠道，通过QQ、邮件、电话等多种方式，及时将平台公告、消息 告知客户，同时，当客户提出建议或发出投诉，客服应当第一时间反馈给公司，不得因个人利益或个人原因刻意隐瞒。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">主动高效：</div>
          <div class="service-content-right pull-right">客服人员在与客户接触时，应当主动沟通，做好一问三答的准备。学会活跃QQ群气氛，主动安抚客户情绪。公司制定任务时， 应高效执行，客户提出问题时，应第一时间解决。</div>
        </div>
        <div class="service-title">服务技能</div>
        <p>诚汇通对客服人员精挑细选，上岗客服均经过专业培训，具备优良的专业技能：</p>
        <p>1、 精通网贷平台的日常操作流程，包括实名认证、充值、回款、提现、收益计算等日常的服务流程；</p>
        <p>2、 熟悉基本的网络办公自动化知识与技术，懂得网络语言的技巧；</p>
        <p>3、 懂得相关金融知识，以及网贷知识，清楚操作流程，熟悉基本概念；</p>
        <p>4、 具备良好的沟通能力和沉稳的耐心，不骄不躁；</p>
        <p>5、 具备一定的答疑能力和处理投诉的能力；</p>
        <p>6、 具备一定的语言沟通能力，在必要的时候接听客户电话和进行电话答疑。</p>
      </div>
      <!-- /服务理念 -->

      <!-- 服务监督 -->
      <div class="tab-pane" id="serviceTitle3">
        <p class="line-height50px font16px bg-warning text-center">如果您有好的建议，或者你对诚汇通的服务有什么不满，欢迎你致电反馈。</p>
        <div class="service-title">建议流程</div>
        <div class="jiandu-steps-box">
          <a class="jiandu-steps1">客户QQ群或电话提交建议</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a class="jiandu-steps2">客服记录</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a class="jiandu-steps2">反馈给行政部</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a class="jiandu-steps1">相关部门按高层指示处理</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a class="jiandu-steps1">处理结果反馈给客户</a>
        </div>
        <p>处理期限：凡客户向诚汇通监督部门提出的建议或投诉，工作人员会在2个工作日内向客户回访处理结果。</p>
        <div class="margin-top45px"></div>
        <div class="service-title">投诉流程</div>
        <div class="jiandu-steps-box">
          <a class="jiandu-steps1">客户QQ群或电话提交建议</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a class="jiandu-steps2">客服记录</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a class="jiandu-steps2">反馈给行政部</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a class="jiandu-steps1">相关部门按高层指示处理</a>
          <div class="arrows"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <a class="jiandu-steps1">处理结果反馈给客户</a>
        </div>
        <p>处理期限：凡客户向诚汇通监督部门提出的建议或投诉，工作人员会在2个工作日内向客户回访处理结果。</p>
      </div>
      <!-- /服务监督 -->

      <!-- 行为准则 -->
      <div class="tab-pane" id="serviceTitle4">
        <div class="service-title">八大要求</div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第一要求：</div>
          <div class="service-content-right pull-right">为了保证客服群的活跃气氛，要求客服要主动积极、热情的活跃气氛。新客户加群，应该主动给予热情欢迎。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第二要求：</div>
          <div class="service-content-right pull-right">客户在客服群的在线咨询问题，要求客服在第一时间回应。如果咨询事务需要其他部门的协助，要求客服主动将处理流程告
　　　　　　　 之客户，让客户可以耐心等待。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第三要求：</div>
          <div class="service-content-right pull-right">日间和晚间交班时，或因暂时离开工作岗位、接听工作电话等日常事务时，要求客服在群里知会客户。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第四要求：</div>
          <div class="service-content-right pull-right">客户对平台的建议和批评，要求客服即时建立档案，及时反馈给上级主管或相关部门。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第五要求：</div>
          <div class="service-content-right pull-right">如果客户因提现、回款、充值等涉及到客户资金安全的纠纷而在群里质问，要求客服马上在群里告之所有客户，通过电话方
　　　　　　　 式进行沟通。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第六要求：</div>
          <div class="service-content-right pull-right">为了提供咨询质量，要求客服必须清楚所有借款标的详情、平台保障制度、风控管理体系，保证对客户的提问做到对答如流。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第七要求：</div>
          <div class="service-content-right pull-right">为了提供服务质量，要求客服必须清楚平台的奖励活动，清楚投标，充值、提现的流程，对客户的提问做到对答如流，并引
　　　　　　　 导、激励客户参与活动。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第八要求：</div>
          <div class="service-content-right pull-right">当客户申请VIP服务时，被选择的专属客服，要求主动与客户沟通，告之VIP客户的服务细则、日常的咨询专属服务。</div>
        </div>
        <div class="service-title">五大不得</div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第一不得：</div>
          <div class="service-content-right pull-right">当客户在群里讨论其他平台是非，客服不得参与，并引导客户终止是非讨论。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第二不得：</div>
          <div class="service-content-right pull-right">当客户在群里影响公司声誉时，客服不得与客户动气，应以礼相待，耐心劝导客户。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第三不得：</div>
          <div class="service-content-right pull-right">非发布广告、违法内容的情况下，客服不得因为客户的质疑和批评而踢走客户。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第四不得：</div>
          <div class="service-content-right pull-right">当客服无法解答客户的问题时，客服不得以“不知道”的用语回应，应第一时间让上级主管回应。</div>
        </div>
        <div class="service-div">
          <div class="service-title-left pull-left bold color-main">第五不得：</div>
          <div class="service-content-right pull-right">当出现公关危机时，或当客户在群里提出质疑、或者批评意见时，客服不得有“不作任何回应”的回避态度，力求正面回应。</div>
        </div>
      </div>
      <!-- /行为准则 -->

      <!-- 收费制度 -->
      <div class="tab-pane" id="serviceTitle5">
        <div class="service-title">1、投资人费用</div>
        <p>托管账户提现规则：</p>
		<p>（1）托管账户所有资金都由丰付支付进行全程托管；</p>
		<p>（2）提现时请务必使用与托管账户开户时身份认证信息一致的银行卡，且确保填写信息准确无误；</p>
		<p>（3）提现采用批次处理方式，时间分别为：工作日上午9:00、11:00、14:00、16:30、18:00；非工作日20:00。</p>
		<p>（4）到账时间：T+0到账，实际到账时间由银行处理时间决定，处理后最迟24小时内到账。</p>
		<p>（5）提现金额单笔上限为50万元，最低提现金额为2.01元；</p>
		<p>（6）提现手续费为提现金额的0.05%，单笔不足2元按2元收取，最高50元封顶；</p>
		<p>（7）提现仅限银行借记卡，不支持存折、信用卡提现；</p>
        <p>普通账户提现费用：无</p>
        <div class="service-title">2、借款人费用</div>
        <p class="font16px bold">1）按月借款服务费：</p>
        <p class="service-p">服务费将按照借款人的借款期限，每月向借款人收取其借款本金的1%作为借款服务费。收取的服务费将0.5%存于风险保证金账户用于本金保障服务；</p>
        <p class="font16px bold">2）按天借款服务费：</p>
        <p class="service-p">服务费将按照借款人的借款天数，每天向借款人收取其借款本金的0.5‰作为借款服务费。收取的服务费将0.25‰存于风险保证金账户用于本金保障服务；</p>
        <p class="font16px bold">3）VIP费用：</p>
        <p class="service-p">借款人提交资料审核通过后，必须成功申请VIP会员才能发布借款标，VIP会员费180元/年，借款成功以后即刻收取。</p>
        <div class="service-title">3、逾期还款</div>
        <p>1、借款人到期还款出现严重逾期时（即逾期超过4天时），担保方将向理财人垫付此笔借款未归还的剩余出借本金或本息。出现上述情况后，收取相应的借款本息权利自动转为担保方所有。担保方有权将该笔债权转让给任何第三方，未垫付前如借款人还款，本息按正常标准收取，垫付本息后逾期按每天千分之三收取罚息，本金利息及罚息全部为担保方收取。</p>
        <p>2、用户借款后如遇到困难，必须主动联系诚汇通说明原因，并做出还款计划，网站将为其进行债务重组，尽量帮助其缓解困难。如借款逾期以后不接电话或恶意停机躲避债务等，诚汇通将派人上门催收，除按逾期天数收取违约金和罚息，另外还将收取上门催收费用，对于恶意骗款后逃跑的用户，将采取一切必要措施打击，并通过法律途径追究其责任，收回欠款。</p>
        <div class="service-title">4、还款方式说明</div>
        <p>1、按月还款：VIP会员用户均可在额度内发布借款标，按月等额本息还款。</p>
        <p>2、到期还款：净值借款和抵押借款可申请到期还款，每月还息，到期还本。</p>
        <p>3、推广期间借款期限在12个月以内。</p>
        <div class="service-title">5、投资说明</div>
        <p>1、充值不投标，15日后方可提现。平台禁止信用卡套现行为,一经发现将予以处罚，包括但不限于：限制提现、冻结账户、永久停止服务，并有可能影响相关信用记录。</p>
        <p>2、提现资金优先级：回款>奖励>充值</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投标资金优先级：充值>奖励>回款</p>
        <div class="service-title">6、特别条款</div>
        <p>1、借款人保证借款用于合法用途，不将所借款用于任何违法活动(包括但不限于赌博、吸毒、贩毒、卖淫嫖娼等)及一切高风险投资(如证券期货彩票等)。如借款人违反前述保证或有违反前述保证的嫌疑，则出借人（用户）有权采取下列措施：</p>
        <p class="service-p">（1）宣布提前收回全部借款；</p>
        <p class="service-p">（2）出借人向公安等有关行政机关举报,追回此款并追究借款人的刑事责任，出借人和借款人均同意并授权诚汇通采取前述措施。</p>
        <p>2、本网站仅作为网友之间小额资金互助平台,借款人和出借人均不得利用本网站平台进行信用卡和其他洗钱等不正当交易行为,否则出借人借款人或本网站均有权向公安等有关行政机关举报,追究其相关法律责任。</p>
      </div>
      <!-- /收费制度 -->
    </div>
  </div>

{template footer}