<!DOCTYPE html>
<html>
<head>
    <title>活动规则</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui">

    <meta name="location" content="province=广东;city=深圳市;coord=114.063497,22.538715">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="ifengjin@ifengjin.cn">

    <link rel="stylesheet" href="../../statics/weixin/lj5y/css/style.css">
</head>
<body class="activity">
<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxbdd9a6c44e78c842&redirect_uri=https%3A%2F%2Fwww.chenghuitong.net%2F%3Fm%3Dweixin%26c%3Ddefault%26a%3Dzhuce%26tag%3Dlj5y&response_type=code&scope=snsapi_base&state=123#wechat_redirect">
<img src="../../statics/weixin/lj5y/image/ActivityRule-img1.png">
<img src="../../statics/weixin/lj5y/image/ActivityRule-img2.png">
<img src="../../statics/weixin/lj5y/image/ActivityRule-img3.png">
</a>
<div class="ac-content">
    <ul class="ac-ui-list">
        <li><b>活动规则：</b></li>
        <li>1. 针对在深圳区域内指定合作的上岛咖啡和名典咖啡门店，扫描注册成功即可享受减5元优惠；</li>
        <li>2. 注册实名制完成，账户额外再赠送20元现金；</li>
        <li>3. 免5元券可立即享用，一张单仅可使用一次，不可叠加；</li>
        <li>4. 一平台账号只能参与一次；</li>
        <li>5. 优惠截止日为2015.10.31；</li>
        <li>6. 活动最终解释权归深圳市诚汇通金融信息有限公司</li>
    </ul>
    <div class="ac-footer txt-center">
        <p>深圳市诚汇通金融信息有限公司</p>
        <p>Copyright© 2015  粤ICP备13044593号</p>
    </div>
</div>
</body>
</html>
