<!doctype html>
<html lang="en">
<head>
	<!-- Meta, title, CSS, favglyphicons, etc. -->
	<meta charset="utf-8">
	<title>诚汇通</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<meta name="description" content="">

	<!-- Bootstrap -->
	<link href="../../statics/weixin/assets/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="../../statics/weixin/css/cht.css" rel="stylesheet" media="screen">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../../statics/weixin/assets/js/html5shiv.js"></script>
	<script src="../../statics/weixin/assets/js/respond/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<div class="navbar navbar-inverse dh_sy">
		<div class="container toubu">

			<ul class="nav top_cent">
				<li>投资明细</li>
			</ul>
<!--			<a class="navbar-brand" href="#">
				<img src="../../statics/weixin/images/fanhui.png"></a>
			<a class="nav-home" href="#">
				<img src="../../statics/weixin/images/shouye.png"></a>-->
			<!--/.nav-collapse -->
		</div>
	</div>

	<!-- Carousel
	================================================== -->
	<!-- /container -->
	<div class="container">
		<div class="row mt10">
			<div class="col-12">
				<div class="daishou">
                                    <h3>投资明细<span style="font-size:13px;"> (最新10条)</span></h3>
                                    {if isset($list) && !empty($list)}
                                    {loop $list $ko $vo}
					<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" id="myModal{$ko}" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
									<h4 id="myModalLabel" class="modal-title"><?=$vo['title']?></h4>
								</div>
								<div class="modal-body">
									<table class="touzi-mx">
										<tr>
											<td><b>金额</b></td>
											<td>￥<?=empty($vo['account'])?'0.00':$vo['account']?></td>
										</tr>
										<tr>
											<td><b>年利率</b></td>
											<td><?=$vo['apr']*100?>%</td>
										</tr>
										<tr>
											<td><b>期限</b></td>
											<td>{$vo['time_limit']}<?=empty($vo['is_datetype'])?'月':'天'?></td>
										</tr>
										<tr>
											<td><b>投标时间</b></td>
											<td><?=date('Y-m-d',$vo['addtime'])?></td>
										</tr>
										<tr>
											<td><b>应收本息</b></td>
											<td>￥<?=empty($vo['income_total'])?'0.00':$vo['income_total']?></td>
										</tr>
										<tr>
											<td><b>借出金额</b></td>
											<td>￥<?=empty($vo['account_act'])?'0.00':$vo['account_act']?></td>
										</tr>
									</table>
								</div>

							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
                                    {/loop}
                                    {/if}
					
					<table class="mx_biao">
						<tbody>
							<tr>
								<th width="40%">标题</th>
								<th width="20%">金额</th>
								<th width="20%">年利率</th>
								<th width="20%">期限</th>
							</tr>
                                                        {if isset($list) && !empty($list)}
                                                        {loop $list $ko2 $vo2}
							<tr>
								<td>
									<div class="jjj">
										<a data-toggle="modal" data-target="#myModal{$ko2}"><?=getstr($vo2['title'],40)?></a>
									</div>
								</td>
								<td>￥<?=empty($vo2['account'])?'0.00':$vo2['account']?></td>
								<td><?=$vo2['apr']*100?>%</td>
								<td>{$vo2['time_limit']}<?=empty($vo2['is_datetype'])?'月':'天'?></td>
							</tr>
                                                        {/loop}
                                                        {else}
                                                        <tr>
                                                            <td colspan="9" height='80px'><p align='center'>暂无此记录!</p></td>
                                                        </tr>
                                                        {/if}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- JavaScript plugins (requires jQuery) -->
	<script src="../../statics/weixin/assets/js/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../statics/weixin/assets/js/bootstrap.min.js"></script>

	<script src="../../statics/weixin/assets/js/holder/holder.js"></script>

	<script type="text/javascript"></script>

</body>
</html>