<!doctype html>
<html lang="en">
    <head>
        <!-- Meta, title, CSS, favglyphicons, etc. -->
        <meta charset="utf-8">
        <title>诚汇通</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta name="description" content="">

        <!-- Bootstrap -->
        <link href="../../statics/weixin/assets/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="../../statics/weixin/css/cht.css" rel="stylesheet" media="screen">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../statics/weixin/assets/js/html5shiv.js"></script>
        <script src="../../statics/weixin/assets/js/respond/respond.min.js"></script>
        <![endif]-->

    </head>
    <style>
        .hbgz {
            color: #000;
        }
        .hbgz b {
            font-size: 15px;
        }
        .b2 {
            font-weight: bold;
            font-size: 17px;
        }
        .tc{
            color: #e36c0a;
        }
    </style>
    <body style="padding-top: 0; background: #fff; ">

        <!-- Carousel
        ================================================== -->
        <!-- /container -->
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="hbgz">
                        <p class="b2">公司简介</p>
                        <div class="hb-pic mt10"><img src="../../statics/weixin/images/about.jpg" alt=""></div>
                        
                        <p class="mt10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;诚汇通P2P网络借贷平台（<span class="tc">www.chenghuitong.net</span>），是由深圳市诚汇通金融信息有限公司运用的互联网金融服务平台，成立于2013年7月，注册资本1亿人民币。核心团队由银行、金融、互联网、法律等领域资深专业人士组成，总部位于深圳市福田CBD，并在深圳、赣州等地开设分公司和线下网点。</p>
                        <p class="mt10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司秉承“<span class="tc">诚信兴业，安全可靠、以人为本，感恩客户</span>”的经营理念，在符合国家对民间借贷行为的相关法律法规的前提下，运用严格谨慎的风险控制机制、先进便捷的互联网信息技术、安全完善的第三方资金理财服务，为有资金需求的融资方和有理财需求的个人搭建一座诚信、安全、透明、专业的投融资平台。不仅为社会闲散资金提供一个安全稳定的全新理财方式，同时为小微企业找一条高效的融资渠道，缓解其融资难问题。通过诚汇通平台，您可以将富余资金出借给信用良好的小微企业，并获取利息回报，而小微企业通过诚汇通平台发布融资需求，以获得社会闲散资金的帮助，解决融资问题。</p>
                        <!--<div class="hb-pic mt10"><img src="../../statics/weixin/images/about2.jpg" alt=""></div>-->
                            <!--<p class="mt10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司一直以来特别注重企业文化建设，建立了一套行之有效的人力资源机制，并由此打造出一支积极向上、充满朝气、综合业务素质强的团队。公司秉承“诚信兴业，安全可靠、以人为本，感恩客户”的经营理念，在符合国家对民间借贷行为的相关法律法规的前提下，运用严格谨慎的风险控制机制、先进便捷的网络信息技术、安全完善的资金担保服务，为借贷双方构建良好的信用交易平台。经深圳市工商行政管理局核准成立并可依法开展互联网信息服务和网络信用借贷服务。</p>-->
                        
                        <p class="mt10"><b>公司使命：</b>推进中国普惠金融的发展，让所有人都能分享到普惠金融红利！
                        <br/>
                        <b>主营业务：</b>车辆抵押，房产抵押，库存抵押，赎楼贷款、信用贷款等网络借贷中介服务。
                        <br/>
                        <b>经营理念：</b>诚信兴业，安全可靠、以人为本，感恩客户。
                        <br/>
                        <b>发展愿景：</b>做国内口碑最好的网络借贷中介平台。
                        </p>
                        
                        <p class="mt10"><b>公司图片展示：</b></p>
                        <div class="hb-pic mt10"><img src="../../statics/weixin/images/about3.jpg" alt=""></div>
                        <div class="hb-pic mt10"><img src="../../statics/weixin/images/about4.jpg" alt=""></div>
                        <div class="hb-pic mt10"><img src="../../statics/weixin/images/about5.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JavaScript plugins (requires jQuery) -->
        <script src="../../statics/weixin/assets/js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../../statics/weixin/assets/js/bootstrap.min.js"></script>

        <script src="../../statics/weixin/assets/js/holder/holder.js"></script>


    </body>
</html>