<!DOCTYPE html>
<html>
	<head>
		<title>{if $from=='bind'}绑定成功{else}注册成功{/if}</title>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui">
		<meta name="location" content="province=广东;city=深圳市;coord=114.063497,22.538715">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="telephone=no,email=no" name="format-detection">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="stylesheet" href="../../statics/weixin/css/style.css">
	</head>
	<body>
		<div class="container divider divider_">
			<div class="img"><img src="../../statics/weixin/image/ok.png" alt=""></div>
			{if $from=='bind'}
			<h1 class="txt-center divider2">绑定成功</h1>
			<p class="txt-center">您已成功绑定微信帐号</p>
			{else}
			<h1 class="txt-center divider2">注册成功</h1>
			<p class="txt-center">您已成功注册诚汇通账号</p>
			{/if}
		</div>
		{if $rs_status==2}
<!--		<div class="container">
			<a class="btn-default" href="<?=url('','','hfaccount')?>">点击前往第三方实名认证</a>
			<a class="btn-default" href="javascript:alert('微信端实名认证通道调整中，请您到PC端进行操作。')">点击前往第三方实名认证</a>
		</div>-->
		{/if}
	</body>
</html>