<!doctype html>
<html lang="en">
<head>
	<!-- Meta, title, CSS, favglyphicons, etc. -->
	<meta charset="utf-8">
	<title>诚汇通</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<meta name="description" content="">

	<!-- Bootstrap -->
	<link href="../../statics/weixin/assets/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="../../statics/weixin/css/cht.css" rel="stylesheet" media="screen">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../../statics/weixin/assets/js/html5shiv.js"></script>
	<script src="../../statics/weixin/assets/js/respond/respond.min.js"></script>
	<![endif]-->

</head>
<style>
    .hbgz {
        color: #000;
    }
    .wcolor {
        color: red;
    }
    .b3 {
        font-weight: bold;
    }
    .hbgz b {
            font-size: 15px;
        }
</style>
<body style="padding-top: 0; background: #fff; ">

	<!-- Carousel
	================================================== -->
	<!-- /container -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="hbgz">
                                    <p>激情夏日，惊喜不断...诚汇通微信红包活动又疯狂来袭啦！2014年 7月28日-10月27日活动期间，只要扫一扫二维码，或直接关注官方服务号“诚汇通”（<span class="wcolor">微信号：chenghuitong_1</span>），即可获得诚汇通随机派送的红包（红包金额2- 100元不等），将本次红包活动分享到朋友圈，并发送分享截图及平台用户名至诚汇通微信，即可再获得2元奖励！100%有奖！赶紧来关注吧！</p>
                                    <p><b>微信红包领取流程：</b></p>
                                    <p class="mt10"><span class="b3">第一步：</span>扫描诚汇通服务号二维码，或直接添加微信号：chenghuitong_1</p>
                                    <div class="hb-pic"><img src="../../statics/weixin/images/weixinhao.jpg" alt=""></div>
                                    <p class="mt10"><span class="b3">第二步：</span>点击微信菜单 “账户中心-绑定帐号”；（每个微信号只能领取一次哦）</p>
                                    <div class="hb-pic mt10"><img src="../../statics/weixin/images/bangding.jpg" alt=""></div>
                                    <p class="mt10"><span class="b3">第三步：</span>输入你在诚汇通的注册帐号和密码，提交后，系统会提示你绑定成功，点击返回进行红包领取(<span class="wcolor">还未注册的用户请到官网www.chenghuitong.net 注册实名后领取</span>)</p>
                                    <div class="hb-pic mt10"><img src="../../statics/weixin/images/pic3.jpg" alt=""></div>
                                    <p class="mt10"><span class="b3">第四步：</span>点击微信菜单的“领取红包”，开始领取红包：</p>
                                    <div class="hb-pic mt10"><img src="../../statics/weixin/images/pic4.jpg" alt=""></div>
                                    <p class="mt10"><span class="b3">第五步：</span>按照操作提示，输入“dh”，红包金额会自动划入你在平台的帐户；</p>
                                    <div class="hb-pic mt10"><img src="../../statics/weixin/images/pic6.jpg" alt=""></div>
                                    <p class="mt10"><span class="b3">第六步：</span>将本活动分享至朋友圈，并发送分享截图及平台用户名至诚汇通微信，即可再获得2元奖励！
（<span class="wcolor">分享所获的2元奖励将于次月5号统一发放到平台账户,节假日顺延</span>）</p>
                                    <div class="hb-pic mt10"><img src="../../statics/weixin/images/pic5-1.jpg" alt=""></div>
                                    <div class="hb-pic mt10"><img src="../../statics/weixin/images/pic5-2.jpg" alt=""></div>
                                    <div class="hb-pic mt10"><img src="../../statics/weixin/images/pic5-3.jpg" alt=""></div>
       
				</div>
			</div>
		</div>
	</div>

	<!-- JavaScript plugins (requires jQuery) -->
	<script src="../../statics/weixin/assets/js/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../statics/weixin/assets/js/bootstrap.min.js"></script>

	<script src="../../statics/weixin/assets/js/holder/holder.js"></script>

</body>
</html>