<!doctype html>
<html lang="en">
    <head>
        <!-- Meta, title, CSS, favglyphicons, etc. -->
        <meta charset="utf-8">
        <title>诚汇通</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta name="description" content="">

        <!-- Bootstrap -->
        <link href="../../statics/weixin/assets/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="../../statics/weixin/css/cht.css" rel="stylesheet" media="screen">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../statics/weixin/assets/js/html5shiv.js"></script>
        <script src="../../statics/weixin/assets/js/respond/respond.min.js"></script>
        <![endif]-->

    </head>
    <style>
        .hbgz {
            color: #000;
        }
        .hbgz b {
            font-size: 15px;
            color: #e36c0a;
        }
        .b2 {
            font-weight: bold;
            font-size: 17px;
        }
        .b3 {
            font-weight: bold;
            color: red;
        }
        .lpx {
            margin-left: 10px;
        }
        .wcolor {
            color: red;
        }
    </style>
    <body style="padding-top: 0; background: #fff; ">

<!-- Carousel
================================================== -->
<!-- /container -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="hbgz">
                <p class="b2">常见问题</p>
                <p class="mt20"><b>1、如何注册</b></p>
                <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录诚汇通官网www.chenghuitong.net 填写基本信息注册实名，就可以开始您的理财之旅。</p>
                <p class="mt10"><b>2、如何绑定账号？绑定账号有何用？</b></p>
                <p>1）点击微信菜单“<span class="wcolor">我的账号→绑定账号</span>”按钮，输入您在诚汇通注册时的用户名和密码即可完成绑定！</p>
                <p>2）绑定账号后，便可随时随地查询您的资产总额、投资明细、交易记录等。无需登录网页，方便又省心！</p>
                <p class="mt10"><b>3、如何设置交易密码？</b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录诚汇通官网，在“<span class="wcolor">我的账户→基本设置→安全中心</span>”便可设置交易密码，为了您账户的安全，建议密码设置复杂一点。</p>
                <p class="mt10"><b>4、诚汇通平台年化收益有多少？</b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;诚汇通年化收益范围17%-21%。平台也会根据运营的情况每月会有微调，最新的利率信息请看平台公告。</p>
                <p class="mt10"><b>5、诚汇通在资金安全方面有什么保障措施？</b></p>
                <p>1）风险准备金。风险准备金额度：待收总额的5%，为了提高诚汇通风险保障能力，特设立诚汇通风险准备金银行监管垫付资金。</p>
                <p>2）资金托管体系。诚汇通与汇付天下签订资金托管协议后，投资人所有资金均由汇付天下托管，平台资金零触碰。</p>
                <p>3）风控审核。诚汇通的风控审核体系具有六大审核机制和两大风险防范措施，风控人员将会采取初审面试、银行征信系统、金融机构专用的风险评估工具、财务稽核审计机制、实地考察、暗中调查等方式。</p>
                <p>4）账户安全保障体系。</br>
                    先进的加密技术，严格的安全系统；</br>
                    我们采用业界最先进的加密技术，用户的注册信息、账户收支信息都已进行高强度的加密处理，不会被不法分子窃取到；</br>
                    诚汇通设有严格的安全系统，未经允许的员工不可获取您的相关信息；</br>
                    诚汇通绝不会将您的账户信息、银行信息以任何形式透露给第三方。</p>
                <p class="mt10"><b>6、按月付息到期还本和按月分期等额本息有什么不同？ </b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;按月付息到期还本又称先息后本，是目前我平台借款标的还款方式之一，指在借款期内，借款人每月向投资人偿还借款利息，到期后归还本金及未结清利息的还款方式。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;按月分期等额本息：是指在借款期内，借款人每月向投资人偿还相同金额的贷款（包含本金和利息），每期还款额中，本金比重逐月递增、利息比重逐月递减。</p>
                <p class="mt10"><b>7、诚汇通网站无法登录？ </b></p>
                <p>
                    如缓存文件过多、安全级别过高、网络繁忙、浏览器版本较低等原因可能会导致诚汇通用户账号无法登录，建议您尝试以下方法解决：</br>
                    1）打开IE浏览器点击“工具”－“Internet选项”。</br>
                    2）选择“常规”－点击“删除cookies”后再点击“确定”。</br>
                    3）点击“删除文件(F)”-在“删除所有脱机内容”前打勾，点击“确定”。</br>
                    4）点击“安全”－将“安全级”调为中级。</br>
                    5）点击“隐私”设置为“默认”级别，最后点击“确定”保存操作。完成以上操作后请再重新启动电脑。</br>
                    注意：如果使用以上方法仍无法登录账号，请联系网站客服人员。
                </p>
                <p class="mt10"><b>8、在你们平台充值收手续费吗？提现收手续费吗？投资收手续费吗？ </b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前平台是不收取投资人任何费用的，如果后期调整收费制度，平台将会提前告知广大投资人。（注：利用平台的第三方支付充值通道进行信用卡恶意套现行为，凡是在线上充值后不投标而直接提现的客户，平台将采取资金冻结措施，不给予提现处理。）</p>
                <p class="mt10"><b>9、如果借款人逾期还款，平台怎么处理？ </b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果借款人出现逾期，平台会采取以下措施：平台会在三个工作日内给投资人进行本息垫付；平台会启动催收机制，对借款人进行催收，逾期后的利息是日息0.3%，直至款项追回为止；</p>
                <p class="mt10"><b>10、我这个月10号投了一个3月标，什么时候发投标奖励和利息？ </b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投标奖励满标复审之后系统自动发放至您的平台账户；投标利息根据您所投标种和还款方式的不同按月返还对应的金额，您是10号投的标，返还日期为借款期限内的每月10号。</p>
            </div>
        </div>
    </div>
</div>

        <!-- JavaScript plugins (requires jQuery) -->
        <script src="../../statics/weixin/assets/js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../../statics/weixin/assets/js/bootstrap.min.js"></script>

        <script src="../../statics/weixin/assets/js/holder/holder.js"></script>

    </body>
</html>