<!DOCTYPE html>
<html>
<head>
    <title>中秋·国庆活动</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui">

    <meta name="location" content="province=广东;city=深圳市;coord=114.063497,22.538715">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="stylesheet" href="../../statics/weixin/sjhd/css/festival.css">
</head>
<body class="festival">
	<div><img src="../../statics/weixin/sjhd/image/festival-img1.jpg"></div>
<div class="fes-main">
    <h3>一. 活动时间</h3>
    <p>2015年9月26日~10月9日</p>
    <h3>二. 参与方式</h3>
    <p>Step1:保存如下图片</p>
    <div class="wx-ewm">
        <img src="../../statics/weixin/sjhd/image/festival-wx.jpg">
    </div>
    <p>Step2:</p>
    <p>①以“双节之际，我想对诚汇通说_______”为话题+step1保存的图片，发送至朋友圈集赞！</p>
    <p>或者</p>
    <p>②以“诚汇通，理财好轻松，感谢诚汇通让我赚取了___元收益，从此____”为话题+step1保存的图片，发送至朋友圈集赞，并将集赞截图（注明赞数量+平台用户名）发送至诚汇通微信服务号。</p>
    <h3>三. 奖品说明</h3>
    <p>收集齐288个点赞，即可获得<span class="red bold">诚汇通羽博10400毫安移动电源</span>（共10名）</p>
    <p>收集齐888个点赞，即可获得<span class="red bold">亚马逊kindle电子阅读器</span>（共5名）</p>
    <p>收集齐1888个点赞，即可获得<span class="red bold">苹果iPhone6S一台</span></p>
    <p>所有奖品数量有限，先到先得，送完即止！</p>
    <h3>四. 注意事项</h3>
    <p>每个微信号只可参与一次且每人只有一次中奖机会。</p>
    <h3>五. 奖品发放</h3>
    <p>1.奖品将在活动结束后15个工作日内发放！届时将会与获奖者联系并记录发货地址，如逾期未领取则视为自动放弃奖项。</p>
    <p>2.本次活动最终解释权归深圳市诚汇通金融信息有限公司所有</p>
    <div><img src="../../statics/weixin/sjhd/image/iphone6s.png"></div>
    <div><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxbdd9a6c44e78c842&redirect_uri=https%3A%2F%2Fwww.chenghuitong.net%2F%3Fm%3Dweixin%26c%3Ddefault%26a%3Dzhuce&response_type=code&scope=snsapi_base&state=123#wechat_redirect"><img src="../../statics/weixin/sjhd/image/festival-register.jpg"></a></div>
    <div><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxbdd9a6c44e78c842&redirect_uri=https%3A%2F%2Fwww.chenghuitong.net%2F%3Fm%3Dweixin%26c%3Ddefault%26a%3Dborrow&response_type=code&scope=snsapi_base&state=123#wechat_redirect"><img src="../../statics/weixin/sjhd/image/festival-invest.jpg"></a></div>
</div>

</body>
</html>
