<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>诚汇通P2P网贷平台最可靠的民间借贷公司-致力于打造国内最好的P2P网络借贷平台</title>
        <meta content="诚汇通P2P网络借贷平台,P2P网络贷款,网上理财,网上投资,网上投资理财,借贷平台,投资理财平台,民间借贷,小额贷款,汽车抵押贷款,信用贷款" name="keywords">
        <meta content="诚汇通是一家专业提供P2P网络借贷, 民间借贷,小额贷款, 汽车抵押贷款,短期借款的网络借贷平台,为P2P理财用户提供安全、便捷、有保障、高收益的P2P投资理财产品,是个人投资理财,小额贷款的最佳选择" name="description">
        <link rel="stylesheet" type="text/css" href="../../statics/css/style.css" />
    </head>
    <style>
        .gk {
            margin-left: 2em;
        }
    </style>
        <body>
            <div class="xieyi" style="position: relative;overflow: hidden;">
                <h2>委托付款协议</h2>
                <p>委托人（以下简称甲方）：<? echo f_name($uname,1);?> &nbsp; &nbsp; 身份证号码：<?=$card ?> </p>
                <p>被委托人（以下简称乙方）：刘建  &nbsp; &nbsp; 身份证号码：3621******07310634   &nbsp; &nbsp;  地址：深圳市福田区福华三路国际商会中心2410-2412 </p>
                <p>见证人（以下简称丙方）：深圳市诚汇通金融信息服务有限公司 </p>
                <p>甲方为有效地运用其自有资金（来源合法），委托乙方向借款方发放《借款合同》的约定款项，乙方接受甲方委托。在遵循国家法律法规的基础上，经甲乙双方友好协商一致，共拟定本协议：</p>
                <p>第一条  本合同甲方愿将自主使用的资金以银行转帐方式（即线下充值）存入乙方指定账户，并委托乙方按照与借款方签订的《借款合同》以借款方式发放给借款方有偿使用；甲方在同意向借款方出借相应款项时，视为已委托乙方代理将该笔借款直接划付至借款方帐户。</p>
                <p>第二条  甲方存入资金在乙方开立的委托专户（如下），用于甲方指定的贷款项目，乙方负责在存入的资金额度内发放委托贷款。专户信息为：</p>
                <p>1、开户行：中国工商银行深圳分行香梅支行<br/>
                    <span class='gk'>户名：刘建</span><br/>
                    <span class='gk'>卡号：6222084000004052299</span></p>
                <p>2、开户行：招商银行深圳分行中电支行。<br/>
                    <span class='gk'>户名：刘建</span><br/>
                    <span class='gk'>卡号：6226097801773053</span></p>
                <p>3、开户行：中国农业银行深圳分行新沙支行。<br/>
                    <span class='gk'>户名：刘建</span><br/>
                    <span class='gk'>卡号：6228480128008285271</span></p>
                <p>4、开户行：交通银行深圳分行华融支行。<br/>
                    <span class='gk'>户名：刘建</span><br/>
                    <span class='gk'>卡号：6222601310034592139</span></p>
                <p>5、开户行：中国建设银行深圳分行营业部。<br/>
                    <span class='gk'>户名：刘建</span><br/>
                    <span class='gk'>卡号：6227007200340289216</span></p>
                <p>6、开户行：中国银行深圳分行前进支行。<br/>
                    <span class='gk'>户名：刘建</span><br/>
                    <span class='gk'>卡号：6013822000598837824</span></p>
                <p>7、开户行：中国工商银行深圳分行前海支行。<br/>
                    <span class='gk'>户名：刘建</span><br/>
                    <span class='gk'>卡号：6222084000002033390</span></p>

                <p> 第三条  委托发放款项的借款金额、期限、用途（借款方的借款用途须符合国家法律法规政策等规定）、利率由甲乙双方在国家法律、政策允许的范围内根据具体情况核定。</p>
                <p>第四条  委托贷款项目的附可行性分析报告、有关批准文件、企业财务报表等材料交由乙方，由乙方或乙方代理人对委托贷款项目进行调查。</p>

                <p>第五条  借款方在接到甲方或乙方的通知后，直接向乙方或乙方代理人申请办理委托贷款，签订借款合同，并办理贷借款手续；同时借款方须接受乙方或乙方代理人对委托贷款的调查、监督和检查贷款使用情况。</p>

                <p>第六条  乙方完成转账付款，且在甲方主动要求提供转账凭证的情况下，乙方需向甲方提供付款凭证；同时甲方有权对乙方委托支付进行核实，乙方应予以配合。</p>
                <p>第七条  乙方对贷款项目进行调查过程中，应及时向甲方通报情况；甲方指定的贷款对象或项目，若因经济效益问题或其他意外损失，到期不能收回贷款本息，乙方不负除本金以外的其他经济责任。</p>

                <p>第八条  借款方不按合同偿还贷款本息，乙方可按有关规定对借款方采取必要的经济制裁手段，直至对借款方及其担保人追索收回应付的本息和罚息。</p>

                <p>第九条  甲方对乙方授权为不可撤销授权，自甲方线下充值成功之时起生效。</p>

                <p>第十条  委托贷款收回后，甲方可指定新的委托贷款项目，或提取委托贷款资金。</p>

                <p> 第十一条  违约条款<br/>
                    因甲方自身原因造成资金不足或者承诺资金到账却未到账的，乙方为履行委托事项已做出相应的准备工作，则甲方应赔偿乙方为履行委托而付出的成本。乙方应严格遵守操作规章制度，应确保甲方有关业务的保密工作，不得向任何单位（法律规定的除外）或个人泄露，否则乙方应赔偿甲方因此造成的相应损失。</p>

                    <p> 第十二条  免责条款<br/>
                        因不可抗力（包括但不限于自然灾害、社会行为、国家政策的变更等）导致乙方不能履行或不能完全履行本协议项下有关义务时，乙方不承担除本金外的其他任何经济责任。</p>

                    <p> 第十三条  本协议自甲方将委托金额存入乙方指定账户之日起生效，壹式贰份，甲乙双方各执一份，具有同等效力。</p>

                    <p> 第十四条  争议及解决办法<br/>
                        因本协议发生的任何纠纷，甲乙双方可友好协商解决，协商不成则可向乙方所在地深圳市福田区人民法院提起诉讼。 </p>

                    <p style="float: left; width: 330px;">甲方：<? echo f_name($uname,1);?><br/>
                        <span class='gk'>{$y} 年  {$m} 月 {$d}  日 </span>
                    </p>
                    <p style="float: left; width: 430px;">乙方：刘建<br/>
                        <span class='gk'>{$y} 年  {$m} 月 {$d}  日 </span>
                    </p>
                    <p style="float: left; width: 230px;">丙方：
                    </p>
                    <p style="position: absolute; right:0; bottom:0;"><img src="../../statics/images/22222.png"></p>
            </div>
        </body>
</html>