<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="诚汇通官网，诚汇通，www.chenghuitong.net，p2p网贷平台，p2p理财公司，网络借贷平台，p2p理财产品——深圳市诚汇通金融信息有限公司">
    <meta name="description" content="诚汇通官网（www.chenghuitong.net）, 国内首批专注于P2P网络投融资服务的平台。投资免手续费，22%年化收益，100%保本保息，第三方托管，广东互联网金融协会会员；每天公布运营数据，为你的资金保驾护航。">
    <meta name="author" content="ifengjin@ifengjin.cn">
    
    <title>诚汇通 - 你尽兴旅游，我全程“报销”！</title>
    
    <link rel="shortcut icon" href="favicon.png">

    <link href="../../statics/51/css/style.css" rel="stylesheet">
    <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?fcea50ed98bbb8dbc8dc4834e1024dfd";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
    </script>
  </head>
  
  <body>
      <script type="text/javascript">
        var _py = _py || [];
        _py.push(['a', 'Tm..DUK-NY5HfP8gsyvUJdDDO_']);
        _py.push(['domain','stats.ipinyou.com']);
        _py.push(['e','']);
        -function(d) {
                var s = d.createElement('script'),
                e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
                f = 'https:' == location.protocol;
                s.src = (f ? 'https' : 'http') + '://'+(f?'fm.ipinyou.com':'fm.p0y.cn')+'/j/adv.js';
        }(document);
        </script>
    <noscript><img src="//stats.ipinyou.com/adv.gif?a=Tm..DUK-NY5HfP8gsyvUJdDDO_&e=" style="display:none;"/></noscript>
    <div class="erweima"><img src="../../statics/51/image/erweima.png" alt=""></div>
    
    <div class="header">
      <div class="container">
        <div class="pull-left"><a href="https://www.chenghuitong.net/" target="_blank"><img src="../../statics/51/image/logo.png"></a></div>
        <div class="pull-right">
          <img src="../../statics/51/image/tel.png" alt="诚汇通财富热线400-018-0107">
          <span style="margin-right:15px;"><a href="https://www.chenghuitong.net/content/regedit-index.html" target="_blank"><img src="../../statics/51/image/icon_reg.png" alt=""></a></span>
          <span><a href="https://www.chenghuitong.net/" target="_blank">返回首页 》</a></span>
        </div>
      </div>
    </div>
    
    <div class="banner">
      <div class="container">
        <div class="b_01"></div>
        <div class="b_02"></div>
        <div class="b_03"></div>
        <div class="b_04"></div>
        <div class="b_05"></div>
      </div>
    </div>
    
    <div class="container bg-main" style="margin-top:-80px;">
      <div class="module-one">
        <div class="pic1_01"></div>
        <table class="tab-one" bordercolor="#fb5914" border="2" cellpadding="0" cellspacing="0">
          <tr>
            <td class="tab-one-td1">
              <div class="pull-left"><div class="btn">方案</div></div>
              <div class="pull-right"><div class="btn">投资金额</div></div>
            </td>
            <td class="tab-one-td2">
              <div class="tit">收益明细</div>
              <div class="cont">
                <div>投资收益</div>
                <div>投标奖励</div>
                <div>首投奖励</div>
                <div>注册奖励</div>
              </div>
            </td>
            <td class="tab-one-td3"><div class="btn">总收益</div></td>
          </tr>
          <tr>
            <td class="tab-one-td1">
              <div class="pull-left"><div class="num">1</div></div>
              <div class="pull-right">六月标3200</div>
            </td>
            <td class="tab-one-td2">
              <div class="item">342.4</div>
              <div class="item">115.2</div>
              <div class="item">6.4</div>
              <div class="item">50</div>
            </td>
            <td class="tab-one-td3">
              <div class="pull-left">514</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn.png" alt=""></a></div>
            </td>
          </tr>
          <tr>
            <td class="tab-one-td1">
              <div class="pull-left"><div class="num">2</div></div>
              <div class="pull-right">三月标7500</div>
            </td>
            <td class="tab-one-td2">
              <div class="item">382.5</div>
              <div class="item">71.25</div>
              <div class="item">15</div>
              <div class="item">50</div>
            </td>
            <td class="tab-one-td3">
              <div class="pull-left">518.75</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn.png" alt=""></a></div>
            </td>
          </tr>
          <tr>
            <td class="tab-one-td1">
              <div class="pull-left"><div class="num">3</div></div>
              <div class="pull-right">一月标30000</div>
            </td>
            <td class="tab-one-td2">
              <div class="item">445</div>
              <div class="item">0</div>
              <div class="item">60</div>
              <div class="item">50</div>
            </td>
            <td class="tab-one-td3">
              <div class="pull-left">555</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn.png" alt=""></a></div>
            </td>
          </tr>
        </table>
      </div>
      
      
      <div class="module-two" style="margin-top:-50px;">
        <div class="pic2_01"></div>
        <table class="tab-two" bordercolor="#155280" border="2" cellpadding="0" cellspacing="0">
          <tr>
            <td class="tab-two-td1">
              <div class="pull-left"><div class="btn">方案</div></div>
              <div class="pull-right"><div class="btn">投资金额</div></div>
            </td>
            <td class="tab-two-td2">
              <div class="tit">收益明细</div>
              <div class="cont">
                <div>投资收益</div>
                <div>投标奖励</div>
                <div>首投奖励</div>
                <div>注册奖励</div>
              </div>
            </td>
            <td class="tab-two-td3"><div class="btn">总收益</div></td>
          </tr>
          <tr>
            <td class="tab-two-td1">
              <div class="pull-left"><div class="num">4</div></div>
              <div class="pull-right">六月标6600</div>
            </td>
            <td class="tab-two-td2">
              <div class="item">706.2</div>
              <div class="item">237.6</div>
              <div class="item">13.2</div>
              <div class="item">50</div>
            </td>
            <td class="tab-two-td3">
              <div class="pull-left">1007</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn2.png" alt=""></a></div>
            </td>
          </tr>
          <tr>
            <td class="tab-two-td1">
              <div class="pull-left"><div class="num">5</div></div>
              <div class="pull-right">三月标16000</div>
            </td>
            <td class="tab-two-td2">
              <div class="item">816</div>
              <div class="item">152</div>
              <div class="item">32</div>
              <div class="item">50</div>
            </td>
            <td class="tab-two-td3">
              <div class="pull-left">1050</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn2.png" alt=""></a></div>
            </td>
          </tr>
          <tr>
            <td class="tab-two-td1">
              <div class="pull-left"><div class="num">6</div></div>
              <div class="pull-right">一月标60000</div>
            </td>
            <td class="tab-two-td2">
              <div class="item">890</div>
              <div class="item">0</div>
              <div class="item">120</div>
              <div class="item">50</div>
            </td>
            <td class="tab-two-td3">
              <div class="pull-left">1060</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn2.png" alt=""></a></div>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="module-three">
        <div class="pic3_01"></div>
        <table class="tab-three" bordercolor="#fb5914" border="2" cellpadding="0" cellspacing="0">
          <tr>
            <td class="tab-three-td1">
              <div class="pull-left"><div class="btn">方案</div></div>
              <div class="pull-right"><div class="btn">投资金额</div></div>
            </td>
            <td class="tab-three-td2">
              <div class="tit">收益明细</div>
              <div class="cont">
                <div>投资收益</div>
                <div>投标奖励</div>
                <div>首投奖励</div>
                <div>注册奖励</div>
              </div>
            </td>
            <td class="tab-three-td3"><div class="btn">总收益</div></td>
          </tr>
          <tr>
            <td class="tab-three-td1">
              <div class="pull-left"><div class="num">7</div></div>
              <div class="pull-right">六月标20500</div>
            </td>
            <td class="tab-three-td2">
              <div class="item">2193.5</div>
              <div class="item">738</div>
              <div class="item">41</div>
              <div class="item">50</div>
            </td>
            <td class="tab-three-td3">
              <div class="pull-left">3022.5</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn3.png" alt=""></a></div>
            </td>
          </tr>
          <tr>
            <td class="tab-three-td1">
              <div class="pull-left"><div class="num">8</div></div>
              <div class="pull-right">三月标48000</div>
            </td>
            <td class="tab-three-td2">
              <div class="item">2448</div>
              <div class="item">456</div>
              <div class="item">96</div>
              <div class="item">50</div>
            </td>
            <td class="tab-three-td3">
              <div class="pull-left">3050</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn3.png" alt=""></a></div>
            </td>
          </tr>
          <tr>
            <td class="tab-three-td1">
              <div class="pull-left"><div class="num">9</div></div>
              <div class="pull-right">一月标190000</div>
            </td>
            <td class="tab-three-td2">
              <div class="item">2818.3</div>
              <div class="item">0</div>
              <div class="item">380</div>
              <div class="item">50</div>
            </td>
            <td class="tab-three-td3">
              <div class="pull-left">3248.3</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn3.png" alt=""></a></div>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="module-four" style="margin-top:-80px;">
        <div class="pic4_01"></div>
        <table class="tab-four" bordercolor="#8a2216" border="2" cellpadding="0" cellspacing="0">
          <tr>
            <td class="tab-four-td1">
              <div class="pull-left"><div class="btn">方案</div></div>
              <div class="pull-right"><div class="btn">投资金额</div></div>
            </td>
            <td class="tab-four-td2">
              <div class="tit">收益明细</div>
              <div class="cont">
                <div>投资收益</div>
                <div>投标奖励</div>
                <div>首投奖励</div>
                <div>注册奖励</div>
              </div>
            </td>
            <td class="tab-four-td3"><div class="btn">总收益</div></td>
          </tr>
          <tr>
            <td class="tab-four-td1">
              <div class="pull-left"><div class="num">10</div></div>
              <div class="pull-right">六月标70000</div>
            </td>
            <td class="tab-four-td2">
              <div class="item">7490</div>
              <div class="item">2520</div>
              <div class="item">140</div>
              <div class="item">50</div>
            </td>
            <td class="tab-four-td3">
              <div class="pull-left">10200</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn4.png" alt=""></a></div>
            </td>
          </tr>
          <tr>
            <td class="tab-four-td1">
              <div class="pull-left"><div class="num">11</div></div>
              <div class="pull-right">三月标165000</div>
            </td>
            <td class="tab-four-td2">
              <div class="item">8415</div>
              <div class="item">1567.5</div>
              <div class="item">330</div>
              <div class="item">50</div>
            </td>
            <td class="tab-four-td3">
              <div class="pull-left">10362.5</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn4.png" alt=""></a></div>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="module-five" style="margin-top:-30px;">
        <div class="pic5_01"></div>
        <table class="tab-five" bordercolor="#56266d" border="2" cellpadding="0" cellspacing="0">
          <tr>
            <td class="tab-five-td1">
              <div class="pull-left"><div class="btn">方案</div></div>
              <div class="pull-right"><div class="btn">投资金额</div></div>
            </td>
            <td class="tab-five-td2">
              <div class="tit">收益明细</div>
              <div class="cont">
                <div>投资收益</div>
                <div>投标奖励</div>
                <div>首投奖励</div>
                <div>注册奖励</div>
              </div>
            </td>
            <td class="tab-five-td3"><div class="btn">总收益</div></td>
          </tr>
          <tr>
            <td class="tab-five-td1">
              <div class="pull-left"><div class="num">12</div></div>
              <div class="pull-right">六月标140000</div>
            </td>
            <td class="tab-five-td2">
              <div class="item">14980</div>
              <div class="item">5040</div>
              <div class="item">280</div>
              <div class="item">50</div>
            </td>
            <td class="tab-five-td3">
              <div class="pull-left">20350</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn5.png" alt=""></a></div>
            </td>
          </tr>
          <tr>
            <td class="tab-five-td1">
              <div class="pull-left"><div class="num">13</div></div>
              <div class="pull-right">三月标325000</div>
            </td>
            <td class="tab-five-td2">
              <div class="item">16575</div>
              <div class="item">3087.5</div>
              <div class="item">650</div>
              <div class="item">50</div>
            </td>
            <td class="tab-five-td3">
              <div class="pull-left">20362.5</div>
              <div class="pull-right"><a href="https://www.chenghuitong.net/borrow/default-index.html" target="_blank">我要投资<img src="../../statics/51/image/btn5.png" alt=""></a></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="module-six">
      <div class="module-six-one container">
        <div class="item1">
          <div style="padding:5px 0;">注册并实名认证，奖励50元现金，即时到账</div>
          <a class="btn-reg" href="https://www.chenghuitong.net/content/regedit-index.html" target="_blank"></a>
        </div>
        <div class="item2"><div style="margin-top:20px;">首次投标送投标金额2‰的奖励</div></div>
        <div class="item3"><div style="margin-top:20px;">最高达投标金额的3.6%</div></div>
        <div class="item4"><div style="margin-top:20px;">投标回款后续投，奖励投标金额的 0.3%</div></div>
      </div>
      <div class="container" style="padding-bottom:50px;">
        <table class="module-six-two" bordercolor="#f7a700" border="2" cellpadding="0" cellspacing="0">
          <tr><td colspan="5">诚汇通投资收益表（按月付息到期还本）</td></tr>
          <tr>
            <td>理财产品</td>
            <td>年化收益</td>
            <td>投标奖励</td>
            <td>注册奖励</td>
            <td>首投奖励</td>
          </tr>
          <tr>
            <td>一月标</td>
            <td>17.8%</td>
            <td>0</td>
            <td>50元</td>
            <td>0.2%</td>
          </tr>
          <tr>
            <td>三月标</td>
            <td>20.4%</td>
            <td>0.95%</td>
            <td>50元</td>
            <td>0.2%</td>
          </tr>
          <tr>
            <td>六月标</td>
            <td>21.4%</td>
            <td>3.6%</td>
            <td>50元</td>
            <td>0.2%</td>
          </tr>
        </table>
        <div style="margin: 25px 120px;"><img src="../../statics/51/image/bg_module_six_three.png" alt=""></div>
        <div class="text-center" style="margin: 25px 0;"><img src="../../statics/51/image/bg_module_six_four.png" alt=""></div>
        <div class="text-center" style="margin: 25px 0;"><img src="../../statics/51/image/bg_module_six_five.png" alt=""></div>
        <div class="module-links">
          <a href="http://www.chenghuitong.net/article/default-disp-id-1386.html" target="_blank">
            <img src="../../statics/51/image/links1.png" alt="">
            <div class="d1">注册资金1亿元</div>
            <div class="d2">提升平台风控能力</div>
          </a>
          <a href="http://www.chenghuitong.net/activity/20141021/index.html" target="_blank">
            <img src="../../statics/51/image/links2.png" alt="">
            <div class="d1">1000万风险准备金</div>
            <div class="d2">华润银行监管</div>
            <div class="d2">逾期先行垫付</div>
          </a>
          <a href="http://www.chenghuitong.net/article/default-disp-id-1410.html" target="_blank">
            <img src="../../statics/51/image/links3.png" alt="">
            <div class="d1">汇付天下托管系统</div>
            <div class="d2">保障投资人的资金安全</div>
          </a>
          <a href="http://www.chenghuitong.net/article/safety-index.html" target="_blank">
            <img src="../../statics/51/image/links4.png" alt="">
            <div class="d1">严格完善的风控机制</div>
            <div class="d2">将逾期降到最低</div>
          </a>
        </div>
        <div class="text-center" style="margin-top: 25px;"><a class="btn-reg-big" href="https://www.chenghuitong.net/content/regedit-index.html" target="_blank"></a></div>
      </div>
    </div>
    
    <div class="footer">Copyright &nbsp; 2015 Www.ChengHuiTong.Net, 深圳市诚汇通金融信息有限公司 Inc. All Rights Reserved. 粤ICP备13044593号</div>
    
    <script src="../../statics/51/js/jquery/1.10.2/jquery-1.10.2.min.js"></script>
    <script>
      $(function() {
		$('.b_01').delay(100).animate({ left: '126px' }, 500);
		$('.b_02').delay(100).animate({ top: '135px' }, 1000);
		$('.b_03').delay(300).animate({ bottom: '-250px' }, 1500);
		$('.b_04').delay(100).fadeIn(1500);
		$('.b_05').delay(100).animate({ left: '568px' }, 1500);
	  });
    </script>
  </body>
</html>