<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset=utf-8>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content="诚汇通官网，诚汇通，www.chenghuitong.net，p2p网贷平台，p2p理财公司，网络借贷平台，p2p理财产品——深圳市诚汇通金融信息有限公司">
        <meta name="description" content="诚汇通官网（www.chenghuitong.net）, 国内首批专注于P2P网络投融资服务的平台。投资免手续费，22%年化收益，100%保本保息，第三方托管，广东互联网金融协会会员；每天公布运营数据，为你的资金保驾护航。">
        <meta name="author" content="ifengjin@ifengjin.cn">

        <title>要高收益，更要高保障</title>

        <link rel="stylesheet" href="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/css/base.css">
        <link rel="stylesheet" href="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/js/picbox/2.2/css/picbox.min.css">
          <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?58b625f2fae8bd6127a23680606506af";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
    </script>
    </head>

    <body>
        
    <script type="text/javascript">
    var _py = _py || [];
    _py.push(['a', 'Tm..DUK-NY5HfP8gsyvUJdDDO_']);
    _py.push(['domain','stats.ipinyou.com']);
    _py.push(['e','']);
    -function(d) {
            var s = d.createElement('script'),
            e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
            f = 'https:' == location.protocol;
            s.src = (f ? 'https' : 'http') + '://'+(f?'fm.ipinyou.com':'fm.p0y.cn')+'/j/adv.js';
    }(document);
    </script>
<noscript><img src="//stats.ipinyou.com/adv.gif?a=Tm..DUK-NY5HfP8gsyvUJdDDO_&e=" style="display:none;"/></noscript>


        <div class="header">
          <div class="topbar">
            <div class="container">
              <div class="pull-left">
                <a>
                  <span class="tel"></span>
                  <span>客服电话：400-018-0107</span>
                </a>
              </div>
              <div class="pull-right">
                 <a target="_blank" href="https://www.chenghuitong.net/">
                  <span class="home"></span>
                  <span>首页</span>
                 </a>
                 <a target="_blank" href="http://www.chenghuitong.net/article/services-help.html">
                   <span class="help"></span>
                   <span>帮助中心</span>
                 </a>
                 <a target="_blank" href="http://www.chenghuitong.net/article/default-calculator.html">
                   <span class="calc"></span>
                   <span>投资计算器</span>
                 </a>    
              </div>
            </div>
          </div>
          <div class="nav">
            <div class="container">
              <div class="pull-left"><a href="javascript:void(0)"><img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/need/logo_.png" alt="logo"></a></div>
              <div class="pull-right">已有诚汇通账号？ <a href="https://www.chenghuitong.net/content/login-index.html" target="_blank">登录</a></div>
            </div>
          </div>
        </div>

<a id="top" class="banner" target="_blank" href="https://www.chenghuitong.net/">
            <div class="container">
                <!--<a class="logo" href="https://www.chenghuitong.net/" target="_blank"></a>-->
                <div class="regbox">
                    <div class="title">50元起投、风险准备金垫付</div>
                    <!--<form action="<?=url('','','');?>" method="post" onsubmit="return false;" style="margin:20px 0">-->
                        <div class="item">
                            <div class="pull-left">用 户 名</div>
                            <div class="pull-right">
                                <input class="text" type="text" placeholder="请输入用户名" name='username' autofocus value="{$data['username']}">
                                <div class="help">{$info_arr['username']}</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pull-left">设置密码</div>
                            <div class="pull-right">
                                <input class="text" type="password" placeholder="请输入6-16位密码" name='pwd'  value="{$data['pwd']}">
                                <div class="help">{$info_arr['pwd']}</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pull-left">确认密码</div>
                            <div class="pull-right">
                                <input class="text" type="password" placeholder="请再次确认密码"  name='compwd'  value="{$data['compwd']}">
                                <div class="help">{$info_arr['compwd']}</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pull-left">手 机 号</div>
                            <div class="pull-right">
                                <input class="text" type="text" placeholder="请输入手机号码"  name='phone'  value="{$data['phone']}">
                                <div class="help">{$info_arr['phone']}</div>
                            </div>
                        </div>
<!--                        <div class="item">
                            <div class="pull-left">验 证 码</div>
                            <div class="pull-right">
                                <input type="text" placeholder="不区分大小写" style="width:130px">
                                <a href="javascript:void(0)"><img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/vcode.jpg" alt="验证码"></a>
                                <div class="help"></div>
                            </div>
                        </div>-->
                        <div class="item"><input name="xieyi"  type="checkbox" {if (!empty($data['xieyi']))}checked{/if}> 阅读并同意服务协议《诚汇通协议书》<div class="help">{$info_arr['xieyi']}</div></div>
                        <div class="item">
                            <input class="submit" type="submit" value="立即注册">
                        </div>
                        <input type="hidden" value="save" name="save"/>
                    <!--</form>-->
                </div>
            </div>
        </a>

        <div class="module-one">
            <div class="container">
                <div class="title"></div>
                <div class="pull-left">
                    <div class="bar-graph">
                        <div class="txt cht-txt">16%<br>-<br>21%</div>
                        <div class="bar chtbar"></div>
                        <div class="txt othes-txt">9%<br>-<br>13%</div>
                        <div class="bar othesbar"></div>
                        <div class="txt yue-txt"><span style="line-height:1.5">约</span>4.5%</div>
                        <div class="bar yuebar"></div>
                        <div class="txt bank-txt"><span style="line-height:1.5">约</span>0.35%</div>
                        <div class="bar bankbar"></div>
                        <div class="graph"></div>
                    </div>
                    <div class="bubble"></div>
                </div>
                <div class="pull-right">
                    <div class="clearfix">
                        <div class="item">
                            <div class="icon-one"></div>
                            <h1>一年投一万<span>赚2100+</span></h1>
                            <p>全家海鲜自助餐走起</p>
                        </div>
                        <div class="item">
                            <div class="icon-two"></div>
                            <h1>一年投三万<span>赚6300+</span></h1>
                            <p>iPhone6s Plus 妥妥的</p>
                        </div>
                        <div class="item">
                            <div class="icon-three"></div>
                            <h1>一年投十万<span>赚21000+</span></h1>
                            <p>境外游，说走就走</p>
                        </div>
                        <div class="item">
                            <div class="icon-four"></div>
                            <h1>一年投一百万<span>赚210000+</span></h1>
                            <p>稳赚20多万</p>
                        </div>
                    </div>
                    <a class="btn" target="_blank" href="https://www.chenghuitong.net/zhuanti/default-zhuce.html">注册开始赚钱</a>
                </div>
            </div>
        </div>

        <div class="module-two">
            <div class="container">
                <div class="title"></div>
                <div class="category-title clearfix">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>

                <div class="category clearfix">

                    {loop $Borrowlist $k $vo}
                    <a target="_blank" class="item" href="<?=url('borrow','default','info',array('id'=>$vo['id']))?>">
                        {if !empty($vo['huodong'])}<div class="tab-activity-lg" title="六月新用户专享"></div>{/if}
                        <!-- 标志 -->
                        <div class="iconbar">          
                            <div class="normal">{if $vo['borrow_type']==2}押{else}信{/if}</div>

                            {if $vo['is_dxb'] == 1}
                            <div class="normal">约</div>
                            {/if}
                            {if !empty($vo['zhuanrangren'])}
                            <div class="normal">托</div>
                            {/if}
                            {if $vo['award']==1}
                            <div class="jiang">
                                <div class="tit">奖</div>
                                <div class="val">{$vo['bonus']}元</div>
                            </div>
                            {elseif $vo['award']==2}
                            <div class="jiang">
                                <div class="tit">奖</div>
                                <div class="val">{$vo['bonus']}%</div>
                            </div>
                            {/if}
                        </div>
                        <!-- 标志 -->
                        <!-- 标题 -->
                        <h1>{if !empty($vo['zhuanrangren'])}<span style="color:red;">{else}<span>{/if}{$vo['title']}</span></h1>
                        <!-- /标题 -->
                        <div class="parambar">借款金额 / <span>￥<?=number_format($vo['account'],2)?></span></div>
                        <div class="parambar">还款方式 / <span>{if !empty($vo['style'])}<bdo class="text-info">{$borrow_style[$vo['style']]['name']}</bdo> {else}<bdo>{$borrow_style[$vo['style']]['name']}</bdo>{/if}</span></div>
                        <!-- 进度 -->        
                        <div class="progressbox">
                            <div class="progress-value"><?=round(($vo['account_tender']/$vo['account'])*100,2)?> %</div>
                            <div class="progressbar">
                                <div class="progress" style="width:<?=round(($vo['account_tender']/$vo['account'])*100,2)?>%"></div>
                            </div>
                        </div>
                        <!-- /进度 -->

                        <div class="parambox">
                            <div>
                                <h2><?=$vo['apr']*100?>%</h2>
                                <p>年化利率</p>
                            </div>
                            <div>
                                <h2>{$vo['time_limit']}{if $vo['is_datetype']==0}个月{else} 天{/if}</h2>
                                <p>价款期限</p>
                            </div>
                        </div>

                        <!--        <ul class="project-parameter-ul unlist text-center">
                                  <li>
                                    <div><span class="color-main font18px bold"><bdo><?=$vo['apr']*100?>%</bdo></span>{if !empty($vo['huodong'])}<div class="tab-activity-{if $vo['time_limit']==3}05{else}10{/if}"></div>{/if}</div>
                                    <div>年化利率</div>
                                  </li>
                                  <li>
                                    <div><span class="color-main font18px bold"><bdo>{$vo['time_limit']}{if $vo['is_datetype']==0}个月{else} 天{/if}</bdo></span></div>
                                    <div>借款期限</div>
                                  </li>
                                </ul>-->
                        {if $vo['status']==2 }
                        {if $vo['borrow_type']==4} 
                        <div class="btn-default">流转中</div>
                        {else} 
                        <div class="btn-default">立即投标</div> 
                        {/if}
                        {else}              
                        <div class="btn-over">{$Borrowstatus[$vo['status']]}</div>
                        {/if}
                    </a>
                    {/loop}
                </div>
            </div>
        </div>

        <div class="module-three">
            <div class="container">
                <div class="title"></div>
                <h3>三重资金安全保障，确保客户资金和收益安全！</h3>
                <div class="item">
                    <div class="icon-one"></div>
                    <h2>汇付天下托管</h2>
                    <p>不接手客户资金，中立的第三方理财平台性质！</p>
                </div>
                <div class="item">
                    <div class="icon-two"></div>
                    <h2>1550万风险保证金</h2>
                    <p>携手交行储备1550万风险保证金</p>
                </div>
                <div class="item">
                    <div class="icon-three"></div>
                    <h2>一亿元注册资金</h2>
                    <p>公司注册资金一亿元（实缴）用实力说话</p>
                </div>
            </div>
        </div>

        <div class="module-four">
            <div class="container">
                <div class="title"></div>
                <div class="pull-left">
                    <a class="item" href="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/pic_001_.jpg">
                        <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/pic_001.jpg" alt="诚汇通 中国网贷十大影响力平台">
                        <h2>中国网贷十大影响力平台</h2>
                    </a>
                    <a class="item" href="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/pic_002_.jpg">
                        <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/pic_002.jpg" alt="诚汇通 行业认证">
                        <h2>行业认证</h2>
                    </a>
                    <a class="item" href="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/pic_003_.jpg">
                        <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/pic_003.jpg" alt="诚汇通 诚汇通关爱基金成立">
                        <h2>诚汇通关爱基金成立</h2>
                    </a>
                    <a class="item" href="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/pic_004_.jpg">
                        <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/pic_004.jpg" alt="诚汇通 专家推荐诚信企业">
                        <h2>专家推荐诚信企业</h2>
                    </a>
                </div>
                <div class="pull-right">
                    <h1>今日已经领取20元红包的客户</h1>
                    <div class="ul-box">
                        <ul>
                            <?php foreach($zhuce_list as $k=>$v):?>
                            <li>
                                <div><?php echo $v['username'];?></div>
                                <div class="border"><?php echo $v['phone'];?></div>
                                <div>领取了现金20元</div>
                            </li>
                            <?php endforeach;?>
                        </ul>
                    </div>
                    <a class="btn" target="_blank" href="https://www.chenghuitong.net/zhuanti/default-zhuce.html">注册领取20元现金红包</a>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="pull-left">
                    <div class="links">
                        <a href="http://www.chenghuitong.net/article/company-index.html">关于我们</a>
                        <a href="http://www.chenghuitong.net/article/safety-index.html">安全保障</a>
                        <a href="http://www.chenghuitong.net/article/services-help-cateid-3.html">帮助中心</a>
                        <a href="http://www.chenghuitong.net/article/services-index.html">服务中心</a>
                        <a href="http://www.chenghuitong.net/article/default-index.html">新闻中心</a>
                        <a href="http://www.chenghuitong.net/article/company-contact.html">联系我们</a>     
                    </div>
                    <div class="copyright">深圳市诚汇通金融信息有限公司<br>深圳市福田区福华三路168号国际商会中心2408-2412室<br>Copyright© 2015 www.chenghuitong.net 粤ICP备13044593号</div>
                    <div class="beian">
                        <a href="https://cert.ebs.gov.cn/A71F6F48-ABB7-4F8A-92C4-D73F8FA0DE56" target="_blank">
                            <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/need/beian_gswj.jpg" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示">
                        </a>
                        <a href="http://www.miibeian.gov.cn/" target="_blank">
                            <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/need/beian_icp.jpg" title="ICP备案查询" alt="ICP备案查询">
                        </a>
                        <a href="https://search.szfw.org/cert/l/CX20140305003565003628" target="_blank">
                            <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/need/beian_cxwz.jpg" title="诚信网站" alt="诚信网站">
                        </a>
                        <a href="https://ss.knet.cn/verifyseal.dll?sn=e13101844030042941tvh5000000&amp;ct=df&amp;a=1&amp;pa=0.2732217316515744" target="_blank">
                            <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/need/beian_cnnic.png" title="可信网站" alt="可信网站">
                        </a>
                        <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&amp;dn=www.chenghuitong.net&amp;lang=en" target="_blank">
                            <img src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/image/need/beian_norton.jpg" title="NORTON" alt="NORTON">
                        </a>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="tel">400-018-0107</div>
                    <div class="time">（周一至周五 9:00-17:30）</div>
                    <div class="attention">
                        <a class="weibo" href="http://weibo.com/cht608710" target="_blank"></a>
                        <a class="tweibo" href="http://e.t.qq.com/cht608710" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
        
    

        <script src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/js/jquery/1.11.2/jquery.min.js"></script>
        <script src="<?=SITE_PROTOCOL.C('cdn_path')?>zhuanti/zhuce/js/picbox/2.2/js/picbox.min.js"></script>
        <script>
                    function autoScroll(obj) {
						if($(obj).find("ul li").length<=8) {
							return;
						}
                        $(obj).find("ul").animate({
                            marginTop: "-36px"
                        }, 500, function () {
                            $(this).css({marginTop: "0px"}).find("li:first").appendTo(this);
                        })
                    }

            $(function () {
                $(".regbox").delay(200).animate({top: "+40px"}, 800); // 注册框特效
                // 柱状图特效
                $(".module-one").hover(function (e) {
                    $(".bar").delay(200).animate({bottom: "+22px"}, 800);
                    $(".txt").delay(1000).fadeIn(200);
                    $(".bubble").delay(1200).fadeIn(200);
                });
                $(".module-four .pull-left .item").picbox(); // 放大查看图片
                // 今日已经领取20元红包的客户
                var timer = setInterval('autoScroll(".ul-box")', 2000);
                $(".ul-box").hover(function () {
                    clearInterval(timer);
                }, function () {
                    timer = setInterval('autoScroll(".ul-box")', 2000);
                });

            });
	
        </script>
    </body>
</html>
