<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="target-densitydpi=320,width=750,user-scalable=no" name="viewport" />
    <meta content="no" name="apple-touch-fullscreen" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>提现详情</title>
    <!--<link href="/statics/web/css/css.css" rel="stylesheet" type="text/css">-->
    <!--<script src="/statics/web/js/jquery.1.8.2.min.js"></script>-->
    <!--<script src="/statics/web/js/style.js"></script>-->
    {template public-header}
</head>
<body>
<header>
    <em onclick="history.go(-1)">返回</em>
    <h1>提现详情</h1>
    <!---->
</header>
<section>

    <div class="details">
        <p>订单号：{$res['order_sn']}</p>
        <p>账户：{$res['account']}<p>
        <p>提现银行：{$$res['bank']}</p>

        <p>提现状态：{if $res['type'] == 1}已完成{else}处理中{/if}</p>
        <p>交易时间：{$res['addtime']}</p>

    </div>
</section>
</body>
</html>