<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="target-densitydpi=320,width=750,user-scalable=no" name="viewport" />
    <meta content="no" name="apple-touch-fullscreen" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>钱包</title>
    <!--<link href="/statics/web/css/css.css" rel="stylesheet" type="text/css">-->
    <!--<script src="/statics/web/js/jquery.1.8.2.min.js"></script>-->
    <!--<script src="/statics/web/js/style.js"></script>-->
    {template public-header}
</head>
<body style="background: #f5f5f5">
<header>
    <em onclick="history.go(-1)">返回</em>
    <h1>充值成功</h1>

</header>
<section class="pb-0">
    <div class="openComplete">
        <img src="/statics/web/images/ico-complete.png" />
        <p>支付信息提交成功</p>
    </div>
    
    <div class="information">
        <div class="clearfix">
        <label>充值方式</label><label>{$res['name']}</label>
    </div>
    <div class="clearfix">
        
        <label>金额</label><label>￥{$res['money']}</label>
    </div>
    <div class="clearfix">
        
        <label>附加码</label><label>{$extra_code}</label>
    </div>
        <input value="{$bank_link}" type="hidden" id="bank_link" name="bank_link">
        <input value="{$JumpUrl[2]}" type="hidden" id="JumpUrl" name="JumpUrl">
    </div>
    
    <div class="button m-btm40" style="margin-top:40px;">
        <button id='finish' class="red-btn">完 成</button>
    </div>
    
    <div class="successPrompt" style="padding-bottom: 0;">
        <p>您的充值已提交，请您耐心等待。</p>
        <p>客服人员将在10分钟内审核完成您的充值。</p>
    </div>
    
    <div class="successPrompt" style="padding-bottom: 0;">
        <em class="kf" data-href="<?php echo C('kefu'); ?>">联系在线客服</em>
    </div>
    
</section>
<script type="text/javascript">
$(function(){
    var bank_link = $("#bank_link").val();
    var JumpUrl = $("#JumpUrl").val();
   
    $("#finish").click(function(){

        if(bank_link !=''){
            var reg = /^(http)s?\:\/\//gi;
            if (reg.test(bank_link)) {
                window.location.href = bank_link;
            }else{
                window.location.href = "https://" + bank_link;
            }

        }else{
            window.location.href = JumpUrl;
        }
    })
})

</script>
</body>
</html>