<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <!-- <script src="statics/admin/js/jquery.min.js" type="text/javascript"></script> -->
    <link rel="stylesheet" href="statics/admin/css/datePicker.css">
    <!--  <link rel="stylesheet" href="statics/admin/css/pintuer.css"> -->
    <link rel="stylesheet" href="statics/admin/css/admin.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.ext.css">
    <script src="statics/admin/js/jquery.js"></script>
    <script src="statics/admin/js/layer/2.1/layer.js"></script>
    <script src="statics/admin/js/layer/2.1/extend/layer.ext.js"></script>
    <script src="statics/admin/js/pintuer.js"></script>
    <script src="statics/admin/bootstrap/js/bootstrap.min.js"></script>

    <!-- template-begin+++ -->
    {template public-new-ui-header}
    <!-- template-end+++ -->

</head>
<body style="margin: 15px;background-color: #f3f3f4;">
<div class="ibox float-e-margins">
    <div class="ibox-title iboxWTitle">
        <h5>新增返水比例</h5>
        <div class="ibox-tools">
            <a href="javascript:void(0)" class="btn btn-white btn-bitbucket" onclick="javascript:history.go(-1);">
                <i class="fa fa-reply"></i> 返回
            </a>
        </div>
    </div>
    <div class="ibox-content bagCol">
        <div class="ibox-title">
            <h5>详情</h5>
        </div>
        <div class="ibox-content">
            <form method="get" class="form-horizontal form-x" id="form">

                <div class="form-group">
                    <label class="col-sm-2 control-label">层级</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" value="{$res['layer']}" disabled="disabled" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">最小金额</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" name="min_money" placeholder="{if empty($arr['max_money'])}请输入最小值{else}最小金额必须大于等于{$arr['max_money']}{/if}" />
                        <p style="color: gray;padding-top: 10px;">大于0的正整数；如果设置过上一级别返水，该项自动获取上一级别的最大值，但修改时不能低于该值</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">最大金额</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" name="max_money" placeholder="请输入最大金额" />
                        <p style="color: gray;padding-top: 10px;">大于0的正整数，最大金额必须大于最小金额</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">返水率(%)</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" name="backwater" placeholder="请输入返水比例" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-2 col-sm-offset-1">
                        <button class="btn btn-primary" type="button" id="btn_submit">保存内容</button>
                        <button class="btn btn-white" type="button" style="border: 1px solid #e7eaec" onclick="javascript:history.go(-1);" id="qx_submit">取消</button>
                    </div>
                </div>
                <input value="{$res['id']}" type="hidden" name="id">
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#btn_submit").click(function(){
        var data = {
            'min_money':parseInt($.trim($("[name='min_money']").val())),
            'max_money':parseInt($.trim($("[name='max_money']").val())),
            'backwater':parseInt($.trim($("[name='backwater']").val())),
            'id':$("[name='id']").val()
        }
        var upper = "{$arr['max_money']}";
        for (key in data) {
            if (isNaN(data[key])) {
                data[key] = "";
            }
        }

        if(data.min_money ==''){
            layer.tips('最小金额不能为空', $("[name='min_money']"), {tips:[1, '#3595CC'], time: 4000});
            return false;
        }

        if (data.min_money < upper && upper != "") {
            layer.tips('最小金额必须大于等于'+upper, $("[name='min_money']"), {tips:[1, '#3595CC'], time: 4000});
            return false;
        }

        if(data.max_money ==''){
            layer.tips('最大金额不能为空', $("[name='max_money']"), {tips:[1, '#3595CC'], time: 4000});
            return false;
        }

        if (data.backwater > 100 || data.backwater == "") {
            layer.tips('请输入大于零小于100的整数', $("[name='backwater']"), {tips:[1, '#3595CC'], time: 4000});
            return false;
        }

        if(data.min_money >= data.max_money){
            layer.tips('最大金额必须大于最小金额', $("[name='max_money']"), {tips:[1, '#3595CC'], time: 4000});
            return false;
        }

        $.ajax({
            url: '?m=admin&c=odds&a=setLayerConfig',
            data: data,
            dataType: 'json',
            type: 'post',
            beforeSend: function () {
                loading = layer.load(1);
            },
            error: function () {
                layer.close(loading);
                layer.alert('网络错误,请重试', {icon: 5, shade: [0.5, '#393D49']});
            },
            success: function (result) {
                layer.close(loading);
                if (result.status == 0) {
                    layer.msg(result.msg, {icon: 6, shade: [0.5, '#393D49']}, function () {
                        location.href = "?m=admin&c=odds&a=layerConfigList&id="+data.id
                    });
                } else {
                    layer.alert(result.msg, {icon: 5, shade: [0.5, '#393D49']});
                }
            }
        });


    })
</script>
</body>
</html>