<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="statics/admin/css/pintuer.css">
        <link type="text/css" href="statics/admin/js/layer/2.1/skin/layer.css" rel="stylesheet">
	    <link type="text/css" href="statics/admin/js/layer/2.1/skin/layer.css" rel="stylesheet">
	    <link type="text/css" href="statics/admin/new_ui/bootstrap.min.css" rel="stylesheet">
	    <link type="text/css" href="statics/admin/new_ui/font-awesome.css" rel="stylesheet">
   	    <link type="text/css" href="statics/admin/new_ui/style.css" rel="stylesheet">
	    <script src="statics/admin/js/jquery.js"></script>
        <script src="statics/admin/js/layer/2.1/layer.js"></script>
        <script src="statics/admin/js/layer/2.1/extend/layer.ext.js"></script>
        <script src="statics/admin/js/bootstrap.min.js"></script>
        <style>
            #page{height: 60px;margin-top: 20px;text-align: center;}
            #page ul li{float: left;margin-right:10px;}
            #page ul .current{ background-color:#0099ff;text-align:center;}
        </style>
    </head>
    <body class="new_ui_body">
    <div class="ibox float-e-margins">
	    <div class="ibox-title iboxWTitle">
	        <h5>新增禁言</h5>
	        <div class="ibox-tools">
	            <a  class="btn btn-white btn-bitbucket" id="btn_back">
	                <i class="fa fa-reply"></i> 返回
	            </a>
	        </div>
	        
	    </div>
	    <div class="ibox-content bagCol">
	        <div class="ibox-title ">
	            <h5>禁言信息</h5>
	        </div>
	        <div class="ibox-content">
	            <form id='form' method="post" class="form-horizontal">
	                <div class="form-group">
	                    <label class="col-sm-2 control-label">会员账号</label>
	                    <div class="col-sm-4">
	                        <input type="text" class="form-control"  value="" name="username" id="username" data-validate="required:请输入会员账号" />
	                        <span class="help-block m-b-none"></span>
	                    </div>
	                </div>
	                <div class="hr-line-dashed"></div>
	                <div class="form-group">
	                    <label class="col-sm-2 control-label">禁言时长</label>
	                    <div class="col-sm-2">
	                        <span class="col-sm-8" style="padding-left: 0px;">
	                        	<input type="text" class="form-control"  value="" name="gag_time" id="gag_time" data-validate="required:请输入禁言时长" />
                        	</span>
	                        <span class="col-sm-4 help-block m-b-none">(分)</span>
	                    </div>
	                </div>
	                <div class="hr-line-dashed"></div>
	                <div class="form-group">
	                    <label class="col-sm-2 control-label">禁言原因</label>
	                    <div class="col-sm-5">
	                        <textarea class="col-sm-10" style="height:140px;" name="gag_reason" id='gag_reason'></textarea>
	                        <span class="help-block m-b-none"></span>
	                    </div>
	                </div>
                </form>
	            <div class="form-group">
	            	<div class="col-sm-4 col-sm-offset-2">
	                	<button class="btn btn-primary" type="submit" id="btn_submit">提交</button>
	                	<button class="btn btn-white" id="btn_cancel" type="submit">取消</button>
	            	</div>
       			</div>
            </div>
        </div>
     </div>
        <script type="text/javascript">
            var loading = "";//加载中......

            $(function () {
                $("#btn_submit").click(function () {
                    //数据
                    var data = new Object();
                    data.username = $.trim($("input[name=username]").val());
                    data.gag_time = $.trim($("input[name=gag_time]").val());
                    data.gag_reason = $.trim($("textarea[name=gag_reason]").val());
                    if(data.gag_time == '0'){
                        layer.open({
                            content: "<p class='alert_msg'>禁言时长不能为0</p>",
                            btn: '<p class="alert_buttom">我知道了</p>'
                        });
                    }
                    
                    //提示信息
                    var msg = new Object();
                    msg.username = '请填写要禁言的用户';
                    msg.gag_time = '请填写要禁言的时长';
                    msg.gag_reason = '请填写要禁言的原因';
                    //检查的值
                    var arr = [ 'username', 'gag_time', 'gag_reason'];

                    var onOff = true;
                    $.each(data, function(k, v){
                        if($.inArray(k,arr) != -1){
                            if(v==''){
                                layer.open({
                                    content: "<p class='alert_msg'>"+msg[k]+"</p>",
                                    btn: '<p class="alert_buttom">我知道了</p>'
                                });
                                onOff = false;
                                return false;
                            }
                        }
                    });
                    if(!onOff){
                        return false;
                    }

                    $.ajax({
                        url: '?m=admin&c=message&a=doAddTalk',
                        data: $("#form").serialize(),
                        dataType: 'json',
                        type: 'post',
                        beforeSend: function () {
                            loading = layer.load(1);
                        },
                        error: function () {
                            layer.close(loading);
                            layer.msg('服务器错误！！！', {icon: 5, shade: [0.5, '#393D49']});
                        },
                        success: function (result) {
                            layer.close(loading);
                            if (result.rt > 0) {
                                layer.msg('提交成功！！！', {icon: 6, shade: [0.5, '#393D49']}, function () {
                                	location.href = '?m=admin&c=message&a=untalk';
                                });
                            }else if(result.rt == -1){
                                layer.msg('不存在的用户名！！！', {icon: 5, shade: [0.5, '#393D49']});
                            }else if(result.rt == -2){
                                layer.msg('该用户已添加禁言！！！', {icon: 5, shade: [0.5, '#393D49']});
                            }else{
                                layer.msg('添加失败！！！', {icon: 5, shade: [0.5, '#393D49']});
                            }
                        }
                    });
                });

                $("#btn_cancel").click(function () {
                    location.href = '?m=admin&c=message&a=untalk';
                });
                
                $("#btn_back").click(function () {
                    location.href = '?m=admin&c=message&a=untalk';
                });
            });

        </script>
    </body>
</html>