<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <!-- <script src="statics/admin/js/jquery.min.js" type="text/javascript"></script> -->
    <link rel="stylesheet" href="statics/admin/css/datePicker.css">
    <link rel="stylesheet" href="statics/admin/css/admin.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.ext.css">
    <script src="statics/admin/js/jquery.js"></script>
    <script src="statics/admin/js/layer/2.1/layer.js"></script>
    <script src="statics/admin/js/layer/2.1/extend/layer.ext.js"></script>
    <script src="statics/admin/js/pintuer.js"></script>
    <script src="statics/admin/bootstrap/js/bootstrap.min.js"></script>
    {template public-new-ui-header}

    <!-- 图片上传 引入插件 -->
    <script src="statics/admin/fileupload/js/vendor/jquery.ui.widget.js"></script>
    <script src="statics/admin/fileupload/js/jquery.fileupload.js"></script>
</head>
<body style="margin: 15px;background-color: #f3f3f4;">
<div class="ibox float-e-margins">
    <div class="ibox-title iboxWTitle">
        <h5>{$_REQUEST['title']}</h5>
        <div class="ibox-tools">
            <a href="javascript:void(0)" class="btn btn-white btn-bitbucket" onclick="javascript:history.go(-1);">
                <i class="fa fa-reply"></i> 返回
            </a>
        </div>
    </div>
    <div class="ibox-content bagCol">
        <div class="ibox-title">
            <h5>详情</h5>
        </div>
        <div class="ibox-content">
            <form method="get" class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label">账号</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" value="{$list['username']}"  name="userName" {if !empty($uid)}readonly="readonly"{/if} />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" value="{$list['nickname']}" name="nickName" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{if empty($uid)}余额{else}增加金额{/if}</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" value="" name="money" data-id="{$list['user_id']}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">头像</label>
                    <div class="col-sm-4">
                        <img class="avatar-img" src="{$list['avatar']}" alt="" style="float: left;width:200px; {if $list['avatar'] == ''} display:none; {/if}" onclick="this.nextElementSibling.click();">
                        <input style="display:none;" name="file" class="file_upload avatar-input" type="file">
                        {if $list['avatar'] == ""}
                        <a class="avatar-a" href="javascript:;" onclick="this.previousElementSibling.click();">上传图片<br />(建议图片大小210*210)</a>
                        {/if}
                        <input class="form-control" name="avatar" value="{$list['avatar']}" type="hidden">
                    </div>

                    <div class="col-sm-2"><button id="fromSys" class="btn btn-primary" type="button">使用系统头像</button></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-2 col-sm-offset-1">
                        <button class="btn btn-primary" type="button"  id="{if (empty($uid))}btn_submit{else}btn_submit_modify{/if}">提交</button>
                        <button class="btn btn-white" type="button" style="border: 1px solid #e7eaec" onclick="javascript:history.go(-1);" id="qx_submit">取消</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var loading = "";//加载中......
    
    var close;
    $('#fromSys').click(function () {
        close = layer.open({
            type: 2,
            title: "选择系统头像",
            content: "<?=url('','',sysImg)?>",
            end:function () {
            }
        });
        layer.full(close);
    });

    //获取url中的参数
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }

    $(".file_upload").fileupload({
        url: "?m=admin&c=role&a=uploadFile",
        sequentialUploads: true
    }).bind('fileuploaddone', function(e, data) {
        var res = $.parseJSON(data.result);
        if (res.code == 0) {
            $(".avatar-img").attr({'src': res.msg}).show();
            $(".avatar-input").attr({'style': "width:200px; float: left; opacity: 0 ; margin-left: -200px"});

            $('input[name="avatar"]').val(res.msg);
            $('.avatar-a').css("display","none");
        } else {
            layer.msg(res.msg,{icon:5, shade: [0.5, '#393D49']}); //弹出错误信息
            return false;
        }
    });

    $("#btn_submit_modify").on("click",function(){
        var s = /^[0-9]*$/;
        var s1 = /^[\u4e00-\u9fa5a-zA-Z]+$/;
        var data = {
            "uid":$("input[name='money']").attr("data-id"),
            "money":$("input[name='money']").val(),
            "nickname":$("input[name='nickName']").val(),
            "avatar":$("input[name='avatar']").val(),
            "type":"update"
        }
        if(!s.test(data.money))
        {
            layer.msg('金额不能小于0', {icon: 5, shade: [0.5, '#393D49']});
            return false;
        }
        if(data.nickname == "")
        {
            layer.msg('请输入昵称', {icon: 5, shade: [0.5, '#393D49']});
            return false;
        }
        if(!s1.test(data.nickname) || data.nickname.length>8)
        {
            layer.msg('只允许输入中文和字母，并且长度不超过8位。', {icon: 5, shade: [0.5, '#393D49']});
            return false;
        }

        $.ajax({
            url: '?m=admin&c=role&a=modifyDummy',
            data: data,
            dataType: 'json',
            type: 'post',
            beforeSend: function () {
                loading = layer.load(1);
            },
            error: function () {
                layer.close(loading);
                layer.msg('网络错误，请重试', {icon: 5, shade: [0.5, '#393D49']});
            },
            success: function (result) {
                layer.close(loading);
                if (result.code == 0) {
                    layer.msg(result.msg, {icon: 6, shade: [0.5, '#393D49']}, function () {
                        location.href = '?m=admin&c=role&a=dummyList';
                    });
                } else {
                    layer.msg(result.msg, {icon: 5, shade: [0.5, '#393D49']});
                }
            }
        });
    })

    $("#btn_submit").click(function () {
        var s = /^[0-9]*$/;
        var s1 = /^[\u4e00-\u9fa5a-zA-Z]+$/;
        var data = {
            'username':$("input[name='userName']").val(),
            'nickname':$("input[name='nickName']").val(),
            'money':$("input[name='money']").val(),
            "avatar":$("input[name='avatar']").val(),
            "type":"user"
        }
        if(data.username == "")
        {
            layer.msg('请输入用户名', {icon: 5, shade: [0.5, '#393D49']});
            return false;
        }
        if(data.nickname == "")
        {
            layer.msg('请输入昵称', {icon: 5, shade: [0.5, '#393D49']});
            return false;
        }
        if(data.money == "" || data.money < 0 || !s.test(data.money))
        {
            layer.msg('金额不能小于0', {icon: 5, shade: [0.5, '#393D49']});
            return false;
        }
        if(!s1.test(data.nickname) || data.nickname.length>8)
        {
            layer.msg('只允许输入中文和字母，并且长度不超过8位。', {icon: 5, shade: [0.5, '#393D49']});
            return false;
        }

        $.ajax({
            url: '?m=admin&c=role&a=addDummy',
            data: data,
            dataType: 'json',
            type: 'post',
            beforeSend: function () {
                loading = layer.load(1);
            },
            error: function () {
                layer.close(loading);
                layer.msg('网络错误，请重试', {icon: 5, shade: [0.5, '#393D49']});
            },
            success: function (result) {
                layer.close(loading);

                if (result.code == 0) {
                    layer.msg(result.msg, {icon: 6, shade: [0.5, '#393D49']}, function () {
                        layer.confirm('', {
                            btn: ['继续添加', '返回列表'] //可以无限个按钮
                        }, function () {
                            location.href = '?m=admin&c=role&a=editDummy';
                        }, function () {
                            location.href = '?m=admin&c=role&a=dummyList';
                        });
                    });
                } else {
                    layer.msg(result.msg, {icon: 5, shade: [0.5, '#393D49']});
                }
            }
        });
    });
</script>
</body>
</html>