<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
       	<link rel="stylesheet" href="statics/admin/css/pintuer.css">
        <link type="text/css" href="statics/admin/js/layer/2.1/skin/layer.css" rel="stylesheet">
	    <link type="text/css" href="statics/admin/js/layer/2.1/skin/layer.css" rel="stylesheet">
	    <script src="statics/admin/js/jquery.js"></script>
        <script src="statics/admin/js/layer/2.1/layer.js"></script>
        <script src="statics/admin/js/layer/2.1/extend/layer.ext.js"></script>
        <script src="statics/admin/js/bootstrap.min.js"></script>
   	    {template public-new-ui-header} 
        <style>
            #page{height: 60px;margin-top: 20px;text-align: center;}
            #page ul li{float: left;margin-right:10px;}
            #page ul .current{ background-color:#0099ff;text-align:center;}
        </style>
    </head>
    <body class="new_ui_body">
    <div class="ibox float-e-margins">
	    <div class="ibox-title iboxWTitle">
	        <h5>停售信息设置</h5>
			<div class="ibox-tools">
				<a href="javascript:;" class="btn btn-white btn-bitbucket" onclick="history.go(-1);">
					<i class="fa fa-reply"></i>返回
				</a>
			</div>
	    </div>
	    <div class="ibox-content bagCol">
	        <div class="ibox-title ">
	            <h5>停售信息</h5>
	            <div class="ibox-tools">
	            	<a class="btn btn-white btn-bitbucket btn_sure" id="update" data-title="修改"><i class="fa fa-pencil"></i> </a>
	        	</div>
	        </div>
	        <div class="ibox-content">
	            <form id='form_update' method="post" class="form-horizontal form_add">
	                <div class="form-group">
	                    <label class="col-sm-2 control-label">彩种名称</label>
	                    <div class="col-sm-2">
                   			<span class="col-sm-8" style="padding-left: 0px;">
                   			<input type="hidden" id="id" name="id" value="{$lottery['id']}" />
                       		<input type="text" class="form-control"  value="{$lottery['name']}"  readonly/>
                       		</span>
                       		<span class="col-sm-4 help-block m-b-none"></span>
	                    </div>
	                </div>
	                <div class="hr-line-dashed"></div>

	                <div class="form-group">
	                    <label class="col-sm-2 control-label">停售提示语</label>
	                    <div class="col-sm-8">
                   			<span class="col-sm-9" style="padding-left: 0px;">
                       		<input type="text" class="form-control" id="tip" value="{$lottery['tip']}" name="tip"  readonly/>
                       		</span>
                       		<span class="col-sm-3 help-block m-b-none"></span>
	                    </div>
	                </div>
	                <div class="hr-line-dashed"></div>
                </form>
            </div>
        <script type="text/javascript">
            var loading = ""; //加载中......
            
            $(".btn_sure").click(function () {
            	var form_id = 'form_' + $(this).attr('id');
        		var i_class = $(this).children('i').attr('class');
        		if (i_class == 'fa fa-pencil') {
        			$(this).attr('data-title', '保存');
        			$(this).children('i').attr('class', 'fa fa-save');
        			$('#' + form_id).find("input[name='tip']").attr('readonly', false);
        		}else {
        			var id     = $('#id').val();
        			var tip  = $('#tip').val();


                    if(tip == "") {
                        layer.msg('停售提示语不能为空！', {icon: 5, shade: [0.5, '#393D49']});
                        return false;
                    }

                    $.ajax({
                        url: "?m=admin&c=role&a=updateStopSell",
                        data: {id:id,tip:tip},
                        dataType: 'json',
                        type: 'post',
                        beforeSend: function () {
                            loading = layer.load(1);
                        },
                        error: function () {
                            layer.close(loading);
                            layer.msg('网络异常，稍后再试！！！', {icon: 5, shade: [0.5, '#393D49']});
                        },
                        success: function (data) {
                            layer.close(loading);
                            if(data['code'] != 0)
                            {
                                layer.msg(data['msg'], {icon: 5, shade: [0.5, '#393D49']}, function () {
                                    return false;
                                });
                            }
                            else
                            {
                                layer.msg(data['msg'], {icon: 6, shade: [0.5, '#393D49']}, function () {
                                    location.href = "<?=url('admin','role','stopSell')?>";
                                });
                            }

                        }
                    });
        		}
       		});
        </script>
    </body>
</html>