<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="statics/admin/css/pintuer.css">
    <link rel="stylesheet" href="statics/admin/css/admin.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.ext.css">
    <script src="statics/admin/js/jquery.js"></script>
    <script src="statics/admin/js/layer/2.1/layer.js"></script>
    <script src="statics/admin/js/layer/2.1/extend/layer.ext.js"></script>
    <script src="statics/admin/js/pintuer.js"></script> 
    {template public-new-ui-header}
</head>

    <body class="new_ui_body">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title iboxWTitle">
                        <h5>修改会员组</h5>
                        <div class="ibox-tools">
                            <a href="javascript:;" class="btn btn-white btn-bitbucket" onclick="history.go(-1);">
                                <i class="fa fa-reply"></i>返回
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content bagCol" style="width: 100%;">

                        <form method="post" class="form-x" action="" id="form">
                            <input type="hidden" name="user_id"  value="{$row['id']}" />
                            <div class="ibox-title">
                                <h5>会员组资料</h5>
                            </div>
                            <div class="ibox-content m-b" style="width: 100%;">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label input_title"><i class="red_star">*</i>用户名</label>
                                        <div class="col-sm-3">
                                            <input class="w50 form-control" type="text" name="username" readonly value="{$row['username']}" data-validate="required:不能为空"/>
                                            <div class="tips"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label input_title">会员组</label>
                                        <div class="col-sm-3">
                                            <select name="group_id" class="input form-control">
                                            {loop $group $v}
                                            <option value="{$v['id']}" {if $v['id']==$row['group_id']} selected {/if}>{$v['name']}</option>
                                            {/loop}
                                            </select> 
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-3 col-sm-offset-2">
                                            <button class="btn btn-primary" type="button" id="btn" onclick="dis()">提交</button>
                                            &nbsp;
                                            <button class="btn btn-white" type="button" onclick="history.go(-1);">取消</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <script>
        var loading = "";//加载中
        
	function dis(){
            var data = $('#form').serialize();
            $.ajax({
                type: 'POST',
                url: '?m=admin&c=user&a=set_user_group_ok',
                data:data,
                dataType:'json',
                beforeSend:function(){
                    loading = layer.load(1);
                },
                error:function(){
                    layer.close(loading);
                    layer.msg('服务器错误',{icon:5, shade: [0.5, '#393D49']});
                },
                success:function(msg){
                    layer.close(loading);
                    if(msg.rt){
                        layer.msg('修改成功',{icon:6, shade: [0.5, '#393D49']},function(){
                            location.href = '?m=admin&c=user&a=money_tj';
                        });
                    }else{
                        layer.msg('修改失败',{icon:5, shade: [0.5, '#393D49']});
                    }
                }
            });
        }
    </script>
</body>
</html>