<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><?php echo C("app_webname"); ?> 管理平台</title>
    <!-- <script src="statics/admin/js/jquery.min.js" type="text/javascript"></script> -->
    <link rel="stylesheet" href="statics/admin/css/datePicker.css">
    <link rel="stylesheet" href="statics/admin/css/admin.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.ext.css">
    <script src="statics/admin/js/jquery.js"></script>
    <script src="statics/admin/js/layer/2.1/layer.js"></script>
    <script src="statics/admin/js/layer/2.1/extend/layer.ext.js"></script>
    <script src="statics/admin/js/pintuer.js"></script>
    <script src="statics/admin/bootstrap/js/bootstrap.min.js"></script>
    {template public-new-ui-header}
</head>
<body style="margin: 15px;background-color: #f3f3f4;">
<div class="ibox float-e-margins">
    <div class="ibox-title iboxWTitle">
        <h5>是否自动到账</h5>
        <div class="ibox-tools">
            <a href="javascript:void(0)" class="btn btn-white btn-bitbucket" onclick="javascript:history.go(-1);">
                <i class="fa fa-reply"></i> 返回
            </a>
        </div>
    </div>
    <div class="ibox-content bagCol">
        <div class="ibox-title">
            <h5>详情</h5>
        </div>
        <div class="ibox-content">
            <form method="get" class="form-horizontal">
                <div class="col-sm-2">
                    <div class="input-group m-b"><span>自动到账</span>
                        开启<input type="radio" name="auto_set" {if $auto_online_handsel==1}checked="checked"{/if} value='1'/>
                        关闭<input type="radio" name="auto_set" {if $auto_online_handsel==2}checked="checked"{/if} value='2'/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    $('input[name="auto_set"]').change(function () {
        var set = $('input[name="auto_set"]:checked').val();
        $.ajax({
            url : "?m=admin&c=activity&a=setAutoOnlineHandsel",
            type : 'POST',
            data : {set:set},
            dataType:"json",
            success: function(data){
                layer.msg('操作成功！！！', {icon: 6, shade: [0.5, '#393D49']}, function () {
                    location.reload();
                });
            },
            error:function(er){
                layer.msg('操作成功！！！', {icon: 6, shade: [0.5, '#393D49']}, function () {
                    location.reload();
                });
            }
        });
    });
</script>
</html>