<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <!-- <script src="statics/admin/js/jquery.min.js" type="text/javascript"></script> -->
    <link rel="stylesheet" href="statics/admin/css/datePicker.css">
    <link rel="stylesheet" href="statics/admin/css/admin.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.css">
    <link rel="stylesheet" href="statics/admin/js/layer/2.1/skin/layer.ext.css">
    <script src="statics/admin/js/jquery.js"></script>
    <script src="statics/admin/js/layer/2.1/layer.js"></script>
    <script src="statics/admin/js/layer/2.1/extend/layer.ext.js"></script>
    <script src="statics/admin/js/pintuer.js"></script>
    <script src="statics/admin/bootstrap/js/bootstrap.min.js"></script>
    {template public-new-ui-header}

    <!-- 图片上传 引入插件 -->
    <script src="statics/admin/fileupload/js/vendor/jquery.ui.widget.js"></script>
    <script src="statics/admin/fileupload/js/jquery.fileupload.js"></script>
</head>
<body style="margin: 15px;background-color: #f3f3f4;">
<div class="ibox float-e-margins">
    <div class="ibox-content bagCol">
        <div class="ibox-content">
            {loop $list $v}
                <img width="100px" src="{$v['avatar_url']}" onclick="imgFun(this)"/>
            {/loop}
        </div>
    </div>
</div>

<script type="text/javascript">
    function imgFun(e){
        var val=$(e).attr("src");
        parent.$("input[name=avatar]").val(val);
        parent.$(".avatar-img").attr('src', val).show();
        parent.$('.avatar-a').css("display","none");
        parent.layer.close(parent.close);
    }
</script>
</body>
</html>