<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title></title>
</head>
<body>
<form name="form1" id="form1" method="post" action="https://pay.zhihpay.com/gateway?input_charset=GBK">
    <input type="hidden" name="URL" id="URL" value="https://pay.zhihpay.com/gateway?input_charset=GBK" />
    <input type="hidden" name="bank_code" id="bank_code" value="ABC" />
    <input type="hidden" name="extra_return_param" id="extra_return_param" value="" />
    <input type="hidden" name="input_charset" id="input_charset" value="GBK" />
    <input type="hidden" name="interface_version" id="interface_version" value="V3.0" />
    <input type="hidden" name="merchant_code" id="merchant_code" value="801000002123" />
    <input type="hidden" name="notify_url" id="notify_url" value="https://pay.newpaypay.com/center/proxy/partner/v1/web/zf_notify/offline_notify.jsp" />
    <input type="hidden" name="order_amount" id="order_amount" value="0.10" />
    <input type="hidden" name="order_no" id="order_no" value="606311" />
    <input type="hidden" name="order_time" id="order_time" value="2017-06-09 10:41:44" />
    <input type="hidden" name="product_name" id="product_name" value="深圳市新生云智科技有限公司" />
    <input type="hidden" name="redo_flag" id="redo_flag" value="1" />
    <input type="hidden" name="return_url" id="return_url" value="https://pay.newpaypay.com/center/proxy/partner/v1/web/zf_notify/page_notify.jsp" />
    <input type="hidden" name="service_type" id="service_type" value="direct_pay" />
    <input type="hidden" name="sign" id="sign" value="JCOWePJmbNk1F7e6rSUl8lqCtUHii+95nrxRyOJ7SdAFXvzIqHLz4JE3Wnm4cRnM5hX5JHAJ1PGxjCXuqjx2HToXGg1ipbL55XzZwtlrOAbgWE1NfL6SrRUS+KvOkiHk5buEgY8PgzWQlQNS9VwnIeCxmEzdAJ47EM1EGCQmASc=" />
    <input type="hidden" name="sign_type" id="sign_type" value="RSA-S" />
</form>
<script language="JavaScript">
    document.getElementById("form1").submit();
</script>
</body>
</html>