<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="statics/admin/css/pintuer.css">
    <link rel="stylesheet" href="statics/admin/css/admin.css">
    <link rel="stylesheet" href="statics/admin/css/datePicker.css">
    <script src="statics/admin/js/jquery.js"></script>
    <!-- <script src="statics/admin/js/jquery.min.js" type="text/javascript"></script> -->
    <script src="statics/admin/js/pintuer.js"></script>
    <script src="statics/admin/js/layer/2.1/layer.js"></script>
    <script src="statics/admin/js/jquery.date_input.pack.js"></script>
    <style>
        #page{height: 60px;margin-top: 20px;text-align: center;}
        #page ul li{float: left;margin-right:10px;}
        #page ul .current{ background-color:#0099ff;text-align:center;}
    </style>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 第三方支付列表</strong></div>
    <table class="table table-hover text-center table-bordered">
        <tr>
            <th>序号</th>
            <th>支付名称</th>
            <th>适用层级</th>
            <th>排序</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tbody id="list_tb">
        <?php foreach($data as $val){ ?>
        <tr>
            <td><?php echo $val['id'];  ?></td>
            <td><?php echo $val['name'];  ?></td>
            <td><?php echo $val['pay_layers']?:'所有层级'; ?></td>
            <td><?php echo $val['sort'];  ?></td>
            <td><a href="javascript:void(0)" onclick="modifyType(<?php echo $val['canuse'].','.$val['id'];  ?>)" style="color: #0099ff;"><?php if($val['canuse'] == 0) { echo "停用"; }else{ echo "启用"; } ?></a></td>
            <td><a href="<?=url('admin','role','thirdConfigEdit',['id'=>$val['id']])?>" style="color: #0099ff;">编辑</a></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
</div>
</body>
</html>
<script type="text/javascript">
    function modifyType(type,id)
    {
        if(type == 0)
        {
            type = 1;
        }
        else
        {
            type = 0;
        }
        var data = {
            "canuse":type,
            "id":id
        }
        $.ajax({
            url: "<?=url('admin','role','modifyType')?>",
            data: data,
            dataType: 'json',
            type: 'post',
            beforeSend: function () {
                loading = layer.load(1);
            },
            error: function () {
                layer.close(loading);
                layer.msg('服务器错误！！！', {icon: 5, shade: [0.5, '#393D49']});
            },
            success: function (data) {
                layer.close(loading);
                if(data['code'] != 0)
                {
                    layer.msg(data['msg'], {icon: 5, shade: [0.5, '#393D49']}, function () {
                        return false;
                    });
                }
                else
                {
                    layer.msg(data['msg'], {icon: 6, shade: [0.5, '#393D49']}, function () {
                        location.href = "<?=url('admin','role','thirdConfigList',['id'=>$data['id']])?>";
                    });
                }

            }
        });
    }
</script>