<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="target-densitydpi=320,width=750,user-scalable=no" name="viewport" />
    <meta content="no" name="apple-touch-fullscreen" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>天天返利</title>
    <!--<link href="/statics/web/css/css.css" rel="stylesheet" type="text/css">-->
    {template public-header}
</head>
<body>
<section style="padding-top: 0;">
    <div class="rebate">
        <h1 style="text-align: center;">{$infoArr[0]['title']}</h1>
        <h3>{$infoArr[0]['short']}</h3>
        <div class="rebateTime">
            <span> 活动时间: <!--<?=date('Y-m-d', $infoArr[0]['addtime'])?>-->
                <?php
            $times = explode('|',$infoArr[0]['time']);
            echo $times[0];
           ?>
                到 {$times[1]}
            </span>
        </div>
        <p>{$infoArr[0]['content']}</p>
    </div>
</section>
</body>
</html>