<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p {padding: 0px 0px 30px 30px}
        h2{text-align: center;padding: 50px 0px 30px 0px}
    </style>
</head>
<body>
<h2>加拿大28玩法说明</h2>
<p>加拿大28数据（20:00-次日19:00）为正常销售时间。</p>
<p>19：00-20:00（大约）为系统维护时间，具体情况依据加拿大28官方开售时间为准。</p>
<p>加拿大28开奖结果来源于加拿大福利彩票的加拿大幸运28开奖结果。</p>
<p>加拿大28每期开奖共开出20个号码，并且按照从小到大的顺序依次排列。</p>
<p>取其2、5、8、11、14、17位数进行相加，和值的末位数作为幸运28开奖的第一位数值。</p>
<p>取其3、6、9、12、15、18位数进行相加，和值的末位数作为幸运28开奖的第二位数值。</p>
<p>取其4、7、10、13、16、19位数进行相加，和值的末位数作为幸运28开奖的第三位数值。</p>
<p>将三位数值进行相加，所得的结果即为幸运28的开奖结果。</p>
<p>加拿大28数据（20:00-次日19:00）为正常销售时间。</p>
<h2>加拿大28玩法</h2>
<p>28个号码，抽中即可获得奖励。玩法类型共有一下玩法：</p>
<p>1、大，小，单，双</p>
<p>2、小单，小双，大单，大双</p>
<p>3、极小值（0-5），极大值（22-27）</p>
<p>4、28个号码定位</p>
</body>
</html>