<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首充返利</title>
    <style>
        p {padding: 0px 0px 30px 30px}
        h2{text-align: center;padding: 50px 0px 30px 0px}
    </style>
</head>
<body>
<h2>新会员首充返利</h2>
<p>1、新注册玩家首充28元现返28元，只需要玩到128元即可提现。</p>
<p>2、新注册玩家首次单笔直充满1000元，再返28元。</p>
<p>3、新老用户单笔充值5000以上送88元宝。</p>
<p>4、新老用户单笔充值10000以上送188元宝。</p>
<p>5、新老用户单笔充值20000以上送388元宝。</p>
<p>6、单笔充值30000 以上送888元宝。</p>
<p>（每人每天限参与领取一次 ）</p>

<h2>线下银行转账有惊喜</h2>
<p>凡使用线下充值- 银联转账的用户，平台予以返利</p>
<p>当日首次充值 ，按范围返利  10 - 10000 平台多赠送 1 %</p>
<p>当日第二次充值 ，按范围返利 100 - 20000  平台多赠送 1.2%</p>
<p>当日第三次充值，按范围返利  1000 - 50000  平台多赠送 2 %</p>
<p>注： 活动申请联系客服QQ： 93219380</p>
<p>微信号： legou28com</p>
<p>官方网址  www. pc520.com</p>
<p>以上所有活动禁止玩家使用非正常手段进行谋利 ，禁止利用多账号参与活动，同一IP 、同一姓名的账户、进行玩法对冲下注，一经发现冻结账户资金。</p>

</body>
</html>