<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>群内/站内红包</title>
    <style>
        p {padding: 0px 0px 30px 30px}
        h2{text-align: center;padding: 50px 0px 30px 0px}
    </style>
</head>
<body>
<h2>群内/站内红包</h2>
<p>蛋蛋为长期支持PC28的玩家准备了每天不定时，不定期随机在群里发拼手气红包福利，先到先到，抢完为止，拼手气红包金额随机有大有小，欢迎玩家加群分享快乐；</p>
<p>官方Q群：8002718；</p>
<p>官方微信群：联系客服受邀加入，派发红包时才会组建；</p>
<p>站内红包也会不定时发放，系统根据当日玩家充值排行榜进行随机派发。</p>
<h2>参与要求：</h2>
<p>1、您必须是通过实名注册的有效玩家，累计充值次数5次以上；</p>
<p>2、为防止多小号参与，每期活动的全程您需要保持账户金额再300元宝以上。</p>
<p>需要留意满足下列条件的用户将会增加获得被抽中概率以及官方神秘彩金：</p>
<p>1、完善个人资料 ，绑定微信账号，电子邮箱，设定人物头像；</p>
<p>2、当日有充值参与投注的用户。</p>
</body>
</html>